body{
	background: url("img/kubrickbgcolor.gif");
	background-color: #e7e7e7;
font-size:62.5%;
font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;

color:#333;
text-align:center;
}
#header {
 
 margin: 0 !important; margin: 0 0 0 1px; padding: 1px; height: 10px; width: 758px; 
 background: url("img/kubrickheaderrr.gif") no-repeat bottom center;  }
#headerimg { 
margin: 7px 9px 0; height: 192px; width: 740px; }
#headerimg {
background-image: none;
background-repeat: no-repeat;
background-position: top;
}
#header h1 a, #header h1 a:hover, #header .description {
color: #ffffff;
}
.space_top{
	width: 100%;
	height: 100px;
	border: 1px solid red;
}
#page{
	background-color:white !important;
	margin-top: 60px !important;
	margin: 0 auto;
	padding:0;
	width:760px;
	background: url("img/kubrickbg.gif") repeat-y top;
	border: none;
	box-shadow:0px 2px 5px #acacac;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #959596;
	text-align:center;
}
#headerimg{
margin:7px 9px 0;height:192px;width:740px;
}
#content{
font-size:1.2em;
}
.widecolumn .entry p{
font-size:1.05em;
}
.narrowcolumn .entry, .widecolumn .entry{
line-height:1.4em;
}
.widecolumn{
line-height:1.6em;
}
.narrowcolumn .postmetadata{text-align:center;}.thread-alt{background-color:#f8f8f8;}.thread-even{background-color:white;}.depth-1{border-top:1px solid #ddd;border-bottom:1px solid #ddd;}.children .even, .children .alt{border:0;border-left:1px solid #ddd;}

#footer{
-moz-border-radius:10px;
-khtml-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border: none;
 background-image: url(../img/kubrickfooter.gif) ;
 background-position: bottom;
 background-repeat:  repeat-x;
background-color: white
}

small{font-family:Arial, Helvetica, Sans-Serif;font-size:0.9em;line-height:1.5em;}h1, h2, h3{font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;font-weight:bold;}h1{font-size:2em;text-align:center;}#headerimg .description{font-size:1.2em;text-align:center;}h2{font-size:1.6em;}h2.pagetitle{font-size:1.6em;}#sidebar h2{font-family:'Lucida Grande', Verdana, Sans-Serif;font-size:1.2em;}h3{font-size:1.3em;}h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description{text-decoration:none;color:red;}h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited{color:#333;}h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite{text-decoration:none;}.entry p a:visited{color:#b85b5a;}.sticky{background:#f7f7f7;padding:0 10px 10px 10px;}.sticky h2{padding-top:10px;}.sticky{background:#f7f7f7;padding:0 10px 10px;}.sticky h2{padding-top:10px;}.commentlist li, #commentform input, #commentform textarea{font:0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;}.commentlist li ul li{font-size:1em;}.commentlist li{font-weight:bold;}.commentlist li .avatar{float:right;border:1px solid #eee;padding:2px;background:#fff;}.commentlist cite, .commentlist cite a{font-weight:bold;font-style:normal;font-size:1.1em;}.commentlist p{font-weight:normal;line-height:1.5em;text-transform:none;}#commentform p{font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;}.commentmetadata{font-weight:normal;}#respond label{font-size:10px;clear:right;color:#777;}#respond input[type="text"]{float:left;margin-right:8px;}#respond p{line-height:30px;margin:10px;}#respond .comment-form-comment label,
#respond .form-allowed-tags{display:none;}#respond .required{font-size:11px;margin-left:5px;color:#ff4b33;font-weight:bold;}#respond .subscribe-label{font-size:11px;color:#444;}#respond .comment-notes{font-size:11px;}#respond #cancel-comment-reply-link{font-size:12px;color:#06c;}#sidebar{font:1em 'Lucida Grande', Verdana, Arial, Sans-Serif;}small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike{color:#777;}code{font:1.1em 'Courier New', Courier, Fixed;}acronym, abbr, span.caps{font-size:0.9em;letter-spacing:.07em;}a, h2 a:hover, h3 a:hover{color:#06c;text-decoration:none;}a:hover{color:#147;text-decoration:underline;}#wp-calendar #prev a, #wp-calendar #next a{font-size:9pt;}#wp-calendar a{text-decoration:none;}#wp-calendar caption{font:bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;text-align:center;}#wp-calendar th{font-style:normal;text-transform:capitalize;}body{margin:0 0 20px 0;padding:0;}


#header{background-color:#73a0c5;margin:0 0 0 1px;padding:0;height:200px;width:758px;}#headerimg{margin:0;height:200px;width:100%;}.narrowcolumn{float:left;padding:0 0 20px 45px;margin:0px 0 0;width:450px;}.widecolumn{
	width:600px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 85px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}.post{margin:0 0 40px;text-align:justify;}.post .contact-form{text-align:left;}.post hr{display:block;}.widecolumn .post{
	margin:0;
	text-align: center;
}.narrowcolumn .postmetadata{padding-top:5px;}.widecolumn .postmetadata{margin:30px 0;}.widecolumn .smallattachment{text-align:center;float:left;width:128px;margin:5px 5px 5px 0px;}.widecolumn .attachment{text-align:center;margin:5px 0px;}.postmetadata{clear:both;}.clear{clear:both;}#footer{padding:0;margin:0 auto;width:760px;clear:both;}#footer p{margin:0;padding:20px 0;text-align:center;}h1{padding-top:10px;margin:0;}h2{margin:30px 0 0; color:red;}h2.pagetitle{margin-top:30px;text-align:center;}#sidebar h2{margin:5px 0 0;padding:0;},post h2{text-align:left;}h3{padding:0;margin:30px 0 0;}h3.comments{padding:0;margin:40px auto 20px;}p img{padding:0;max-width:100%;}img.centered, img.aligncenter{display:block;margin-left:auto;margin-right:auto;}img.alignright{padding:4px;margin:0 0 2px 7px;display:inline;}img.alignleft{padding:4px;margin:0 7px 2px 0;display:inline;}.alignright{float:right;}.alignleft{float:left;}html>body .entry ul{margin-left:0px;padding:0 0 0 30px;list-style:none;padding-left:10px;text-indent:-10px;}html>body .entry li{margin:7px 0 8px 10px;}.entry ul li:before,
#sidebar ul ul li:before{content:"\00BB \0020";}.entry .sharing ul li:before{content:'';}*:first-child+html>body .entry ul{margin-left:0;padding:0 0 0 30px;list-style:disc;padding-left:10px;text-indent:10px;}*:first-child+html>body .entry ul li{margin:7px 0 8px 10px;}.entry ol{padding:0 0 0 35px;margin:0;}.entry ol li{margin:0;padding:0;}.postmetadata ul, .postmetadata li{display:inline;list-style-type:none;list-style-image:none;}#sidebar ul, #sidebar ul ol{margin:0;padding:0;}#sidebar ul li{list-style-type:none;list-style-image:none;margin-bottom:15px;}#sidebar ul p, #sidebar ul select{margin:5px 0 8px;}#sidebar ul ul, #sidebar ul ol{margin:5px 0 0 10px;}#sidebar ul ul ul, #sidebar ul ol{margin:0 0 0 10px;}ol li, #sidebar ul ol li{list-style:decimal outside;}#sidebar ul ul li, #sidebar ul ol li{margin:3px 0 0;padding:0;}#searchform{margin:10px auto;padding:5px 3px;text-align:center;}#sidebar #searchform #s{width:108px;padding:2px;}#sidebar #searchsubmit{padding:1px;}.entry form{text-align:center;}select{width:130px;}#commentform input{width:170px;padding:2px;margin:5px 5px 1px 0;}#commentform{margin:5px 10px 0 0;}#commentform textarea{width:100%;padding:2px;}#respond:after{content:".";display:block;height:0;clear:both;visibility:hidden;}#commentform #submit{margin:0;float:right;}.alt{margin:0;padding:10px;}.commentlist{padding:0;text-align:justify;}.commentlist li{margin:15px 0 3px;padding:5px 10px 3px;list-style:none;}.commentlist li ul li{margin-right:-5px;margin-left:10px;}.commentlist p{margin:10px 5px 10px 0;}#commentform p{margin:5px 0;}.nocomments{text-align:center;margin:0;padding:0;}.commentmetadata{margin:0;display:block;}#sidebar{padding:20px 0 10px 0;margin-left:545px;width:190px;}#sidebar form{margin:0;}#sidebar .widget{word-wrap:break-word;}#wp-calendar{empty-cells:show;margin:10px auto 0;width:155px;}#wp-calendar #next a{padding-right:10px;text-align:right;}#wp-calendar #prev a{padding-left:10px;text-align:left;}#wp-calendar a{display:block;}#wp-calendar caption{text-align:center;width:100%;}#wp-calendar td{padding:3px 0;text-align:center;}#wp-calendar td.pad:hover{background-color:#fff;}acronym, abbr, span.caps{cursor:help;}acronym, abbr{border-bottom:1px dashed #999;}blockquote{margin:15px 30px 0 10px;padding-left:20px;border-left:5px solid #ddd;}blockquote cite{margin:5px 0 0;display:block;}.center{text-align:center;}.hidden{display:none;}.screen-reader-text{position:absolute;left:-1000em;}hr{display:none;}a img{border:none;}.navigation{
	display:block;
	text-align:center;
	margin-top:10px;
	margin-bottom:60px;
}
.aligncenter,
div.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.wp-caption{
margin-top:30px ;
border:1px solid #ddd;
text-align:center;
background-color:#f3f3f3;
padding-top:4px;
margin:10px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
.wp-caption img{margin:0;padding:0;border:0 none;}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}

#menu_top_fix{
margin-top: -60px;
	z-index: 9999;
	width: 100%;
	 box-shadow:0px 2px 5px #acacac;
	text-align: center;
border-bottom: 1px solid black;
	background: white;
	position: fixed;
}
#menu_top_fix ul a{
color: blue;
font-size: 17px;
text-decoration: none;

border-bottom: 1px dashed blue;
}
#menu_top_fix ul a:hover{
color:  #5556ff;
border-bottom: 1px dashed #5556ff;
}
#menu_top_fix ul li{
margin-left: 10px;
margin-right: 10px;
display: inline-block;
}
#go_top{
	position: fixed;
	left: 100%;
	margin-left: -60px;
	margin-top: -60px;
	top: 100%;
	width: 45px;
	height: 45px;
	 background-image: url(../img/top.png);
	 background-repeat: no-repeat;
}
