/*
 * Boxer [Formstone Library]
 * @author Ben Plum
 * @version 1.6.6
 *
 * Copyright © 2013 Ben Plum <mr@benplum.com>
 * Released under the MIT License <http://www.opensource.org/licenses/mit-license.php>
 */
 
 	#boxer, #boxer .boxer-container, #boxer .boxer-content, #boxer-overlay {
		-webkit-transition: none;
		   -moz-transition: none;
		   	-ms-transition: none;
		   	 -o-transition: none;
		   	 	transition: none;
	}
 	
	#boxer-overlay { background: #000; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 105; }
	#boxer { background: #fff url(../images/fs-boxer-loading.gif) no-repeat center; border-radius: 5px; box-shadow: 0 0 25px #000; padding: 10px; position: absolute; z-index: 105; }
	#boxer.inline { padding: 30px; }
	#boxer .boxer-close { background: #fff url(../images/fs-boxer-icons.png) no-repeat -70px 10px; border-radius: 100%; cursor: pointer; display: block; height: 30px; position: absolute; padding: 0; right: -8px; top: -8px; width: 30px; text-indent: -99999px; z-index: 106; }
	#boxer .boxer-close:hover { background-position: -70px -20px; }
	#boxer .boxer-container { background: #fff; height: 100%; overflow: hidden; position: relative; width: 100%; z-index: 105; zoom: 1; }
	#boxer .boxer-content { background: #fff; overflow: hidden; padding: 0; width: 10000px; }
	#boxer .boxer-image { float: left; }
	#boxer .boxer-video { height: 100%; width: 100%; }
	#boxer .boxer-iframe { float: left; height: 100%; overflow: auto; width: 100%; }
	#boxer .boxer-meta { clear: both; }
	#boxer .boxer-arrow { background: #fff url(../images/fs-boxer-icons.png) no-repeat 0 0; border-radius: 100%;  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4); cursor: pointer; display: block; height: 40px; margin-right: auto; margin-left: auto; opacity: 0; position: absolute; text-indent: -99999px; top: 0; width: 40px; 
		-webkit-transition: opacity 0.1s linear;
		   -moz-transition: opacity 0.1s linear;
		   	-ms-transition: opacity 0.1s linear;
		   	 -o-transition: opacity 0.1s linear;
		   	 	transition: opacity 0.1s linear;
	}
	#boxer .boxer-arrow.previous { left: 20px; }
	#boxer .boxer-arrow.next { background-position: -40px 0; right: 20px; }
	#boxer .boxer-content:hover .boxer-arrow { opacity: 0.75; }
	#boxer .boxer-content .boxer-arrow:hover { opacity: 1; }
	#boxer .boxer-content:hover .boxer-arrow.disabled { opacity: 0.3; cursor: default !important; }
	
	#boxer .boxer-position { color: #999; font-size: 11px; margin: 0; padding: 15px 10px 5px; }
	#boxer .boxer-caption p { margin: 0; padding: 15px 10px 10px 10px; }
	#boxer .boxer-caption.gallery p { padding-top: 0; }