.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


.box-modal {
	position: relative;
	width: 400px;
	padding: 16px; 
	color: #000;
	font: 16px compr;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 6px; 
	background: #fff url(../img/how_work.png) center center;
}
.box-modal h3 {
font-size:30px;
color:#fff;
margin-bottom: 15px;}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 20px; line-height: 15px; color: #fff; cursor: pointer; }
.box-modal_close:hover { color: #000;text-decoration:underline; }
 
.box-modal input {background:url(../img/input_t.png) no-repeat;width:252px;height:44px;padding:0 15px;font-family:myrr;font-size:20px;}
.box-modal label {display:block;margin:0 auto 10px auto;}
.box-modal a {background:url(../img/button_t.png);width:292px;height:53px;padding:12px 0 0 0;display:block;margin:20px auto 0 auto;text-align:center;color:#143600;font-size:20px;font-family:condm;line-height:17px;text-shadow:0 1px 0 #69b331;}
.box-modal a span {font-size:26px;text-transform:uppercase;display:block;text-shadow:0 1px 0 #84c532;}