body {
	background-color: #202127;
}

div#topWrapper {
	border-bottom: 1px solid #303337;
	background: url('../tempimg/bg.jpg') top center no-repeat;
	height: 293px;
}

h1 {
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 18px;
	color: #d4e1ed;
	margin-bottom: 10px;
}

div#mainWrapper {
	width: 960px;
	margin: 0 auto;
}

ul.items {
	overflow: hidden;
	margin-top: 50px;
}

ul.items li {
	float: left;
	margin-right: 30px;
	margin-bottom: 50px;
}

ul.items li img {
	border: 1px solid #303337;
	padding: 5px;
}

ul.items li img:hover {
	border: 1px solid #4b4d57;
}

div#footer {
	border-top: 1px solid #303337;
	text-align: center;
	padding: 30px 0;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	color: #d4e1ed;
}
