@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
h1{font-size:22pt;}
h2{font-size:18pt;}
h3{font-size:14pt;}
h4,h5,h6{font-size:12pt;}
blockquote{padding-left:0;padding-right:0;margin:.5cm 0}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #B8895B;
	font-family: 'Open Sans', sans-serif;
}
a{color:#F16A04;}
#header {
	width: 100%;
	position: relative;
	min-height: 826px;
	/*background-image: url('../img/back_header.jpg');
	background-position: center 0;
	background-repeat: no-repeat;*/
	margin: auto;
}
/* ---------- FUll WIDTH BACKGROUND ---------- */
#bgimg {
	position:fixed;
	z-index: -1;
}

.wrap{ width: 981px; margin: 0 auto; }

#header .header{border-bottom: 2px solid rgba(250,250,250,0.6); min-height: 138px; 
	-webkit-box-shadow:  0px 3px 2px 1px rgba(73, 73, 73, .2);
        box-shadow:  0px 3px 2px 1px rgba(73, 73, 73, .2);
		background-color: rgba(104, 57, 1, .1);
		position: relative;
		z-index: 2;
		}

#header .header .wrap .logo{
	position: relative;
	height: auto;
	width: 236px;
	padding-top: 31px;
	float: left;
}
#header .header .wrap div.nav{
	position: relative;
	float: right;
	width: 700px;
	padding-top: 52px;
}

#header .header .wrap div.nav ul li.manual img, 
#header .header .wrap div.nav ul li.experiencias img, 
#header .header .wrap div.nav ul li.contacto img, 
#header .header .wrap div.nav ul li.curso img,
#content .content_int_top .content_top div.nav ul li.manual img, 
#content .content_int_top .content_top div.nav ul li.experiencias img,
#content .content_int_top .content_top div.nav ul li.contacto img,
#content .content_int_top .content_top div.nav ul li.curso img,
#content1 .content_int_top .content_top div.nav ul li.manual img,
#content1 .content_int_top .content_top div.nav ul li.experiencias img,
#content1 .content_int_top .content_top div.nav ul li.contacto img,
#content1 .content_int_top .content_top div.nav ul li.curso img,
#content2 .content_int_top .content_top div.nav ul li.manual img,
#content2 .content_int_top .content_top div.nav ul li.experiencias img,
#content2 .content_int_top .content_top div.nav ul li.contacto img,
#content2 .content_int_top .content_top div.nav ul li.curso img,
#content3 .content_int_top .content_top div.nav ul li.manual img,
#content3 .content_int_top .content_top div.nav ul li.experiencias img,
#content3 .content_int_top .content_top div.nav ul li.contacto img,
#content3 .content_int_top .content_top div.nav ul li.curso img
{
	vertical-align: top;
	position: relative;
	margin-top: 4px;
	padding-right: 5px;
}


#header .header .wrap div.nav ul li.manual{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#header .header .wrap div.nav ul li.experiencias {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#header .header .wrap div.nav ul li.curso {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#header .header .wrap div.nav ul li.contacto {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#header .header .wrap div.nav ul li a{
	color: #000001;
	text-decoration: none;
}
#header .header .wrap div.nav ul .nav_separator{
	width: 43px;
	text-align: center;
	background-image: none;
	padding: 0px;
	float: left;
}
#header .cta .wrap div.books{
	float: left;
	height: 356px;
	width: 350px;
	position: relative;
	padding-top: 74px;
	margin-left: 54px;
}

.frm-holder{
	float: left;
	position: relative;
	width: 523px;
	padding-top: 75px;
	padding-bottom: 60px;
	text-align: center;
	background-color: rgba(255, 255, 255, .4);
	margin-left: 10px;
	z-index: 0;
	}

#header .cta .wrap form{	
	margin: 0 auto;
	width: 438px;
	margin-bottom: 10px;
}
#header .cta .wrap form p.form-headline{
	font-family: 'Source San Pro', sans-serif;
	color: #f16800;
	text-align: center;
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 35px;
	font-weight: 400;
}
#header .cta .wrap p.form-sub-headline{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 45px;
	font-weight: bold;
	color: #303030;
	text-align: center;
	line-height: 46px;
	margin-bottom: 26px;
	letter-spacing: -1px;
}
#header .cta .wrap #name{
	height: 59px;
	width: 423px;
	margin-bottom: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-style: italic;
	color: #777777;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 400;
}
#header .cta .wrap #email{
	height: 59px;
	width: 423px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-style: italic;
	color: #777777;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 6px;
	font-weight: 400;
}

#header .cta .wrap .button{
	-moz-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, .5);
	-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, .5);
	box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, .5);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff9500), color-stop(1, #f18100) );
	background:-moz-linear-gradient( center top, #ff9500 5%, #f18100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9500', endColorstr='#f18100');
	background-color:#ff9500;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ff9500;
	display:inline-block;
	color:#fefefe;
	font-family:'Source Sans Pro';
	font-size:24px;
	font-weight:600;
	padding:6px 10px;
	text-decoration:none;
	width: 433px;
	height: 67px;
	letter-spacing: -0.50px;
	cursor: pointer;
}#header .cta .wrap .button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f18100), color-stop(1, #ff9500) );
	background:-moz-linear-gradient( center top, #f18100 5%, #ff9500 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f18100', endColorstr='#ff9500');
	background-color:#f18100;
}#header .cta .wrap .button:active {
	position:relative;
	top:1px;
}#header .cta .wrap .button:after{
	content: '\00bb';
}

#header .cta .wrap a{
	text-decoration: underline;
}
#header .cta .wrap a.politica {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: center;
}
#header .cta .wrap a.policy-link{
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	color: #f16a04;
	text-align: center;
}
.security{width: 433px; margin: 0 auto;}

.security > img {
	float: left;
}
#header .cta .wrap p.form-secure-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-top: 30px;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: left top;
	width: 400px;
	margin-left: 10px;
	margin-bottom: 30px;
	letter-spacing: 0px;

}
.secure-img{vertical-align: middle;padding-right: 10px;}
#header .cta .wrap .frm-holder div.books{display: none;}


#content  {
	position: relative;
	width: 100%;
	margin: auto;
	background-image: url('../img/back_content.jpg');
	background-color: #F3F4EF;
}

#content .content_int_top {
	width: 100%;
	position: relative;
	margin: auto;
	min-height: 130px;
	border-bottom: solid 3px rgba(250,250,250,0.5);
	border-top: solid 3px rgba(250,250,250,0.5);
	box-shadow: inset 0px 13px 33px rgba(0,0,0,0.1), 1px 1px 8px rgba(0,0,0,0.2);
	margin-bottom: 35px;
	z-index: 2;
}
#content .content_int_top .content_top {
	position: relative;
	width: 981px;
	margin: auto;
}
#content .content_int_top .content_top .logo{
	position: relative;
	height: auto;
	width: 236px;
	padding-top: 31px;
	float: left;
}
#content .content_int_top .content_top div.nav{
	position: relative;
	float: right;
	width: 700px;
	padding-top: 52px;
}
#content .content_int_top .content_top div.nav ul li.manual{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content .content_int_top .content_top div.nav ul li.experiencias {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content .content_int_top .content_top div.nav ul li.curso {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content .content_int_top .content_top div.nav ul li.contacto {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content .content_int_top .content_top div.nav ul li a{
	color: #000001;
	text-decoration: none;
}
#content .content_int_top .content_top .nav_separator {
	width: 43px;
	text-align: center;
	background-image: none;
	padding: 0px;
	float: left;
}
#content .content_int_mid {
	width: 100%;
	position: relative;
	margin: auto;
}
#content .content_int_mid .content_mid {
	position: relative;
	width: 981px;
	margin: auto;
}
#content .content_int_mid .content_mid p.content-header-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #666666;
	line-height: 34px;
	margin-top: 10px;
	margin-bottom: 30px;
}
#content .content_int_mid .content_mid img.separator {
	padding-bottom: 0px;
}
#content .content_int_mid .content_mid .content_mid_left {
	float: left;
	width: 499px;
	position: relative;
}
#content .content_int_mid .content_mid .content_mid_left p.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 15px;
}

#content .content_int_mid .content_mid .content_mid_left p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 20px;
	width: 423px;
}
.rich-textproduct, .rich-textproduct ol{padding: 20px;}
.rich-textproduct ol{list-style:decimal;}
.rich-textproduct a{color:#F16A04;}

#content .content_int_mid .content_mid .content_mid_left ul li img.bullet{float: left; display: table; margin-right: 10px; margin-top: 5px;}

#content .content_int_mid .content_mid .content_mid_left ul li p.n1{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 24px;
	background-repeat: no-repeat;
	width: 455px;
	display: table;
}
#content .content_int_mid .content_mid .content_mid_left ul li p.n2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 24px;
	background-repeat: no-repeat;
	width: 455px;
	display: table;
}
#content .content_int_mid .content_mid .content_mid_left ul li p.n3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 24px;
	background-repeat: no-repeat;
	width: 455px;
	display: table;
}
#content .content_int_mid .content_mid .content_mid_left ul li p.n4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 24px;
	background-repeat: no-repeat;
	width: 455px;
	display: table;
}
#content .content_int_mid .content_mid .content_mid_left ul li p.n5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 24px;
	background-repeat: no-repeat;
	width: 455px;
	display: table;
}
#content1 .content_int_mid .content_mid .content_mid_left ul li.line {
	padding-top: 3px;
	padding-bottom: 13px;
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	width: 499px;
}

.content_mid_right div.books img{
	display: block;
	float: right;
}

#content .content_int_mid .content_mid .content_mid_right {
	float: left;
	width: 477px;
	position: relative;
}
#content .content_int_mid .content_mid .content_mid_right h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 15px;
}
#content .content_int_mid .content_mid .content_mid_right .left {
	float: left;
	width: 231px;
	position: relative;
	margin-right: 14px;
}
#content .content_int_mid .content_mid .content_mid_right .right {
	float: left;
	width: 231px;
	position: relative;
}
#content .content_int_mid .content_mid img.up {
	height: 53px;
	width: 67px;
	margin-left: 457px;
	margin-top: 70px;
}
#content1 {
	position: relative;
	width: 100%;
	margin: auto;
	background-image: url('../img/back_content1.jpg');
	background-color: #DCDBD9;
}

#content1 .content_int_top {
	width: 100%;
	position: relative;
	margin: auto;
	/*background-image: url('../img/back_content1_top.jpg');
	background-repeat: repeat-x;*/
	min-height: 130px;
	border-bottom: solid 3px rgba(250,250,250,0.5);
	border-top: solid 3px rgba(250,250,250,0.5);
	box-shadow: inset 0px 13px 33px rgba(0,0,0,0.1), 1px 1px 8px rgba(0,0,0,0.2);
	margin-bottom: 35px;
}
#content1 .content_int_top .content_top {
	position: relative;
	width: 981px;
	margin: auto;
}
#content1 .content_int_top .content_top .logo{
	position: relative;
	height: auto;
	width: 236px;
	padding-top: 31px;
	float: left;
}
#content1 .content_int_top .content_top div.nav{
	position: relative;
	float: right;
	width: 700px;
	padding-top: 52px;
}
#content1 .content_int_top .content_top div.nav ul li.manual{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content1 .content_int_top .content_top div.nav ul li.experiencias {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content1 .content_int_top .content_top div.nav ul li.curso {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content1 .content_int_top .content_top div.nav ul li.contacto {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content1 .content_int_top .content_top div.nav ul li a{
	color: #000001;
	text-decoration: none;
}
#content1 .content_int_top .content_top .nav_separator {
	width: 43px;
	text-align: center;
	background-image: none;
	padding: 0px;
	float: left;
}
#content1 .content_int_mid {
	width: 100%;
	position: relative;
	margin: auto;
}
#content1 .content_int_mid .content_mid {
	position: relative;
	width: 981px;
	margin: auto;
}
#content1 .content_int_mid .content_mid img.up {
	height: 53px;
	width: 67px;
	margin-left: 457px;
	vertical-align: bottom;
}
#content1 .content_int_mid .content_mid p.content-header-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #666666;
	line-height: 34px;
	margin-bottom: 30px;
}
#content1 .content_int_mid .content_mid img.separator {
	padding-bottom: 0px;
}
#content1 .content_int_mid .content_mid .content_mid_left {
	float: left;
	width: 463px;
	margin-right: 41px;
	position: relative;
}
#content1 .content_int_mid .content_mid .content_mid_left #content_mid_box {
	background-image: url('../img/back_content1_recuadro_mid.jpg');
	background-repeat: repeat;
	position: relative;
	width: 340px;
	padding: 20px 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	border-bottom: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	margin-bottom: 20px;
}
#content1 .content_int_mid .content_mid .content_mid_left #content_mid_box .wrap{
	width: 85%;
	margin:  0 auto;
}
/* about the author */
.author-image{border:3px solid #fff;box-shadow: 1px 1px 4px rgba(0,0,0,0.3)}
.box-head > img {
    float: right;
    margin-top: 5px;
}

#content1 .content_int_mid .content_mid .content_mid_left #content_mid_box .box-head{
	margin-bottom: 10px;
}
#content1 .content_int_mid .content_mid .content_mid_left #content_mid_box .box-head h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #1f7ad5;
}
#content1 .content_int_mid .content_mid .content_mid_left #content_mid_box .box-head h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

#content1 .content_int_mid .content_mid .content_mid_left .boton_descargar {
	-moz-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff9500), color-stop(1, #f18100) );
	background:-moz-linear-gradient( center top, #ff9500 5%, #f18100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9500', endColorstr='#f18100');
	background-color:#ff9500;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ff9500;
	background-repeat: no-repeat;
	position: relative;
 	width: 323px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #fefefe;
	text-decoration: none;
	padding-left: 18px;
	padding-top: 13px;
	padding-bottom: 10px;
}#content1 .content_int_mid .content_mid .content_mid_left .boton_descargar:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f18100), color-stop(1, #ff9500) );
	background:-moz-linear-gradient( center top, #f18100 5%, #ff9500 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f18100', endColorstr='#ff9500');
	background-color:#f18100;
}#content1 .content_int_mid .content_mid .content_mid_left .boton_descargar:after {
	content: url('../img/button-download-icon.png');
	float: right;
	margin-right: 20px;
	margin-top: 2px;
}



#content1 .content_int_mid .content_mid .content_mid_left p.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 15px;
}

#content1 .content_int_mid .content_mid .content_mid_left p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 20px;
}

#content1 .content_int_mid .content_mid .content_mid_right {
	float: left;
	width: 477px;
	position: relative;
	margin-bottom: 70px;
}
#content1 .content_int_mid .content_mid .content_mid_right ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 20px;
	padding-left: 35px;
	background-image: url('../img/pic_content1_comillas.png');
	background-repeat: no-repeat;
}
#content1 .content_int_mid .content_mid .content_mid_left ul li.line {
	padding-top: 3px;
	padding-bottom: 13px;
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
}
#content1 .content_int_mid .content_mid .content_mid_right ul li .bold14blue b{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
#content1 .content_int_mid .content_mid .content_mid_right ul li p.bold14blue {
	font-size: 14px;
	color: #1f7ad5;
	font-weight: bold;
}


#content1 .content_int_mid .content_mid .content_mid_right ul li.line {
	padding-top: 3px;
	padding-bottom: 13px;
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;

}
#content1 .content_int_mid .content_mid .content_mid_right p.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 15px;
}
#content1 .content_int_mid .content_mid img.up {
	height: 53px;
	width: 67px;
	margin-left: 457px;
	margin-top: 70px;
}

#content2  {
	position: relative;
	width: 100%;
	margin: auto;
	background-image: url('../img/back_content.jpg');
	background-color: #F3F4EF;
}

#content2 .content_int_top {
	width: 100%;
	position: relative;
	margin: auto;
	min-height: 130px;
	border-bottom: solid 3px rgba(250,250,250,0.5);
	border-top: solid 3px rgba(250,250,250,0.5);
	box-shadow: inset 0px 13px 33px rgba(0,0,0,0.1), 1px 1px 8px rgba(0,0,0,0.2);
	margin-bottom: 35px;
}
#content2 .content_int_top .content_top {
	position: relative;
	width: 981px;
	margin: auto;
}
#content2 .content_int_top .content_top .logo{
	position: relative;
	height: auto;
	width: 236px;
	padding-top: 31px;
	float: left;
}
#content2 .content_int_top .content_top div.nav{
	position: relative;
	float: right;
	width: 700px;
	padding-top: 52px;
}
#content2 .content_int_top .content_top div.nav ul li.manual{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content2 .content_int_top .content_top div.nav ul li.experiencias {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content2 .content_int_top .content_top div.nav ul li.curso {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content2 .content_int_top .content_top div.nav ul li.contacto {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content2 .content_int_top .content_top div.nav ul li a{
	color: #000001;
	text-decoration: none;
}
#content2 .content_int_top .content_top .nav_separator {
	width: 43px;
	text-align: center;
	background-image: none;
	padding: 0px;
	float: left;
}
#content2 .content_int_mid {
	width: 100%;
	position: relative;
	margin: auto;
}
#content2 .content_int_mid .content_mid {
	position: relative;
	width: 981px;
	margin: auto;
}

#content2 .content_int_mid .content_mid h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #666666;
	line-height: 34px;
}
#content2 .content_int_mid .content_mid img.up {
	height: 53px;
	width: 67px;
	margin-left: 457px;
	margin-top: 70px;
}
#content2 .content_int_mid .content_mid #back_top {
	position: relative;
	width: 931px;
	margin: auto;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-left: 55px;
	background-color: #ffffff;
	border: 1px solid #D9D9D9;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	-webkit-box-shadow:  0px 0px 3px 1px #d9d9d9;
        
        box-shadow:  0px 0px 3px 1px #d9d9d9;
	z-index: 2;
}
#content2 .content_int_mid .content_mid #back_top .product_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 300;
	color: #666666;
	margin: 0px;
	line-height: 38px;
	padding: 0px 24px;
}
#content2 .content_int_mid .content_mid h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #333333;
	margin-bottom: 5px;
}
#content2 .content_int_mid .content_mid h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #333333;
	margin-bottom: 5px;
}
#content2 .content_int_mid .content_mid blockquote{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #3a3a3a;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #cecece;
}
#content2 .content_int_mid .content_mid a.comodas_cuotas {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ff7101;
	padding-left: 55px;
	float: left;
}
#content2 .content_int_mid .content_mid a.sin_tarjeta {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ff7101;
	padding-left: 180px;
	float: left;
}

.checkbullet {
    display: table;
    float: left;
    margin-top: 6px;
    padding-right: 10px;
    vertical-align: top;
}
#content2 .content_int_mid .content_mid #back_top ul li p{
	display: table;
}
#content2 .content_int_mid .content_mid #back_top ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #666666;
	background: url('../img/pic_content2_tick.png') no-repeat left center;
	padding:0 20px;
	vertical-align: middle;
	line-height: 22px;
}


#content2 .content_int_mid .content_mid #back_bot {
	position: relative;
	width: 931px;
	margin: auto;
	background-color: #ffffff;
	min-height: 124px;
	padding-left: 55px;
	padding-top: 23px;
	border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border: 1px solid #D9D9D9;
	-webkit-box-shadow:  0px 0px 3px 1px #d9d9d9;
        
        box-shadow:  0px 0px 3px 1px #d9d9d9;
	border-top: none;
	z-index: 1;
	padding-bottom: 20px;
}

#content2 .content_int_mid .content_mid #back_bot .bot_cont_1{float: left; width: 278px; text-align: center;}
#content2 .content_int_mid .content_mid #back_bot .bot_cont_2{float: left; width: 210px; margin-left: 20px;}
#content2 .content_int_mid .content_mid #back_bot .bot_cont_3{float: left; width: 120px; margin-left: 20px; margin-right: 20px;}
#content2 .content_int_mid .content_mid #back_bot .bot_cont_4{float: left; width: 120px; margin-left: 20px; margin-right: 20px;}




#content2 .content_int_mid .content_mid #back_bot .boton_ordenalo {
	/*background-image: url('../img/but_content2_recuadro.png');*/
	-moz-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	box-shadow:inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff9500), color-stop(1, #f18100) );
	background:-moz-linear-gradient( center top, #ff9500 5%, #f18100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9500', endColorstr='#f18100');
	background-color:#ff9500;
	border:1px solid #d17600;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	position: relative;
	min-height: 46px;
	width: 260px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #fefefe;
	text-decoration: none;
	padding-left: 18px;
	padding-top: 7px;
	margin-right: 20px;
	margin-bottom: 9px;
}
#content2 .content_int_mid .content_mid #back_bot .boton_ordenalo:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f18100), color-stop(1, #ff9500) );
	background:-moz-linear-gradient( center top, #f18100 5%, #ff9500 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f18100', endColorstr='#ff9500');
	background-color:#f18100;
}#content2 .content_int_mid .content_mid #back_bot .boton_ordenalo:after {
	content: url('../img/button-arrow.png');
	float: right;
	margin-right: 20px;
	margin-top: 4px;
}
#content2 .content_int_mid .content_mid #back_bot ul {
	float: left;
	margin-top: 22px;
}

#content2 .content_int_mid .content_mid #back_bot ul li {
	width: 44px;
	height: 31px;
	float: left;
	margin-left: 8px;
}
#content2 .content_int_mid .content_mid #back_bot p.precio_normal {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	margin: 0 auto;
	text-align: center;
}

#content2 .content_int_mid .content_mid #back_bot .precio_normal_blue, .precio_especial_blue  {
	color: #0868c8;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
}
#content2 .content_int_mid .content_mid #back_bot .precio_normal_blue  {
	text-decoration: line-through;
	font-size: 18px;
	font-weight: bold;
}

#content2 .content_int_mid .content_mid #back_bot p.precio_especial {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	margin: 0 auto;
	text-align: center;
}

#content2 .content_int_mid .content_mid #back_bot .bot_left{
	float: left;
	width: 510px;
}

#content2 .content_int_mid .content_mid #back_bot .bot_right{
	float: right;
	width: 320px;
}

#content2 .content_int_mid .content_mid #back_bot .precio_especial_blue {
	color: #0868c8;
	font-size: 16px;
	font-weight: bold;
}
#content2 .content_int_mid .content_mid #back_bot a {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #F16A04;
}

#content3 {
	position: relative;
	width: 100%;
	margin: auto;
	background-image: url('../img/back_content1.jpg');
	background-color: #DCDBD9;
}

#content3 .content_int_top {
	width: 100%;
	position: relative;
	margin: auto;
	min-height: 130px;
	border-bottom: solid 3px rgba(250,250,250,0.5);
	border-top: solid 3px rgba(250,250,250,0.5);
	box-shadow: inset 0px 13px 33px rgba(0,0,0,0.1), 1px 1px 8px rgba(0,0,0,0.2);
	margin-bottom: 35px;
}
#content3 .content_int_top .content_top {
	position: relative;
	width: 981px;
	margin: auto;
}
#content3 .content_int_top .content_top .logo{
	position: relative;
	height: auto;
	width: 236px;
	padding-top: 31px;
	float: left;
}
#content3 .content_int_top .content_top div.nav{
	position: relative;
	float: right;
	width: 700px;
	padding-top: 52px;
}

#content3 .content_int_top .content_top div.nav ul li.manual{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content3 .content_int_top .content_top div.nav ul li.experiencias {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content3 .content_int_top .content_top div.nav ul li.curso {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content3 .content_int_top .content_top div.nav ul li.contacto {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-position: left center;
}
#content3 .content_int_top .content_top div.nav ul li a{
	color: #000001;
	text-decoration: none;
}
#content3 .content_int_top .content_top .nav_separator {
	width: 43px;
	text-align: center;
	background-image: none;
	padding: 0px;
	float: left;
}


#content3 .content_int_mid {
	width: 100%;
	position: relative;
	margin: auto;
	padding-bottom: 10px;
}
#content3 .content_int_mid .content_mid {
	position: relative;
	width: 981px;
	margin: auto;
}
#content3 .content_int_mid .content_mid img.up {
	height: 53px;
	width: 67px;
	margin-left: 457px;
	margin-top: 70px;
}
#content3 .content_int_mid .content_mid .content_mid_left {
	float: left;
	width: 615px;
	position: relative;
	margin-right: 33px;
	margin-top: 21px;
}
#content3 .content_int_mid .content_mid .content_mid_left h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #666666;
	line-height: 34px;
	margin-bottom: 30px;
}
#content3 .content_int_mid .content_mid .content_mid_left img.separator_autor {
	padding-bottom: 20px;
}
#content3 .content_int_mid .content_mid .content_mid_left .left {
	float: left;
	width: 205px;
	position: relative;
	margin-right: 24px;
}
#content3 .content_int_mid .content_mid .content_mid_left .right {
	float: left;
	width: 386px;
	position: relative;
	margin-bottom: 80px;
}
#content3 .content_int_mid .content_mid .content_mid_left .right img.line_left {
	margin-top: 24px;
	margin-bottom: 25px;
}

#content3 .content_int_mid .content_mid .content_mid_left .right p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 20px;
}
#content3 .content_int_mid .content_mid .content_mid_left .right ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #333333;
	float: left;
	margin-right: 15px;
}




#content3 .content_int_mid .content_mid .content_mid_right {
	float: left;
	width: 333px;
	position: relative;
	margin-top: 21px;
}
#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top, #content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top {
	background-image: url('../img/back_content3_recuadro_right1_mid.png');
	width: 100%;
	background-repeat: repeat;
	padding: 20px 0;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 20px;
	margin-bottom: 40px;
}

#content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top .wrap, #content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top .wrap{width: 90%; margin: 0 auto; }


.recuardo_head > img{
	float: right;
	display: table;
	margin-top: 5px;
}

#content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #1f7ad5;
	text-decoration: none;
	float: left;
	display: table;
	width: 85%;
}

.recuardo2_head > img{float: right; display: table;}

.recuardo2_head, .recuardo_head{margin-bottom: 10px;}


#content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}

#content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
}



#content3 .content_int_mid .content_mid .content_mid_right #recuadro1_bot {
	background-image: url('../img/back_content3_recuadro_right1_bot.png');
	background-repeat: no-repeat;
	height: 27px;
	width: 277px;
	padding-left: 27px;
	padding-right: 30px;
	margin-bottom: 20px;
}

#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #1f7ad5;
	text-decoration: none;
	float: left;
	display: table;
	width: 85%;
}
#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top ul.left, .phone-table {
	float: left;
	padding-top: 23px;
	margin-right: 40px;
}

#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top .left li, .phone-table {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
}

#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top ul.right, .phone-table {
	float: left;
	padding-top: 23px;
	margin-right: 10px;
}
#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top .right li, .phone-table {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
}
.phone-table {margin-top:20px;}
.phone-table td:first-child{padding-right:40px;}

.link {
	color: #F16A04;
	font-size: 14px;
	line-height: 16px;
	width: 90%;
	-webkit-appearance: none;
	background: transparent;
	border: none;
	text-decoration: underline;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	margin-top: 5px;
	letter-spacing: 0px;
	cursor: pointer;
}



#footer {
	width: 100%;
	position: relative;
	min-height: 116px;
	margin: auto;
	background-color: #2c76c0;
	padding-top: 37px;
	padding-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #FFFFFE;
	font-weight: 300;
	text-align: center;

}
#footer p  {
	text-align: center;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #FFFFFE;
	font-weight: 300;
}
#footer a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFD;
	text-decoration: none;
}
#footer ul {
	display: block;
	position: relative;
	margin-bottom: 30px;
	width: 590px;
	margin: 30px auto;
}

#footer ul li {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFE;
	text-decoration: none;
	margin-right: 6px;
	text-align: center;
	text-align: center;
}
#footer ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFD;
	text-decoration: none;
}


#content2 .content_int_mid .content_mid #back_top ul{margin-bottom: 20px;}

#content2 .content_int_mid .content_mid #back_top img.books{
	float: right;
    margin-right: 40px;
    margin-top: -60px;
}
#content2 .content_int_mid .content_mid #back_top img.ribbon{
	float: left;
	margin-left: -62px;
    margin-top: -56px;
}

@media only screen and (max-width: 1050px) { 
	.wrap{width: 93%;}
}

@media only screen and (max-width: 1030px) { 
	#header .header .wrap .logo{float: none; margin: 0 auto; padding-top: 10px;}
	
	/* navigation */
	#header .header .wrap div.nav{float: none; margin: 0 auto; padding-top: 15px;}
	#header .header .wrap div.nav ul li.manual, #header .header .wrap div.nav ul li.experiencias, #header .header .wrap div.nav ul li.curso, #header .header .wrap div.nav ul li.contacto{float: none;}
	#header .header .wrap div.nav{width: 68%;}
	#header .header .wrap div.nav ul{width: 94%; background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #C5A479; padding: 5px 10px; position: absolute; border-radius: 3px; -webkit-border-radius: 3px; }
	#header .header .wrap div.nav ul li{display: none;}
	#header .header .wrap div.nav ul li a{display: block;}
	#header .header .wrap div.nav ul .nav_separator{display: none;}
	#header .header .wrap div.nav ul li:first-child{display: block;}
	#header .header .wrap div.nav ul:hover{display: block;}
	#header .header .wrap div.nav ul:hover li{display: block;}
	#header .header .wrap div.nav ul:hover li.nav_separator{display: none;}
	#header .header .wrap div.nav ul:hover li:hover{background-color: #E2D1B5;}
	
	/* content navigation */
	#content .content_int_top .content_top .logo {
		float: none;margin: 0 auto; padding-top: 20px; width: 236px;
	}
	
	#content .content_int_top .content_top div.nav{float: none; margin: 0 auto; padding-top: 10px;}
	#content .content_int_top .content_top div.nav ul li.manual, #content .content_int_top .content_top div.nav ul li.experiencias, #content .content_int_top .content_top div.nav ul li.curso, #content .content_int_top .content_top div.nav ul li.contacto, #content .content_int_top .content_top div.nav ul li.descargar{float: none;}
	#content .content_int_top .content_top div.nav{width: 68%;}
	#content .content_int_top .content_top div.nav ul{width: 94%; background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #777777; padding: 5px 10px; position: absolute; border-radius: 3px; -webkit-border-radius: 3px; z-index: 3;}
	#content .content_int_top .content_top div.nav ul li{display: none;}
	#content .content_int_top .content_top div.nav ul li a{display: block;}
	#content .content_int_top .content_top div.nav ul .nav_separator{display: none;}
	#content .content_int_top .content_top div.nav ul li:first-child{display: block;}
	#content .content_int_top .content_top div.nav ul:hover{display: block;}
	#content .content_int_top .content_top div.nav ul:hover li{display: block;}
	#content .content_int_top .content_top div.nav ul:hover li.nav_separator{display: none;}
	#content .content_int_top .content_top div.nav ul:hover li:hover{background-color: #d9d9d9;}
	
	/* content1 navigation */
	#content1 .content_int_top .content_top .logo {
		float: none;margin: 0 auto; padding-top: 20px; width: 236px;
	}
	
	#content1 .content_int_top .content_top div.nav{float: none; margin: 0 auto; padding-top: 10px;}
	#content1 .content_int_top .content_top div.nav ul li.manual, #content1 .content_int_top .content_top div.nav ul li.experiencias, #content1 .content_int_top .content_top div.nav ul li.curso, #content1 .content_int_top .content_top div.nav ul li.contacto, #content1 .content_int_top .content_top div.nav ul li.descargar{float: none;}
	#content1 .content_int_top .content_top div.nav{width: 68%;}
	#content1 .content_int_top .content_top div.nav ul{width: 94%; background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #777777; padding: 5px 10px; position: absolute; border-radius: 3px; -webkit-border-radius: 3px; z-index: 2;}
	#content1 .content_int_top .content_top div.nav ul li{display: none;}
	#content1 .content_int_top .content_top div.nav ul li a{display: block;}
	#content1 .content_int_top .content_top div.nav ul .nav_separator{display: none;}
	#content1 .content_int_top .content_top div.nav ul li:first-child{display: block;}
	#content1 .content_int_top .content_top div.nav ul:hover{display: block;}
	#content1 .content_int_top .content_top div.nav ul:hover li{display: block;}
	#content1 .content_int_top .content_top div.nav ul:hover li.nav_separator{display: none;}
	#content1 .content_int_top .content_top div.nav ul:hover li:hover{background-color: #d9d9d9;}
	
	/* content2 navigation */
	#content2 .content_int_top .content_top .logo {
		float: none;margin: 0 auto; padding-top: 20px; width: 236px;
	}
	
	#content2 .content_int_top .content_top div.nav{float: none; margin: 0 auto; padding-top: 10px;}
	#content2 .content_int_top .content_top div.nav ul li.manual, #content2 .content_int_top .content_top div.nav ul li.experiencias, #content2 .content_int_top .content_top div.nav ul li.curso, #content2 .content_int_top .content_top div.nav ul li.contacto, #content2 .content_int_top .content_top div.nav ul li.descargar{float: none;}
	#content2 .content_int_top .content_top div.nav{width: 68%;}
	#content2 .content_int_top .content_top div.nav ul{width: 94%; background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #777777; padding: 5px 10px; position: absolute; border-radius: 3px; -webkit-border-radius: 3px; z-index: 3;}
	#content2 .content_int_top .content_top div.nav ul li{display: none;}
	#content2 .content_int_top .content_top div.nav ul li a{display: block;}
	#content2 .content_int_top .content_top div.nav ul .nav_separator{display: none;}
	#content2 .content_int_top .content_top div.nav ul li:first-child{display: block;}
	#content2 .content_int_top .content_top div.nav ul:hover{display: block;}
	#content2 .content_int_top .content_top div.nav ul:hover li{display: block;}
	#content2 .content_int_top .content_top div.nav ul:hover li.nav_separator{display: none;}
	#content2 .content_int_top .content_top div.nav ul:hover li:hover{background-color: #d9d9d9;}
	
	/* content3 navigation */
	#content3 .content_int_top .content_top .logo {
		float: none;margin: 0 auto; padding-top: 20px; width: 236px;
	}
	
	#content3 .content_int_top .content_top div.nav{float: none; margin: 0 auto; padding-top: 10px;}
	#content3 .content_int_top .content_top div.nav ul li.manual, #content3 .content_int_top .content_top div.nav ul li.experiencias, #content3 .content_int_top .content_top div.nav ul li.curso, #content3 .content_int_top .content_top div.nav ul li.contacto, #content3 .content_int_top .content_top div.nav ul li.descargar{float: none;}
	#content3 .content_int_top .content_top div.nav{width: 68%;}
	#content3 .content_int_top .content_top div.nav ul{width: 94%; background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #777777; padding: 5px 10px; position: absolute; border-radius: 3px; -webkit-border-radius: 3px; z-index: 2;}
	#content3 .content_int_top .content_top div.nav ul li{display: none;}
	#content3 .content_int_top .content_top div.nav ul li a{display: block;}
	#content3 .content_int_top .content_top div.nav ul .nav_separator{display: none;}
	#content3 .content_int_top .content_top div.nav ul li:first-child{display: block;}
	#content3 .content_int_top .content_top div.nav ul:hover{display: block;}
	#content3 .content_int_top .content_top div.nav ul:hover li{display: block;}
	#content3 .content_int_top .content_top div.nav ul:hover li.nav_separator{display: none;}
	#content3 .content_int_top .content_top div.nav ul:hover li:hover{background-color: #d9d9d9;}
	
	#content2 .content_int_mid .content_mid #back_top, #content2 .content_int_mid .content_mid #back_bot{width: 90%;}
	
	
	#footer p{text-align: center; margin-left: 0px;}
	
	#footer .wrap{margin-top: 50px;}
	#footer .nav{width: 60%; margin: 0 auto; display: block;}
	#footer ul{float: none; margin: 0 auto; width: 60%; background-color: rgba(255, 255, 255, 1);
    border: 1px solid #777777; padding: 5px 10px; position: absolute; border-radius: 3px; -webkit-border-radius: 3px; z-index: 2;}
	
	#footer .nav ul li{float: none; display: none;}
	#footer .nav ul a{display: block; color: #2C76C0;}
	#footer .nav ul li:first-child{display: block;}
	#footer .nav ul:hover{display: block;}
	#footer .nav ul:hover li{display: block;}
	#footer .nav ul li.separator{display: none;}
	#footer .nav ul:hover li:hover{background-color: #f0f0f0;}
	
	#footer .bottom-text, #footer a.bottom-text{padding-top: 50px;color:#ffffff;}

	
	#header .cta .wrap div.books{display: none;}
	#header .cta .wrap .frm-holder{width: 100%; padding-top: 0; margin-left: 0px;}
	#header .cta .wrap .frm-holder div.books{display: block; float: none; margin: 0 auto 5px; padding-top: 30px; height: auto; }
	#header .cta .wrap .frm-holder div.books img{width: 200px; height: auto;}
	#header .cta .wrap form{width: 80%;}
	#header .cta .wrap form p.form-headline{font-size: 20px; margin: 20px auto;}
	#header .cta .wrap p.form-sub-headline{font-size: 30px;}
	#header .cta .wrap #name{height: 40px;}
	#header .cta .wrap #email{height: 40px;}
	#header .cta .wrap .button{height: 57px; background-size: 433px 57px;}
	#header .cta .wrap p.form-secure-text{margin: 20px auto;}
	#header .cta .wrap p.form-secure-text{margin: 20px auto;}
	
	#header .header .wrap div.nav ul li.manual img, #header .header .wrap div.nav ul li.experiencias img, #header .header .wrap div.nav ul li.contacto img, #header .header .wrap div.nav ul li.curso img, #content .content_int_top .content_top div.nav ul li.manual img, #content .content_int_top .content_top div.nav ul li.experiencias img, #content .content_int_top .content_top div.nav ul li.contacto img, #content .content_int_top .content_top div.nav ul li.curso img, #content1 .content_int_top .content_top div.nav ul li.manual img, #content1 .content_int_top .content_top div.nav ul li.experiencias img, #content1 .content_int_top .content_top div.nav ul li.contacto img, #content1 .content_int_top .content_top div.nav ul li.curso img, #content2 .content_int_top .content_top div.nav ul li.manual img, #content2 .content_int_top .content_top div.nav ul li.experiencias img, #content2 .content_int_top .content_top div.nav ul li.contacto img, #content2 .content_int_top .content_top div.nav ul li.curso img, #content3 .content_int_top .content_top div.nav ul li.manual img, #content3 .content_int_top .content_top div.nav ul li.experiencias img, #content3 .content_int_top .content_top div.nav ul li.contacto img, #content3 .content_int_top .content_top div.nav ul li.curso img{float: left;}
}

@media only screen and (max-width: 1000px) {
	
	/* content */
	#content .content_int_mid .content_mid, 
		#content1 .content_int_mid .content_mid{width: 90%;}
	#content .content_int_mid .content_mid p.content-header-text, 
		#content1 .content_int_mid .content_mid p.content-header-text{text-align: center;}
	#content .content_int_mid .content_mid .content_mid_right h2, 
		#content1 .content_int_mid .content_mid .content_mid_right p.title{text-align: center;}
	#content .content_int_mid .content_mid .content_mid_left,
		#content1 .content_int_mid .content_mid .content_mid_left{ float: none;margin: 0 auto 30px auto; position: relative; width: 100%;}
	#content .content_int_mid .content_mid .content_mid_right{ margin: 0 auto; float:none;}
	#content1 .content_int_mid .content_mid .content_mid_left p.title{text-align: center;}
	
	#content1 .content_int_mid .content_mid .content_mid_left #content_mid_box{margin-left: auto; margin-right: auto}
	
	#content1 .content_int_mid .content_mid .content_mid_left .boton_descargar{margin: 20px auto;}
	#content1 .content_int_mid .content_mid .content_mid_right{width: 100%;}
	
	#content .content_int_mid .content_mid .content_mid_left ul li img.bullet{float: none; display: block; margin:10px auto;}

	/* box with ribbon */
	#content2 .content_int_mid .content_mid{width: 100%;}
	
	#content .content_int_mid .content_mid img.separator, #content1 .content_int_mid .content_mid img.separator{width: 100%; height: auto;}
	
	#content3 .content_int_mid .content_mid .content_mid_left{float: none; width: 95%; margin: 0 auto;}
	#content3 .content_int_mid .content_mid .content_mid_left .right{width: 70%; margin-bottom: 40px;}
	#content3 .content_int_mid .content_mid{width: 100%;}
	.separator_autor{display: block; margin: 0 auto;}
	
	#content3 .content_int_mid .content_mid .content_mid_right{float: none; margin: 0 auto;}
	#content3 .content_int_mid .content_mid .content_mid_right{margin-bottom: 20px;}
	
	#content3 .content_int_mid .content_mid .content_mid_left .right img.line_left, .line > img{width: 100%;}
	
	
	
	#content .content_int_mid .content_mid .content_mid_left p.title, #content .content_int_mid .content_mid .content_mid_left p.title{text-align: center;}
	#content .content_int_mid .content_mid .content_mid_left p{width: 100%; text-align: center;}
	#content .content_int_mid .content_mid .content_mid_left ul li p.n1, #content .content_int_mid .content_mid .content_mid_left ul li p.n2, #content .content_int_mid .content_mid .content_mid_left ul li p.n3, #content .content_int_mid .content_mid .content_mid_left ul li p.n4, #content .content_int_mid .content_mid .content_mid_left ul li p.n5{width: 95%;}
	.content_mid_right div.books img{width: 200px; height: auto; display: block; margin-left: auto; margin-right: auto; float: none;}
}

@media only screen and (max-width: 981px) {
	#content .content_int_top .content_top, #content1 .content_int_top .content_top, #content2 .content_int_top .content_top, #content3 .content_int_top .content_top{width: 100%;}
	#content .content_int_mid .content_mid img.up, #content1 .content_int_mid .content_mid img.up, #content2 .content_int_mid .content_mid img.up{margin-left: auto; margin-right: auto; display: block;}
}

@media only screen and (max-width: 970px) {
	#content2 .content_int_mid .content_mid #back_top img.books{width: 340px; height: auto;}
}

@media only screen and (max-width: 938px) {
	#content2 .content_int_mid .content_mid #back_bot .bot_left{float: none; margin: 20px auto; display: block;}
	#content2 .content_int_mid .content_mid #back_bot .bot_right{float: none; margin: 0 auto; display: block;}
}

@media only screen and (max-width: 900px) {
	#content2 .content_int_mid .content_mid #back_top img.books{width: 300px; height: auto;}
	#content2 .content_int_mid .content_mid #back_top .product_title{font-size: 30px;}
	#content2 .content_int_mid .content_mid #back_top ul li{font-size: 14px;}

}

@media only screen and (max-width: 900px) {
	#content2 .content_int_mid .content_mid #back_top img.books{margin: -58px auto 0 auto; float: none; display: block; width: 387px; }
	#content2 .content_int_mid .content_mid #back_top .product_title{text-align: center; font-size: 36px; margin-top: 20px;}
	#content2 .content_int_mid .content_mid #back_top ul{width: 380px; margin: 0 auto 20px auto; display: block;}
	#content2 .content_int_mid .content_mid #back_top ul li{font-size: 16px;}
	#content2 .content_int_mid .content_mid #back_top img.ribbon{margin-left: -8px;}
	#content2 .content_int_mid .content_mid #back_top, #content2 .content_int_mid .content_mid #back_bot{padding-left: 0;}
}

@media only screen and (max-width: 822px) {
	#content3 .content_int_mid .content_mid .content_mid_left .right{width: 60%;}
}
@media only screen and (max-width: 770px) {
	#header .cta .wrap p.form-sub-headline {font-size: 26px;line-height: 30px;}
}



@media only screen and (max-width: 665px) {
	#content3 .content_int_mid .content_mid .content_mid_left img.separator_autor{width: 90%; height: auto;}
}
@media only screen and (max-width: 639px) {
	#content3 .content_int_mid .content_mid .content_mid_left .right, #content3 .content_int_mid .content_mid .content_mid_left .left{float: none; display: block; margin: 0 auto;}
	#content3 .content_int_mid .content_mid .content_mid_left .right{width: 95%; margin-top: 20px; margin-bottom: 20px;}
	
}
@media only screen and (max-width: 600px) {
	#header .cta .wrap p.form-secure-text{width: 80%; line-height: 20px;padding-left: 20px;}
	.security{width: 80%;}
	#content2 .content_int_mid .content_mid #back_bot .bot_left{width: 95%;}
	#content2 .content_int_mid .content_mid #back_bot .bot_cont_1, #content2 .content_int_mid .content_mid #back_bot .bot_cont_2{float: none; display: block; margin: 0 auto;}
	#content2 .content_int_mid .content_mid #back_bot .bot_cont_3{margin-left: 0; margin-right: 0;}
	#content2 .content_int_mid .content_mid #back_bot .bot_cont_4{margin-left: 0; margin-right: 0; float: right; width: 100px;}
	#content2 .content_int_mid .content_mid #back_bot .bot_right{width: 280px;}
}


@media only screen and (max-width: 583px) {
	#header .cta .wrap #email, #header .cta .wrap #name{width: 100%; padding-left: 0px; padding-right: 0px; font-size: 16px;}
	#header .cta .wrap .button{width: 100%; background-size: 100% 57px; font-size: 14px;}
	#header .cta .wrap .frm-holder div.books{width: 100%;}
	#content .content_int_mid .content_mid .content_mid_right{width: 100%;}
	#content .content_int_mid .content_mid .content_mid_right .left, #content .content_int_mid .content_mid .content_mid_right .right { float: none; margin: 0 auto; position: relative;	width: 231px;}
	
	
	#content2 .content_int_mid .content_mid #back_top img.books{width: 250px;}
	#content2 .content_int_mid .content_mid #back_top .product_title{font-size: 28px;}
	#content2 .content_int_mid .content_mid #back_top ul li{font-size: 14px;}
	#content2 .content_int_mid .content_mid #back_top ul{width: 80%;}
	
	#content .content_int_mid .content_mid p.content-header-text, #content1 .content_int_mid .content_mid p.content-header-text{font-size: 28px; margin-top: 20px;}
	#content .content_int_mid .content_mid .content_mid_left p.title, #content .content_int_mid .content_mid .content_mid_right h2, #content1 .content_int_mid .content_mid .content_mid_right p.title{font-size: 18px;}
	#content .content_int_mid .content_mid .content_mid_left p{font-size: 16px;}
	#content .content_int_mid .content_mid .content_mid_left ul li p.n1, #content .content_int_mid .content_mid .content_mid_left ul li p.n2, #content .content_int_mid .content_mid .content_mid_left ul li p.n3, #content .content_int_mid .content_mid .content_mid_left ul li p.n4, #content .content_int_mid .content_mid .content_mid_left ul li p.n5, #content1 .content_int_mid .content_mid .content_mid_right ul li{font-size: 14px;}
	#content1 .content_int_mid .content_mid .content_mid_right ul li b, #content1 .content_int_mid .content_mid .content_mid_right ul li b{font-size: 12px;}
	
	#content1 .content_int_mid .content_mid .content_mid_right ul li.line img{width: 80%; display: block; margin: 5px auto 0 auto;}

	.rich-textproduct, .rich-textproduct ol{font-size:14px;}
}

@media only screen and (max-width: 400px){
	#content2 .content_int_mid .content_mid #back_top img.ribbon{width: 60px; height: auto; margin-left: -5px; margin-top: -55px;}
	#content2 .content_int_mid .content_mid #back_top img.books{width: 170px; }
	#content2 .content_int_mid .content_mid #back_top .product_title{font-size: 22px;}
	#content2 .content_int_mid .content_mid #back_top ul li{font-size: 14px;}
	
	#content1 .content_int_mid .content_mid .content_mid_left .boton_descargar{background-size: 100% auto; font-size: 14px; width: 250px;}
	
	#content1 .content_int_mid .content_mid .content_mid_left #content_mid_box{width: 100%;}
}
@media only screen and (max-width: 350px){
	#content2 .content_int_mid .content_mid #back_top img.books{ margin-top: 20px; }
	#header .header .wrap .logo, #header .header .wrap .logo img{width: 200px; height: auto;}
	#header .cta .wrap .frm-holder div.books img{width: 180px;}
	#content2 .content_int_mid .content_mid #back_top .product_title{font-size: 18px; line-height: 20px;}
	#content2 .content_int_mid .content_mid #back_bot .boton_ordenalo{width: 200px; background-size: 100%; margin: 0 auto;font-size: 18px; text-align: left;}
	#content2 .content_int_mid .content_mid #back_bot a{display: block; text-align: center;}
	#content2 .content_int_mid .content_mid #back_bot .precio_normal .precio_normal_blue, #content2 .content_int_mid .content_mid #back_bot .precio_especial .precio_especial_blue{font-size: 20px;}
	#content2 .content_int_mid .content_mid #back_bot p.precio_especial, #content2 .content_int_mid .content_mid #back_bot p.precio_normal{text-align: center;}
	#content2 .content_int_mid .content_mid #back_bot .bot_right{width: 90%;}
	#content2 .content_int_mid .content_mid #back_bot .bot_cont_1{width: 100%;}
	#content2 .content_int_mid .content_mid #back_bot .boton_ordenalo{width: 150px; font-size: 16px; } 
	
	#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top, #content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top{width: 90%; margin: 20px auto 40px;}
	#content3 .content_int_mid .content_mid .content_mid_right{width: 100%;}
	#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top .left li, #content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top .right li{font-size: 12px;}
	
	#content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top h2, #content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top h2{font-size: 14px;}
	#content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top h3, #content3 .content_int_mid .content_mid .content_mid_right #recuadro1_top a, #content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top h3{font-size: 12px;}
	
	.recuardo_head{background-size: 30px auto;}
	.recuardo2_head{background-size: 15px auto;}
	
	#content .content_int_mid .content_mid p.content-header-text, #content1 .content_int_mid .content_mid p.content-header-text{font-size: 24px;}
	#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top .right li, .phone-table {font-size: 12px;}
}	

@media only screen and (max-width: 316px){#content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top .left li, #content3 .content_int_mid .content_mid .content_mid_right #recuadro2_top .right li{font-size: 8px;}}
@media only screen and (max-width: 300px){
	#content2 .content_int_mid .content_mid #back_bot .bot_cont_3, #content2 .content_int_mid .content_mid #back_bot .bot_cont_4{float: none; margin: 10px auto; display: block;}
	#content1 .content_int_mid .content_mid .content_mid_left .boton_descargar{width: 200px; font-size: 12px; height: 20px;}
	
	#content1 .content_int_mid .content_mid .content_mid_left #content_mid_box p{font-size: 14px; line-height: 16px;}
}

@media only screen and (max-width: 240px){
	#header .cta .wrap #email, #header .cta .wrap #name{font-size: 14px;}
	#header .cta .wrap .button{font-size: 12px;}
	#content1 .content_int_mid .content_mid .content_mid_left .boton_descargar{width: 180px; font-weight: 400; height: 22px;padding: 7px 0 0 5px; width: 180px;}
	
	#content1 .content_int_top .content_top .logo, #content2 .content_int_top .content_top .logo, #content3 .content_int_top .content_top .logo, #content .content_int_top .content_top .logo{width: 200px; }
	.logo > img{width: 200px; height: auto; display: block; margin: 0 auto;}
	
	#content2 .content_int_mid .content_mid #back_bot ul li{width: 40px;}
	.bot_cont_2 img{height: auto; width: 30px; display: block;}
}
