<!-- Listing 7 -->
<article class="col-md-4 col-sm-6 listing-item recent sale loaded-item">
    <!-- Thumbnail -->
    <div class="listing-thumb">
	<a href="#" class="main-link">
	    <img class="img-responsive img-center" src="img/listings/placeholder-400x300.jpg" alt="">
	    <h3 class="listing-title">5550 W Lunt Avenue Chicago, IL 60646</h3>
	    <span class="overlay-mask"></span>
	</a>
	<a class="link centered" href="#"><span class="btn btn-info">View Full Details</span></a>
    </div>
    <!-- End thumbnail -->
    
    <!-- Preview content -->
    <div class="preview-content" data-images="img/listings/placeholder-645x430.jpg,img/listings/placeholder-645x430.jpg,img/listings/placeholder-645x430.jpg">
	<div class="row">
	    <div class="col-sm-6">
		<div class="preview-description">
		    <table class="table-bordered text-center">
			<tr>
			    <td>3<br><span class="listing-attributes">Beds</span></td>
			    <td>2<br><span class="listing-attributes">Baths</span></td>
			    <td>0<br><span class="listing-attributes">1/2 Baths</span></td>
			    <td>0.11<br><span class="listing-attributes">Acres</span></td>
			</tr>
			<tr>
			    <td>1973<br><span class="listing-attributes">Built</span></td>
			    <td><i class="fa fa-home"></i><br><span class="listing-attributes">Singles</span></td>
			</tr>
		    </table>
		    <div class="spacer-25px"></div>
		    <table class="table-bordered">
			<tr>
			    <td><span class="location">Price:</span></td>
			    <td><span class="location price-lg">$439,900</span></td>
			</tr>
			<tr>
			    <td><span class="location">Status:</span></td>
			    <td><span class="location">Active</span></td>
			</tr>
			<tr>
			    <td><span class="location">Neighborhood:</span></td>
			    <td><span class="location">Chicago - Forest Glen</span></td>
			</tr>
			<tr>
			    <td><span class="location">County:</span></td>
			    <td><span class="location">Cook</span></td>
			</tr>
			<tr>
			    <td><span class="location">School District:</span></td>
			    <td><span class="location">Chicago Public Schools 269</span></td>
			</tr>
			<tr>
			    <td><span class="location">MLS #:</span></td>
			    <td><span class="location"><strong>08592604</strong></span></td>
			</tr>
		    </table>
		</div>
	    </div>
	    <div class="col-sm-6">
		<div class="listing-google-map">
		    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.8460334488!2d-87.73215545000001!3d41.83373295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+IL!5e0!3m2!1sen!2sus!4v1398313983422"></iframe>
		</div>
		<div class="spacer-25px"></div>
		<div class="listing-agent">
		    <div class="listing-agent-photo">
			<img class="img-responsive" src="http://placehold.it/150x150" alt="">
		    </div>
		    <div class="listing-agent-profile clearfix">
			<h3>John Doe</h3>
			<p>Listing Agent</p>
		    </div>
		</div>
		<div class="buttons"><a class="btn btn-danger btn-lg btn-block" href="mailto:email@company.com">Let's Go See It</a></div>
	    </div>
	</div>
    </div>
    <!-- End preview content --> 
</article>
<!-- End listing 7 -->

<!-- Listing 8 -->
<article class="col-md-4 col-sm-6 listing-item recent rent loaded-item">
    <!-- Thumbnail -->
    <div class="listing-thumb">
	<a href="#" class="main-link">
	    <img class="img-responsive img-center" src="img/listings/placeholder-400x300.jpg" alt="">
	    <h3 class="listing-title">5550 W Lunt Avenue Chicago, IL 60646</h3>
	    <span class="overlay-mask"></span>
	</a>
	<a class="link centered" href="#"><span class="btn btn-info">View Full Details</span></a>
    </div>
    <!-- End thumbnail -->
    
    <!-- Preview content -->
    <div class="preview-content" data-images="img/listings/placeholder-645x430.jpg,img/listings/placeholder-645x430.jpg,img/listings/placeholder-645x430.jpg">
	<div class="row">
	    <div class="col-sm-6">
		<div class="preview-description">
		    <table class="table-bordered text-center">
			<tr>
			    <td>3<br><span class="listing-attributes">Beds</span></td>
			    <td>2<br><span class="listing-attributes">Baths</span></td>
			    <td>0<br><span class="listing-attributes">1/2 Baths</span></td>
			    <td>0.11<br><span class="listing-attributes">Acres</span></td>
			</tr>
			<tr>
			    <td>1973<br><span class="listing-attributes">Built</span></td>
			    <td><i class="fa fa-home"></i><br><span class="listing-attributes">Singles</span></td>
			</tr>
		    </table>
		    <div class="spacer-25px"></div>
		    <table class="table-bordered">
			<tr>
			    <td><span class="location">Price:</span></td>
			    <td><span class="location price-lg">$439,900</span></td>
			</tr>
			<tr>
			    <td><span class="location">Status:</span></td>
			    <td><span class="location">Active</span></td>
			</tr>
			<tr>
			    <td><span class="location">Neighborhood:</span></td>
			    <td><span class="location">Chicago - Forest Glen</span></td>
			</tr>
			<tr>
			    <td><span class="location">County:</span></td>
			    <td><span class="location">Cook</span></td>
			</tr>
			<tr>
			    <td><span class="location">School District:</span></td>
			    <td><span class="location">Chicago Public Schools 269</span></td>
			</tr>
			<tr>
			    <td><span class="location">MLS #:</span></td>
			    <td><span class="location"><strong>08592604</strong></span></td>
			</tr>
		    </table>
		</div>
	    </div>
	    <div class="col-sm-6">
		<div class="listing-google-map">
		    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.8460334488!2d-87.73215545000001!3d41.83373295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+IL!5e0!3m2!1sen!2sus!4v1398313983422"></iframe>
		</div>
		<div class="spacer-25px"></div>
		<div class="listing-agent">
		    <div class="listing-agent-photo">
			<img class="img-responsive" src="http://placehold.it/150x150" alt="">
		    </div>
		    <div class="listing-agent-profile clearfix">
			<h3>John Doe</h3>
			<p>Listing Agent</p>
		    </div>
		</div>
		<div class="buttons"><a class="btn btn-danger btn-lg btn-block" href="mailto:email@company.com">Let's Go See It</a></div>
	    </div>
	</div>
    </div>
    <!-- End preview content --> 
</article>
<!-- End listing 8 -->

<!-- Listing 9 -->
<article class="col-md-4 col-sm-6 listing-item rent loaded-item">
    <!-- Thumbnail -->
    <div class="listing-thumb">
	<a href="#" class="main-link">
	    <img class="img-responsive img-center" src="img/listings/placeholder-400x300.jpg" alt="">
	    <h3 class="listing-title">5550 W Lunt Avenue Chicago, IL 60646</h3>
	    <span class="overlay-mask"></span>
	</a>
	<a class="link centered" href="#"><span class="btn btn-info">View Full Details</span></a>
    </div>
    <!-- End thumbnail -->
    
    <!-- Preview content -->
    <div class="preview-content" data-images="img/listings/placeholder-645x430.jpg,img/listings/placeholder-645x430.jpg,img/listings/placeholder-645x430.jpg">
	<div class="row">
	    <div class="col-sm-6">
		<div class="preview-description">
		    <table class="table-bordered text-center">
			<tr>
			    <td>3<br><span class="listing-attributes">Beds</span></td>
			    <td>2<br><span class="listing-attributes">Baths</span></td>
			    <td>0<br><span class="listing-attributes">1/2 Baths</span></td>
			    <td>0.11<br><span class="listing-attributes">Acres</span></td>
			</tr>
			<tr>
			    <td>1973<br><span class="listing-attributes">Built</span></td>
			    <td><i class="fa fa-home"></i><br><span class="listing-attributes">Singles</span></td>
			</tr>
		    </table>
		    <div class="spacer-25px"></div>
		    <table class="table-bordered">
			<tr>
			    <td><span class="location">Price:</span></td>
			    <td><span class="location price-lg">$439,900</span></td>
			</tr>
			<tr>
			    <td><span class="location">Status:</span></td>
			    <td><span class="location">Active</span></td>
			</tr>
			<tr>
			    <td><span class="location">Neighborhood:</span></td>
			    <td><span class="location">Chicago - Forest Glen</span></td>
			</tr>
			<tr>
			    <td><span class="location">County:</span></td>
			    <td><span class="location">Cook</span></td>
			</tr>
			<tr>
			    <td><span class="location">School District:</span></td>
			    <td><span class="location">Chicago Public Schools 269</span></td>
			</tr>
			<tr>
			    <td><span class="location">MLS #:</span></td>
			    <td><span class="location"><strong>08592604</strong></span></td>
			</tr>
		    </table>
		</div>
	    </div>
	    <div class="col-sm-6">
		<div class="listing-google-map">
		    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.8460334488!2d-87.73215545000001!3d41.83373295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C+IL!5e0!3m2!1sen!2sus!4v1398313983422"></iframe>
		</div>
		<div class="spacer-25px"></div>
		<div class="listing-agent">
		    <div class="listing-agent-photo">
			<img class="img-responsive" src="http://placehold.it/150x150" alt="">
		    </div>
		    <div class="listing-agent-profile clearfix">
			<h3>John Doe</h3>
			<p>Listing Agent</p>
		    </div>
		</div>
		<div class="buttons"><a class="btn btn-danger btn-lg btn-block" href="mailto:email@company.com">Let's Go See It</a></div>
	    </div>
	</div>
    </div>
    <!-- End preview content --> 
</article>
<!-- End listing 9 -->