@font-face {
    font-family: 'Conv_Roboto-Bold';
    src: url('../index_files/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('../index_files/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../index_files/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
    url('../index_files/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../index_files/Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Conv_Roboto-Regular';
    src: url('../index_files/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../index_files/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../index_files/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
    url('../index_files/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../index_files/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}