/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 11pt;
		line-height: 1.75em;
		min-width: 1200px;
	}
	
	h2
	{
		font-size: 1.5em;
	}
	
	h3
	{
		font-size: 1.35em;
	}

	.byline
	{
		margin: 0.5em 0 0 0;
		padding-bottom: 0.5em;
	}
	
	header
	{
		margin: 0 0 1.5em 0;
	}
	
	footer
	{
		margin: 2.25em 0 0 0;
	}
	
	/* Actions */

		.actions
		{
		}
		
			.actions .button
			{
				margin-right: 0.75em;
			}

	/* Box */

		.box
		{
			padding: 2.75em 1.75em 2.75em 1.75em;
		}
		
			.box .image-full
			{
				left: 1.75em;
				top: 1.75em;
				margin: -4.5em 0 4.25em -3.5em;
			}

	/* Button */
	
		.button
		{
			font-size: 1.1em;
			padding: 0.65em 1.5em 0.65em 1.5em;
		}

			.button.big
			{
				font-size: 1.5em;
				padding: 0.75em 1.5em 0.75em 1.5em;
			}

	/* Is-* */
	
		.is-post
		{
		}
		
			.is-post header
			{
				padding-top: 1em;
				margin: 0 0 2em 0;
			}
		
			.is-post h2
			{
				font-size: 2.5em;
				letter-spacing: -0.015em;
			}
			
			.is-post .byline
			{
				margin-top: 1.25em;
				font-size: 1.25em;
			}

	/* List */

		ul.links
		{
		}

			ul.links li
			{
				display: inline-block;
				border-left: solid 1px rgba(255,255,255,0.05);
				padding: 0 0 0 1em;
				margin: 0 0 0 1em;
			}
			
			ul.links li:first-child
			{
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

		ul.social
		{
			margin: 0 0 3.25em 0;
		}

			ul.social li
			{
				margin-left: 0.75em;
			}

	/* Pennant */

		.pennant
		{
			margin: 0 0 4em 0;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding: 6em 0 6em 0;
	}

		#header-wrapper:before
		{
			height: 10em;
		}
	
		#header-wrapper:after
		{
			height: 20em;
			top: -2.5em;
		}
	
	#main-wrapper
	{
		padding: 6em 0 6em 0;
	}

		#main-wrapper:after
		{
			height: 5em;
		}
	
	#footer-wrapper
	{
		padding: 6em 0 6em 0;
	}

		#footer-wrapper:before
		{
			height: 5em;
		}

		#footer-wrapper header
		{
			margin: 0 0 3em 0;
		}
		
			#footer-wrapper header h2
			{
				font-size: 1.75em;
			}
			
		#footer-wrapper .row
		{
			padding-bottom: 2em;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		/*text-align: center;*/
	}
	
		#header h1
		{
			color: #252122;
			font-weight: 900;
			font-size: 2.5em;
			letter-spacing: -0.035em;
		}
		
	#phone
	{
		text-align: right;
	}	
		
	#phone span
		{
			letter-spacing: 0.025em;
			font-size: 2.7em;
			font-weight: bold;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		margin-top: 1em;
	}
	
		#banner header
		{
			border-radius: 5px;
			position: absolute;
			left: 0;
			top: 0;
			padding: 4em;
			left: 50%;
			top: 50%;

			/*
				To vertically center this we need to set a width/height for the header
				overlay, then set a negative left/top margin set to half its width/height.
			*/
			
			width: 50em;
			height: 13em;
			
			margin-left: -25em;
			margin-top: -6.5em;
		}
		
			#banner header h2
			{
				font-size: 3em;
				margin: 0 0 0.65em 0;
				/*line-height: 1.1em;*/
			}

			#banner header .byline
			{
				font-size: 1.75em;
			}
			
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
		padding: 3em 0 0 0;
	}
	
		#intro section
		{
			padding: 2em 0 2em 0;
		}

		#intro h2
		{
			font-size: 1.75em;
		}
		
		#intro p
		{
			font-size: 1.25em;
			margin: 0;
		}
	
		#intro .middle
		{
			box-shadow:	16px 0px 0px 0px #fff,
						17px 0px 0px 0px #ccc, 
						
						-16px 0px 0px 0px #fff, 
						-17px 0px 0px 0px #ccc, 
						
						-16px -45px 0px 0px #fff, 
						16px -45px 0px 0px #fff, 

						-16px 45px 0px 0px #fff, 
						16px 45px 0px 0px #fff, 

						-16px 0px 45px 0px rgba(0,0,0,0.15),
						16px 0px 45px 0px rgba(0,0,0,0.15);
		}
		
		#intro .actions
		{
			padding: 5em 0 0 0;
		}
		
			#intro .actions .button
			{
				width: 12em;
				margin: 0 0.5em 0 0.5em;
			}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
		
	#copyright
	{
		margin: 3em 0 2em 0;
	}
	
		#copyright .links
		{
			padding: 0.85em 2.25em 0.85em 2.25em;
		}
		
		
	
.modal {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*MODALS---------------------------------------------------------------------------------------------------*/
.modals .overlay{
	display: none;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	background: #000000;
	opacity: 0.5;
	top: 0;
	left: 0;
}
.modal { 
	display: none;
	margin-left: -151px;
	padding: 7px 27px 4px;
	width: 321px;
	position: fixed;
	left: 50%;
	top: 125px;
	border: 1px solid #dadada;
	background-color: #fff;
	z-index: 10000;
	border-radius: 6px;
	box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.05);
}
.modal-form input, .modal-btn {
	width: 263px;
	min-height: 40px;
	color: #444444;
}
.modal-form input {
	margin-bottom: 5px;
	border-radius: 6px;
	padding-left: 23px;
	font-size: 17px;
	background: #FFFFFF;
	border: 1px solid #EAEAEA;
}
.modal-form input.phone {
	background: #FFFFFF;
}
.modal-btn {	
	font-size: 22px;
	color: #ffffff;
}
.modal .form-title {
	color: #000;
	margin-top: 0;
}

.close-btn {
	display: block;
	width: 13px;
	height: 13px;
	position: absolute;
	top: 8px;
	right: 10px;
	background: url(../images/close-btn.png) no-repeat 0 0;
}
.modal-form {
	margin-top: 23px;
}
.call-you {
	text-align: center;
}
.error{
	border: 1px solid red !important;
}
#map{ width: 100%; height: 280px;}