html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, small, strong, ol, ul, li, form, label,
table, caption, tr, td, footer, header { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
footer, header, menu, nav, section { display: block; }

body { background-color:#f3f5f7;line-height: 1;  font-weight:400; font-family: 'PT Sans', sans-serif;  }
 
ol, ul { list-style: none; }

a { color:none; text-decoration:none; }
a:focus { color:#fff; outline:0; text-decoration:none; }
a:hover { color:#fff; text-decoration:none; }


h1, h3, h6 { font-family: 'PT Sans', sans-serif; }

p { font-family: 'Roboto', sans-serif;  }

.clear { clear:both; }

body { background:url("../img/bg.png")no-repeat; background-size:100% 100%;  height:100%!important; display:block; min-height:100%; padding:0 0 100px;
	
}
.wrapper { width:940px; margin:0 auto; }
h1 { font-family: 'Roboto Slab', serif;
 font-size:40px; color:#ffffff; text-align:center; text-transform:uppercase; }
 .logo { width:37px; display:block;  margin:40px auto 60px;}


.title-div2 { width:60px; border-radius:5px; height:6px; display:block; margin:50px auto 50px; background-color:#3498db; }

.main-intro p  { float:left; width:600px; margin:0 auto; display:block; color:#8d9dad; font-size:18px;  text-align:center; font-weight:300; line-height:40px; }
.main-intro  span  { font-size:30px; color:#3d5266;  width:40px; float:left; text-align:center; line-height:50px; }

.subti { width:680px; margin:0 auto; display:block; }

p.designed   { clear:both; font-family: 'Roboto', sans-serif;
 font-size:12px; color:#3d5266; font-weight:700; text-transform: uppercase; text-align:center; margin:42px auto 0; float:none; }  
 
 .macs {  margin:90px 0 0; height:500px;}
 .macs .span4 h6 { font-family: 'Roboto Slab', serif;  font-size:18px; text-align:center; margin:35px 0 0; color:#8d9dad; }
 .macs h3 { color:#687f92; font-size:13px; text-align:center; margin:20px 0 0; }
 
 .macs .span4 img   {text-align:center; width:281px; display:block; margin:0 auto;}  

.macs .span4:hover {  cursor:pointer; }
.macs .span4:hover h6 { color:#ffffff!important; }
 #navi3 { position:relative; z-index:99; margin:0px auto 0; width:100px; top:0px;  }
#navi3 a { float:left; font-size:12px; border-radius:400px; background:none; text-decoration: none; text-align:center;  width:26px; height:26px; border:2px solid #ffffff; display:block; margin:0 5px 0; border:2px solid #e2e4e7; font-size:42px; line-height:5px; }
#navi3 a { opacity:0.5; }
#navi3 a:focus { outline:none; }
#navi3 a:hover { cursor:pointer; color:#f5f7f9; opacity:1; }

.fr {  margin:60px auto 0!important; }


