/* ===== PRIMARY STYLES =====================================================
   ========================================================================== */
/*========================= global ===========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {    
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'PF-Agora-Slab-Pro-Medium';
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}
/* =============== ВСПЛЫВАЮЩИЕ ОКНА ======================= ===================
============================================================ POP-UP============
/////////////////////////////////////////////////////////////////////////////*/
/*ЗАПИСАТЬСЯ НА МАСТЕР-КЛАСС*/
.overlay-zvonokt {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay-zvonokt:target {
    visibility: visible;
    opacity: 1;
}
.popup-zvonokt {              
    left: 0;
    opacity: 0;
    position: fixed;
    top: 40%;
    visibility: hidden;
    z-index: 10;    
    width: 100%;

    /*-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity 1s, top 1s;
    -moz-transition: opacity 1s, top 1s;
    -ms-transition: opacity 1s, top 1s;
    -o-transition: opacity 1s, top 1s;
    transition: opacity 1s, top 1s;
}
.wind-top-full-size {
  background: rgba(190,190,190,0.8);
  height: 209px;
  width: 100%;
}
.wind-order-top {
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    -o-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    opacity: 1!important;
    left: 50%;
  width: 290px;  
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  text-align: center; 
  padding: 45px 10px 10px 10px;  
  background: url(../img/background/popup.png) no-repeat top 4% center,
              #EEEFEE;
  position: relative;
}

.wind-order-top p{
  color: #fff;
  font-size: 25px; 
  line-height: 1;   
  text-shadow: 2px 2px 2px #007CB3;
}

.overlay-zvonokt:target+.popup-zvonokt {    
    opacity: 1;
    visibility: visible;
}

.wind-order-top {
  width: 305px;
  vertical-align: top;
background: rgba(174,70,207,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(174,70,207,1)), color-stop(0%, rgba(212,84,255,1)), color-stop(0%, rgba(0,153,222,1)), color-stop(100%, rgba(0,129,188,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: radial-gradient(ellipse at center, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae46cf', endColorstr='#0081bc', GradientType=1 );
  border-radius: 7px;
  border-bottom: 2px solid #0973B3;
  text-align: center;
  display: inline-block;
  padding: 10px 0 10px 0;
  margin-top: 19px;
}

.wind-order-top input {
  width: 270px;
  height: 40px;
  margin: 5px auto;
  border-radius: 3px;
  border: none;  
  font-size: 16px;
  color: #919191;
  padding-left: 15px;
}

.wind-order-top input[type="button"] {
  width: 285px;
  height: 40px;
  border-bottom: 3px solid #F2CC3C;
  border-radius: 4px;
  background: #FFD73F;
  display: block;
  margin: 5px auto;
  text-shadow: 1px 1px 2px #E3B131;
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  padding-top: 3px;
  padding-left: 0;
  text-shadow: 2px 2px 2px #F6CA3A;
}

.wind-order-top input[type="button"]:hover {
  background: #FFDD00 ;   
  cursor: pointer;
}

.wind-order-top input[type="button"]:active {
 background: #FFD73F;
 border-bottom: none; 
 margin-top: 8px;
 height: 37px;
}

.nu-ppc {
background: #FFC500 !important;
width: 265px;
height: 38px;
text-decoration: none;
color: #fff;
text-shadow: 1px 1px 3px #FFB100;
text-align: center;
padding: 0;
border: none;
border-bottom: 3px solid #FF9D00;
vertical-align: top;
margin: 0 auto;
font-size: 23px;
}


/* Кнопка закрытия окна  */
.close {        
height: 17px;
position: absolute;
right: 16px;
top: 17px;
width: 17px;
z-index: 15;   
background: url(../img/background/wind-close.png) no-repeat;
}

/* ALL-CONTENS  ALL-CONTENS ALL-CONTENS ALL-CONTENS ALL-CONTENS ALL-CONTENS ALL-CONTENS ALL-CONTENS*/

.head {
  padding-top: 15px;
  position: relative;
}

.description {
  vertical-align: top;  
  text-align: center;
  font-size: 50px;  
  font-weight: bold;
  font-family: arial;
}

.descr-1 {
 font-size: 30px;
 font-weight: bold;
}

.descr-1 span{
  color: #F6CB3A;
}

.descr-2 {
  color: #444544;
  font-size: 16px;
}

.order-call {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.zvaon-free {
  font-size: 16px;
  color: #8B8B8B;
}

.number {
  font-size: 30px;  
  font-weight: bold;
}

.number span {
  color: #898989;
}

.order-call-button {
  width: 242px;
  height: 35px;
  border-bottom: 3px solid #F2CC3C;
  border-radius: 4px;
  background: #FFD73F;
  display: block;
  margin: 0 auto;
  text-shadow: 1px 1px 2px #E3B131;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}

.order-call-button:hover {
  background: #FFDD00 ;  
}

.order-call-button:active {
 background: #FFD73F;
 border-bottom: none; 
 margin-top: 3px;
 height: 32px;
}

.acton1-big-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 591px;
  height: 115px;
  z-index: 1;
  background: url(../img/background/act-big-text.png);
  color: #000;
  padding: 10px 20px;
  font-size: 18px;  
}

.acton1-big-text span{
  font-size: 40px;
}

.timer {
  background: url(../img/background/timer-line.png) no-repeat top left;
  position: absolute;
  bottom: 0;
  width: 550px;
  height: 50px;
}

.timer-text {
  display: inline-block;
  position: relative;
  color: #fff;
  text-align: right;
  width: 72px;
  margin-right: -70px; 
  font-family: arial; 
font-size: 12px;
vertical-align: top;
margin-top: 5px;
}
.countbox {
  display: inline-block;
}

.timer1 {
  background: url(../img/background/timer-line.png) no-repeat top left;
  width: 550px;
  height: 50px;
}

.timer2 {
  background: url(../img/background/timer-line.png) no-repeat top left;
  width: 550px;
  height: 50px;
}


.action1 {
  display: inline-block;
  position: relative;
  width: 980px;
  height: 275px;

}

.top-carousel {
  position: absolute;
  top: 0;
  left: 0;
}

.acton-form {
  width: 305px;
  height: 275px;
  display: inline-block;
background: rgba(174,70,207,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(174,70,207,1)), color-stop(0%, rgba(212,84,255,1)), color-stop(0%, rgba(0,153,222,1)), color-stop(100%, rgba(0,129,188,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: radial-gradient(ellipse at center, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae46cf', endColorstr='#0081bc', GradientType=1 );
  border-radius: 7px;
  border-bottom: 2px solid #0973B3;
  text-align: center;
  float: right;
}

.act-form-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #0877A8;
  text-align: center;
  padding-top: 5px;
}

.acton-form input {
  width: 270px;
  height: 40px;
  margin: 5px auto;
  border-radius: 3px;
  border: none;  
  font-size: 16px;
  color: #919191;
  padding-left: 15px;
}

.acton-form input[type="button"] {
  width: 285px;
  height: 40px;
  border-bottom: 3px solid #F2CC3C;
  border-radius: 4px;
  background: #FFD73F;
  display: block;
  margin: 5px auto;
  text-shadow: 1px 1px 2px #E3B131;
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  padding-top: 3px;
  padding-left: 0;
  text-shadow: 2px 2px 2px #F6CA3A;
}

.acton-form input[type="button"]:hover {
  background: #FFDD00 ;   
  cursor: pointer;
}

.acton-form input[type="button"]:active {
 background: #FFD73F;
 border-bottom: none; 
 margin-top: 8px;
 height: 37px;
}

.hr-line1 {
  background: url(../img/background/hr1.jpg) no-repeat top center;
  width: 980px;
  height: 32px;
  margin: 10px 0 10px 0;
}

.hr-line2 {
  background: url(../img/background/hr2.jpg) no-repeat top center;
  width: 980px;
  height: 32px;
  margin: 10px 0 10px 0;
}

.dop-info {
  width: 500px;
  border-bottom: 3px solid #F2CC3C;
  border-radius: 4px;
  background: #FFD73F;
  display: block;
  margin: 5px auto;
  text-shadow: 1px 1px 2px #E3B131;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  text-shadow: 2px 2px 2px #F6CA3A;
  margin-top: 10px;
}

.dop-info:hover {
  background: #FFDD00 ;  
}

.dop-info:active {
 background: #FFD73F;
}

.seven-reasons {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 15px;
}

.reason {
  padding-top: 8px;
}

.reason p{
 vertical-align: middle;
 display: inline-block;
 padding-left: 20px;
 font-size: 20px;
 width: 800px;
}

.reason span {
  color: #008DCC;
}

.reason img{
 vertical-align: middle;
 display: inline-block;
 height: 50px;
}

.house {
  width: 320px;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
  vertical-align: top;
}

.house p{
  height: 75px;
  vertical-align: middle;
}

.house span{
  font-size: 22px;
}

.problems {
  background: url(../img/background/problems.jpg) repeat-y top 1% center;
  width: 980px; 
  padding-bottom: 30px;
  margin-top: 25px; 
}

.no-no-no {
  padding-left: 50px !important;
  padding-top: 8px;
}

.plus-padding-l {
  padding-left: 25px;
}

.bold {
  font-weight: bold;
}

.how-we-make {
  background: url(../img/background/how-we-make.jpg) no-repeat top center;
  width: 980px;
  height: 193px;
}

.walets .feedbackf img {
  border: none!important;
}

.walets {
  margin: 0 auto;
  text-align: center;
  height: 310px;
  padding-top: 20px;  

}

.walets img{
  padding: 0 22px 0 22px;  
}

.popup p, .popup div {
    margin-bottom: 10px;
}

.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.popup {          
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: fixed;    
    top: 40%;
    visibility: hidden;
    z-index: 10; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;   
 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}

.to-later .feedbackf img {
  border: none!important;
}

.feedbackf {  
  width: 930px;  
  border-radius: 9px;
  position: relative;  
  text-align: center;
}
.feedbackf img{
 margin-right: 15px;
 border-radius: 5px;
 border: 1px solid #fff; 
}

.feedbackf {  
  width: 930px;  
  border-radius: 9px;
  position: relative;  
  text-align: center;
}
.feedbackf img{
 margin-right: 15px;
 border-radius: 5px;
 border: 1px solid #fff;
}
.feedbackf img:last-child{
  margin-right: 0;
}

.closef {      
  line-height: 24px;
  position: absolute;
  right: 48%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: arial;
  top: -16px;
  width: 32px;
  height: 32px;
  margin-top: -1px;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
     border-radius: 15px;  
     background: url(../img/close.png);  
}
.closef:before {
    color: #747474;
    content: "";    
    font-size: 18px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    line-height: 0.5;
    padding-top: -3px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.reviv {
  display: inline-block;
  width: 475px;
}
.reviv p {
 float: right;
 padding-left: 5px;
 width: 400px;
 padding-right: 25px;
}

.nu {
  width: 380px;
  display: inline-block;
  font-size: 37px;
  font-weight: bold;
  margin-top: 40px;
}

.nu span{
  color: #0091D3;
}

.bottom-form {
  width: 305px;
  vertical-align: top;
background: rgba(174,70,207,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(174,70,207,1)), color-stop(0%, rgba(212,84,255,1)), color-stop(0%, rgba(0,153,222,1)), color-stop(100%, rgba(0,129,188,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: radial-gradient(ellipse at center, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae46cf', endColorstr='#0081bc', GradientType=1 );
  border-radius: 7px;
  border-bottom: 2px solid #0973B3;
  text-align: center;
  display: inline-block;
  padding: 10px 0 10px 0;
  margin-top: 19px;
}

.bottom-form input {
  width: 255px;
  height: 40px;
  margin: 5px auto;
  border-radius: 3px;
  border: none;  
  font-size: 16px;
  color: #919191;
  padding-left: 15px;
}

.bottom-form input[type="button"] {
  width: 270px;
  height: 81px;
  background: url(../img/background/button.png);
  display: block;
  margin: 5px auto;
  text-shadow: 1px 1px 2px #E3B131;
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  padding-top: 3px;
  padding-left: 0;
  text-shadow: 2px 2px 2px #F6CA3A;
  cursor: pointer;
}

.devushka {
  background: url(../img/background/girl.png) no-repeat top center;
  width: 980px;
  height: 461px;
}

.footer {
  width: 980px;
  margin: 0 auto;  
  height: 190px;
}

.acton-form-foot {
  width: 305px;
  vertical-align: top;
background: rgba(174,70,207,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(174,70,207,1)), color-stop(0%, rgba(212,84,255,1)), color-stop(0%, rgba(0,153,222,1)), color-stop(100%, rgba(0,129,188,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
background: radial-gradient(ellipse at center, rgba(174,70,207,1) 0%, rgba(212,84,255,1) 0%, rgba(0,153,222,1) 0%, rgba(0,129,188,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae46cf', endColorstr='#0081bc', GradientType=1 );
  border-radius: 7px;
  border-bottom: 2px solid #0973B3;
  text-align: center;
  display: inline-block;
  padding: 10px 0 10px 0;
  margin-top: 19px;
}

.acton-form-foot input {
  width: 270px;
  height: 40px;
  margin: 5px auto;
  border-radius: 3px;
  border: none;  
  font-size: 16px;
  color: #919191;
  padding-left: 15px;
}

.acton-form-foot input[type="button"] {
  width: 285px;
  height: 40px;
  border-bottom: 3px solid #F2CC3C;
  border-radius: 4px;
  background: #FFD73F;
  display: block;
  margin: 5px auto;
  text-shadow: 1px 1px 2px #E3B131;
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  padding-top: 3px;
  padding-left: 0;
  text-shadow: 2px 2px 2px #F6CA3A;
}

.acton-form-foot input[type="button"]:hover {
  background: #FFDD00 ;   
  cursor: pointer;
}

.acton-form-foot input[type="button"]:active {
 background: #FFD73F;
 border-bottom: none; 
 margin-top: 8px;
 height: 37px;
}

.contact {
  width: 330px;
  float: right;
  padding-top: 15px;
}

.order-call-b {  
  text-align: center;
  background: url(../img/background/telephone.png) no-repeat center left;
  padding-left: 49px;
}

.order-call-a {  
  text-align: center;
  background: url(../img/background/ukazatel.png) no-repeat center left;
  padding-left: 49px;
    font-size: 30px;
  font-weight: bold;
}

.end {
  display: inline-block;
  vertical-align: top;
  text-align: center;
 margin: 15px 0 0 0;
}

.inline4 {
  padding-top: 15px;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  text-align: center;
}

.inline4 li{ 
  list-style: none;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.order-house {
  display: block;
  width: 235px;
  height: 37px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: #F7CA00;
  border-radius: 5px;
  border-bottom: 2px solid  #EBC001;
  text-decoration: none;
  text-shadow: 1px 1px 2px #EBC001;
  padding-top: 4px;
  margin: 0 auto;
  margin-top: 5px;
}

.order-house:hover {
  background: #FFD516;
}

.order-house:active {
  background: #F7CA00;
  border: none;
  padding-top: 6px;  
}

.link1{
  display: block;
  width: 500px;
  height: 65px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: #F6CC0D;
  border-radius: 5px;
  border-bottom: 2px solid #EBC001;
  text-decoration: none;
  text-shadow: 1px 1px 2px #EBC001;
  padding-top: 4px;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
}

.link1:hover {
  background: #FFD516;
}

.link1:active {
  background: #F7CA00;
  border: none;
  padding-top: 6px;  
}

.link2{
  display: block;
  width: 290px;
  height: 35px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: #F6CC0D;
  border-radius: 5px;
  border-bottom: 2px solid #EBC001;
  text-decoration: none;
  text-shadow: 1px 1px 2px #EBC001;
  padding-top: 4px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.link2:hover {
  background: #FFD516;
}

.link2:active {
  background: #F7CA00;
  border: none;
  padding-top: 6px;  
}

.foter-bg {
  background: #E9E9E9;
}

.wind {
  background: rgba(190,190,190,0.6);
  height: 275px;
  width: 100%;
}