html, body
{
	min-width: 960px;
	
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	
	font-family: 'Lato', serif;
}
h1,h2,h3,h4,h5, p, ul
{
    padding: 0;
    margin: 0;
}
.wraper
{
	width: 100%;
    background: url("../img/bg.png");
}
.wraper.head
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	height: 80px;
	background: #273544;
	min-width: 960px;
}
.wraper.head .head-els{
	margin-top: 18px;
}
.wraper p
{
	color: #bdc3c7;
/*	font-style: italic;*/
	font-size: 14px;
	line-height: 14px;
	font-family: 'Calibri',sans-serif;
}
.head-els
{
	max-width: 960px;
	margin: auto;
	line-height: 80px;
	position: relative;
}
.logo
{
	font-size: 26px;
	color: white;
	float: left;
	text-transform: uppercase;
	cursor: pointer;
}
.logo img
{
        vertical-align: middle;
        margin-right: 10px;
}
ul.menu
{
	padding: 0;
	float: right;
line-height: 75px;
}
ul.menu li
{
	display: inline-block;
	list-style: none;
	padding: 0 6px;
	height: 100%;
}
ul.menu li a
{
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	text-decoration: none;
	height: 100%;
	display: block;
	padding-top: 5px;
}
header.wraper ul.menu li a.selected, ul.menu li a:hover
{
	border-top: 5px solid #5dade2;
	border-bottom: none;
	padding-top: 0px;
}
footer.wraper ul.menu.footer li a.selected, ul.menu.footer li a:hover
{
	border-bottom: 5px solid #5dade2;
	border-top: none;
	padding-top: 0px;
}
.cont
{
	margin: auto;
	max-width: 960px;
	height: 622px;
	position: relative;
}

.trial
{
		text-align: center;
		text-transform: uppercase;
		background-color: #5dade2; 
		border: 0;
		border-radius: 3px;
		width: 220px;
		margin-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
		font-weight: 200;
		cursor: pointer;
}
.trial:hover
{
	    background-color: #43a4e2;

}
.trial a
{
		display: block;
		text-align: center;
        color: white;
        text-decoration: none;
		font-size: 14px;
		width: 220px;
		height: 40px; 
		line-height: 40px; 

}
.trial.trial-blog{
	background-color: #bdc3c7; 
	position: relative;
	z-index: 3;
}
.trial.trial-blog:hover{
	background-color: #7f8c8d; 
}
section.paging
{
	width: 100%;
	text-align: center;
}
section.paging-main
{
	height: 110px;
	line-height: 110px;
}
section.paging .dot
{
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #c3c9cc;
	border-radius: 15px;
	cursor: pointer;
}
section.paging .dot.selected, section.paging .dot:hover
{
	background-color: #43a4e2;	
}
.dot-cont
{
	width: auto;
	height: 10px;
	text-align: center;
	vertical-align: middle;
}
.wraper_bg-bright
{       
        background: #fcfcfc url("../img/bg_bright.png") repeat;
        color: #37353a;
        text-align: center;
        position: relative;
		padding-top: 70px;
		font-family: 'Lato', serif;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}        
.wraper_bg-bright h1
{
	padding: 70px 0px 10px 0px;
	font-size: 46px;
	line-height: 50px;
	color: #2c3e50;
	text-transform: uppercase;
	font-weight: 300;
}
h1 span
{
	font-weight: bold;
	color: #5dade2;
}
.wraper_bg-bright h3
{
	color: #7f8c8d;
	font-size: 16px;
	line-height: 20px;
	padding: 0px 0px 30px 0px;
	font-weight: bold;
}
h3 span
{
	color: #5dade2;
}
.wraper_bg-bright h3 span
{
	color: #5dade2;
}
.packs-cont
{
	max-width: 880px;
	height: 330px;
	margin: auto;
	text-align: center;
}
.p_bottom
{
	color: #37353a;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.p_bottom span
{
	color:#5dade2;
}
.wraper.bg-raw
{
        background: #1f2b38 url("../img/bg.png") no-repeat;
		background-attachment: fixed;
		padding-top: 90px;
        color: white;
		overflow: hidden;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
.wraper.bg-raw h1
{
        text-align: center;
        padding:70px 0px 10px 0px;
		font-size: 46px;
		color: white;
}
.wraper.bg-raw h3
{
        text-align: center;
		font-size: 16px;
		color: white;
		line-height: 25px;
		max-width: 960px;
		margin: auto;
		padding: 0px 0px 30px 0px;
}
footer.wraper
{
 padding: 0px;
 background: #fbfafa;
}

footer.wraper ul li a
{
	color: #34495e;
}

footer.wraper .logo
{
	color: #34495e;
}
.head-els.footer
{
	height: 85px;
}
.map
{
		height: 790px;
		position: relative
}
.map h1
{
	padding-bottom: 40px;
	font-size: 46px;
	line-height: 50px;
	color: #2c3e50;
	text-transform: uppercase;
	font-weight: 300;
}
.map h3
{
	color: #2c3e50;
	font-size: 14px;
	line-height: 18px;
	padding: 0;
	text-transform: uppercase;
	font-weight: 400;
	
}
.location
{
	width: 32px;
	height: 57px;
	background: url("../img/location_blue.png") no-repeat;
	position: absolute;
	top: 45%;
	right: 47%;
}
.polosochka2
{
		width: 100%;
		height: 26px;
		background-image: url("../img/divider_2.png");
		background-position: top center;
		background-repeat: no-repeat;
		margin-left: auto;
		margin-right: auto;
}

.map-mask
{
	background-color: rgba(220, 220, 220, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.t-clear:after{
	clear: both;
	content: '';
	display: block;
	height: 0;
}
.l_form1
{
  width: 250px;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 0;
}
.nicescroll-rails{
	z-index: 1000 !important;
}

/*________________________________________________________________________________________*/

h2{
	font-size: 20px;
	color: #4b494f;
}
p{
	font-size: 14px;
	color: #7f8c8d;
	text-align: left;
}
.intro_block{
	margin-top: -10px;
	display: inline-block;
	width: 460px;
	height: 100%;
	background: url("../img/paper_top.png") top no-repeat, url("../img/paper_bottom.png") bottom no-repeat;
	
}
.intro_block .trial{
	width: 360px;
}
.intro_block .trial a{
	width: 360px;
}
.intro_block h1{
	color: #4b494f !important;
	padding-top: 55px !important;
}
.intro_block h1, h3{
	text-align: center !important;
	float: none !important;
}
.intro_h{
	float: right;
	width:500px;
	height: 100%;
}
.intro_h h1{
	margin-top: 190px;
	margin-left: 70px;
	padding-top: 0px !important;
}
.intro_h h3.special, .intro_block h3.special{
	color: #7f8c8d;
}
.intro_h h3.special{
	margin-left: 45px;
}
#services{
	margin-top: -25px;
}
#map h1{
	padding-top: 0px;
}
.map_container{
/*	background-image: url("../img/line.png");
	background-repeat: no-repeat;
	background-position: top;*/
	height: 460px;
	width: 900px;
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 40px;
	margin-top:60px;
	position: relative;
	overflow: hidden;
}
.map_container img{
	z-index: 50;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0;
}
.map_container iframe{
	-webkit-filter: grayscale(1);
	width: 100%;
	height: 100%;
}
.middle_logo{
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	height: 30px;
	width: 25px;
	position: absolute;
	left: 48.5%;
	/*left: 0;*/
	right: 0;
	display: block;
}
.address_cont{
	display: block;
	height: 85px;
	width: 900px;
	margin: auto;
	margin-bottom: 130px;
}
.address1, .address2, .address3{
	display: inline-block;
	width: 280px;
	vertical-align: top;
}
.address3 {
	width: 315px;
}
.address3 h1{
	padding: 0 !important;
}
.address_cont h3{
	margin:0px !important;
	padding:0px !important;
	font-size: 18px !important;
	color: white !important;
	text-align: left !important;
}
.address_cont p{
	margin-top: 15px;
	font-size: 14pt;
	line-height: 18pt;
	color: white;
}
.services_cont{
	display: block;
	height: 550px;
	width: 980px;
	margin: auto;
	margin-top: 40px;
	text-align: left;
	margin-bottom: 30px;
}
.services_cont p{
	font-size: 14px;
	color: #7f8c8d;
	margin-top: 20px;
	width: 230px;
	text-align: left;
	margin-left: 185px;

}
.services_cont h2{
	margin-left: 185px;
	margin-top: 15px;
}
.service_l, .service_r{
	display: inline-block;
	width: 450px;
	height: 185px;
	vertical-align: top;
}
/*.service_r{
	margin-left: 65px;
}*/
.service_l img, .service_r img{
	float: left;
	margin-left: 39px;
	margin-top: 25px;
}
/*.service_l h2, .service_r h2{
	margin-top: 25px;
}*/
.loan_l, .loan_m, .loan_r{
	display: inline-block;
	width: 300px;
	height: 840px;
	vertical-align: top;
}
.loan_r{
	width: 345px;
	margin-left: 15px;
}
.loan_r h1{
	padding-top: 5px;
	padding-bottom: 0px;
}
.loan_r .special{
	font-size: 12pt;
	line-height: 29pt;
	color: #4b494f;
	text-align: center;
	font-weight: bold;
	margin-top: 25px;
}
.loan_r .special span{
	color: #5dade2;
}
.loan_r a
{
	margin-left: -184px;
	margin-bottom: 40px;
	color: #43a4e2;
	font-family: 'Lato', serif;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
}
.loan_l p, .loan_m p{
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.loan_m textarea{
	width: 235px;
	height: 120px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 0;
}
.loan_m select.l_form1 {
	width: 265px;
}
.loan_m .special{
	margin-top: 10px;
	margin-bottom: 39px;
}
.loan_l .trial{
	margin-left: 16px;
	margin-top: 30px;
}
.loan_l .l_form1, .loan_m .l_form1{
	margin-bottom: 0px;
}
.arrow_blue {
	position: relative;
	margin: auto;
	margin-left: 100px;
	background: #43a4e2;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	left: 0;
	right: 0;
	border: 0;
	cursor: pointer;
	z-index: 2;
	float: left;
}
.step{
	height: 102px;
	text-align: left;
	position: relative;
}
.step h2{
	margin-bottom: 10px;
}
.vertical{
	position: absolute;
	top: 82px;
	left: 60px;
	width: 1px;
	height: 40px;
	background-color: #bdc3c7;
}
.arrow_right {
	width: 0;
	height: 0;
	border-left: 12px solid white;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	position: absolute;
	top: 30%;
	left: 40%;
}
.icon_white {
	position: relative;
	margin: auto;
	margin-left: 30px;
	background: white;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	left: 0;
	right: 0;
	border: 0;
	cursor: pointer;
	z-index: 2;
	float: left;
}
.icon_white img{
	position: absolute;
	left: 21%;
	top: 17%;
}
.intro_links{
	width: 600px;
	height: 50px;
	display: block;
}
.intro_links h3.ilink{
	color: white;
	margin-top: 8px;
	margin-left: 15px;
	font-size: 13px;
	float: left !important;
	padding: 0px;
}
.get_cont {
	display: block;
	height: 800px;
	width: 960px;
	margin: auto;
	margin-top: 40px;
	text-align: left;
}
.get_cont p, .js-animated-list{
	color: white;
	margin-bottom: 25px;
	font-size: 14pt;
	line-height: 18pt;
}
.get_left p{
	margin-left: -25px;
	padding-left: 25px;
	background-image: url("../img/tick.png");
	background-position: top left;
	background-repeat: no-repeat;
	width: 410px;
}
.animated-list-item{
	margin-bottom: 15px;
}
.animated-list-title{
	margin-bottom: 20px;
	padding-left: 20px;
	background-image: url("../img/small_arrow.png");
	background-position: left;
	background-repeat: no-repeat;
}
.animated-list-item.selected .animated-list-title{
	background-image: url("../img/small_arrow_selected.png");
}
.animated-list-body{
	margin-bottom: 30px;
	padding-left: 20px;
}
.get_left, .get_right {
	display: inline-block;
	width: 445px;
	height: 680px;
	vertical-align: top;
}
.get_left{
	margin-right: 58px;
	height: 640px;
}
.get_left p{
	width: 385px;
}
.get_left h2, .get_right h2 {
	color: #3498db;
	font-size: 20pt;
	margin-bottom: 15px;
}
.note{
	height: 200px;
	width: 360px;
	margin: auto;
	padding-top: 80px;
	padding-left: 0px;
	padding-bottom: 35px;
	padding-left: 42px;
	padding-right: 42px;
	background-image: url("../img/paper_middle.png");
	background-position: bottom;
	background-repeat: no-repeat;
}
.note .trial{
	height: 40px;
}
.note .trial a{
	line-height: 40px;
}
.note p{
	color: #e74a03;
	background: none;
	text-align: center;
	width: 360px;
}
.note .trial{
	width: 360px;
	margin-bottom: 0px;
}
.note .trial a{
	width: 360px;
}
.polosochka_3 {
		width: 355px;
		height: 1px;
		background-color: #b0b5bb;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 35px;
		margin-top: 5px;
}
.amount-cont {
	margin: auto;
	width: 370px;
	margin-bottom: 15px;
}
.minus {
	position: relative;
	background-image: url("../img/minus.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: left;
}
.plus {
	position: relative;
	background-image: url("../img/plus.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: left;
}
.load-line{
	width: 200px;
	height: 70%;
	background-color: white;
	border: 1px solid #e3e2e2;
	border-radius: 15px;
	float: left;
	margin: 2px 10px 0;
	box-shadow: inset 1px 1px 4px lightgray;
}
.load-inner-line{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-image: url("../img/stripe.png");
	box-shadow: inset 1px 1px 4px gray;
}
.amount{
	height: 20px;
	line-height: 20px;
	width: 265px;
	display: inline-block;
}
.animated-list-title{
	cursor: pointer;
	text-decoration: underline;
}
.animated-list-body{
	display: none;
}
.input-amount{
	width: 70px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #e3e2e2;
	border-top: 2px #c3c1c2 solid;
	color: #464646;
	font-size: 20px;
	text-align: center;
	margin-left: 20px;
}
.amount-message-main{
	color: #464646;
	margin-left: 30px;
}
.amount-message-sub{
	color: #b9b9b9;
	margin-left: 30px;
	margin-bottom: 20px;
}
.getaloan-cont{
	width: 960px;
	margin: auto;
}
.getaloan-cont .p_bottom{
	display: inline-block;
	width: 180px;
	padding: 0;
	margin: 0;
	margin-right: 30px;
	text-align: right;
}
.getaloan-cont .trial{
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-left: 25px;
	vertical-align: top;
}
.getaloan-cont .counters{
	padding: 0px;
	display: inline-block;
	width: 28px;
	height: 40px;
	background: white;
	border: 1px solid #acacac;
	border-radius: 3px;
	vertical-align: top;
	line-height: 40px;
	font-size: 20px;
}
#services{
	padding-bottom: 90px;
}
.img_border2
{
	width: 60px;
	height: 60px;
	float: left;
	background-color: white;
	border: 1px #bdc3c7 solid;
	border-radius: 30px;
	margin-left: 30px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}
.img_border2 h2
{
	margin-top: 15px;
}


.super-circle{
	width: 169px;
	height: 177px;
	position: relative;
	float: left;
}
.super-circle1{
	width: 89px;
	height: 0;
	background: url('../img/circle.png') top left;
	position: absolute;
	top:0;
	left: 0;
}
.super-circle:hover .super-circle1{
	transition-property: height;
	transition-duration: .4s;
	height: 177px;
}
.super-circle2{
	width: 80px;
	height: 0;
	background: url('../img/circle.png') bottom right;
	position: absolute;
	bottom: 0;
	right: 0;
}
.super-circle:hover .super-circle2{
	transition-property: height;
	transition-delay: .3s;
	transition-duration: .4s;
	height: 177px;
}


.small_circle_cont{
	width: 960px;
	height: 96px;
	margin: auto;
}
.super-circle-small{
	width: 96px;
	height: 96px;
	position: relative;
	float: left;
	display: inline-block;
	z-index: 1;
}
.super-circle-small1{
	width: 48px;
	height: 0;
	background: url('../img/circle_2.png') top left;
	position: absolute;
	top:0;
	left: 0;
}
.super-circle-small:hover .super-circle-small1{
	transition-property: height;
	transition-duration: .4s;
	height: 96px;
}
.super-circle-small2{
	width: 48px;
	height: 0;
	background: url('../img/circle_2.png') bottom right;
	position: absolute;
	bottom: 0;
	right: 0;
}
.super-circle-small:hover .super-circle-small2{
	transition-property: height;
	transition-delay: .3s;
	transition-duration: .4s;
	height: 96px;
}
.super-circle-small1 .images1{
	background:url('../img/icon_1.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images1{
	background-image: url('../img/icon_1_w.png'); 
}

.super-circle-small1 .images2{
	background:url('../img/icon_2.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images2{
	background-image: url('../img/icon_2_w.png'); 
}

.super-circle-small1 .images3{
	background:url('../img/icon_3.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images3{
	background-image: url('../img/icon_3_w.png'); 
}

.super-circle-small1 .images4{
	background:url('../img/icon_4.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images4{
	background-image: url('../img/icon_4_w.png'); 
}

.super-circle-small1 .images5{
	background:url('../img/icon_5.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images5{
	background-image: url('../img/icon_5_w.png'); 
}

.super-circle-small1 .images6{
	background:url('../img/icon_6.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images6{
	background-image: url('../img/icon_6_w.png'); 
}

.super-circle-small1 .images7{
	background:url('../img/icon_7.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images7{
	background-image: url('../img/icon_7_w.png'); 
}

.super-circle-small1 .images8{
	background:url('../img/icon_8.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images8{
	background-image: url('../img/icon_8_w.png'); 
}

.super-circle-small1 .images9{
	background:url('../img/icon_9.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images9{
	background-image: url('../img/icon_9_w.png'); 
}

.super-circle-small1 .images10{
	background:url('../img/icon_10.png') center no-repeat; 
	width: 96px;
	height: 96px;
	z-index: 3;
}
.super-circle-small:hover .images10{
	background-image: url('../img/icon_10_w.png'); 
}
.loan_after{
	margin: auto;
	float: left;
}
.load_after_cont{
	width: 930px;
	margin: auto;
}
#loan{
	padding-bottom: 90px;
}
.mobile{
	display: none;
}

/** PARALLAX EFFECTS **/

.service_l:nth-child(1){
	-webkit-transition: -webkit-transform 1.1s, opacity 1.1s;
	-moz-transition: -moz-transform 1.1s, opacity 1.1s; 
	transition: transform 1.1s, opacity 1.1s;
	-webkit-transform: translateX(-200px);
	-moz-transform: translateX(-200px);
	transform: translateX(-200px);
}
.service_r:nth-child(2){
	-webkit-transition: -webkit-transform .4s, opacity .4s;
	-moz-transition: -moz-transform .4s, opacity .4s; 
	transition: transform .4s, opacity .4s;
	-webkit-transform: translateX(-200px);
	-moz-transform: translateX(-200px);
	transform: translateX(-200px);
}
.service_l:nth-child(3){
	-webkit-transition: -webkit-transform 2s, opacity 2s;
	-moz-transition: -moz-transform 2s, opacity 2s; 
	transition: transform 2s, opacity 2s;
	-webkit-transform: translateX(-200px);
	-moz-transform: translateX(-200px);
	transform: translateX(-200px);
}
.service_r:nth-child(4){
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	-moz-transition: -moz-transform 1s, opacity 1s; 
	transition: transform 1s, opacity 1s;
	-webkit-transform: translateX(-200px);
	-moz-transform: translateX(-200px);
	transform: translateX(-200px);
}
.service_l:nth-child(5){
	-webkit-transition: -webkit-transform 3s, opacity 3s;
	-moz-transition: -moz-transform 3s, opacity 3s; 
	transition: transform 3s, opacity 3s;
	-webkit-transform: translateX(-200px);
	-moz-transform: translateX(-200px);
	transform: translateX(-200px);
}
.service_r:nth-child(6){
	-webkit-transition: -webkit-transform 2s, opacity 2s;
	-moz-transition: -moz-transform 2s, opacity 2s; 
	transition: transform 2s, opacity 2s;
	-webkit-transform: translateX(-200px);
	-moz-transform: translateX(-200px);
	transform: translateX(-200px);
}


.getaloan-cont .p_bottom, .getaloan-cont .counters{
	-webkit-transition: -webkit-transform 2s, opacity 2s;
	-moz-transition: -moz-transform 2s, opacity 2s; 
	transition: transform 2s, opacity 2s;
}
.getaloan-cont .trial{
	-webkit-transition: -webkit-transform 2.4s, opacity 2.4s;
	-moz-transition: -moz-transform 2.4s, opacity 2.4s; 
	transition: transform 2.4s, opacity 2.4s;
}
.get_left, .get_right{
	-webkit-transition: -webkit-transform 2.7s, opacity 2.7s;
	-moz-transition: -moz-transform 2.7s, opacity 2.7s; 
	transition: transform 2.7s, opacity 2.7s;
}
.get_left .note, .js-animated-list{
	-webkit-transition: -webkit-transform 3.2s, opacity 3.2s;
	-moz-transition: -moz-transform 3.2s, opacity 3.2s; 
	transition: transform 3.2s, opacity 3.2s;
}
.loan_l .cbp-so-side:nth-child(1),
.loan_m .cbp-so-side:nth-child(1){
	-webkit-transition: -webkit-transform .4s, opacity .4s;
	-moz-transition: -moz-transform .4s, opacity .4s; 
	transition: transform .4s, opacity .4s;
}
.loan_l .cbp-so-side:nth-child(2), .loan_m .cbp-so-side:nth-child(2){
	-webkit-transition: -webkit-transform .8s, opacity .8s;
	-moz-transition: -moz-transform .8s, opacity .8s; 
	transition: transform .8s, opacity .8s;
}
.loan_l .cbp-so-side:nth-child(3), .loan_m .cbp-so-side:nth-child(3), .loan_r img{
	-webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
	-moz-transition: -moz-transform 1.2s, opacity 1.2s; 
	transition: transform 1.2s, opacity 1.2s;
}
.loan_l .cbp-so-side:nth-child(4), .loan_m .cbp-so-side:nth-child(4){
	-webkit-transition: -webkit-transform 1.6s, opacity 1.6s;
	-moz-transition: -moz-transform 1.6s, opacity 1.6s; 
	transition: transform 1.6s, opacity 1.6s;
}
.loan_l .cbp-so-side:nth-child(5), .loan_m .cbp-so-side:nth-child(5){
	-webkit-transition: -webkit-transform 2s, opacity 2s;
	-moz-transition: -moz-transform 2s, opacity 2s; 
	transition: transform 2s, opacity 2s;
}
.loan_l .cbp-so-side:nth-child(6), .loan_m .cbp-so-side:nth-child(6){
	-webkit-transition: -webkit-transform 2.4s, opacity 2.4s;
	-moz-transition: -moz-transform 2.4s, opacity 2.4s; 
	transition: transform 2.4s, opacity 2.4s;
}
.loan_l .cbp-so-side:nth-child(7){
	-webkit-transition: -webkit-transform 2.8s, opacity 2.8s;
	-moz-transition: -moz-transform 2.8s, opacity 2.8s; 
	transition: transform 2.8s, opacity 2.8s;
}
.loan_l .cbp-so-side:nth-child(8){
	-webkit-transition: -webkit-transform 3.2s, opacity 3.2s;
	-moz-transition: -moz-transform 3.2s, opacity 3.2s; 
	transition: transform 3.2s, opacity 3.2s;
}
.loan_l .cbp-so-side:nth-child(9), .loan_m .cbp-so-side:nth-child(7), .loan_r.div{
	-webkit-transition: -webkit-transform 3.6s, opacity 3.6s;
	-moz-transition: -moz-transform 3.6s, opacity 3.6s; 
	transition: transform 3.6s, opacity 3.6s;
}




.super-circle-small:nth-child(1){
	-webkit-transition: -webkit-transform .1s, opacity .1s;
	-moz-transition: -moz-transform .1s, opacity .1s; 
	transition: transform 3.8s, opacity 3.8s;
}
.super-circle-small:nth-child(2){
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	-moz-transition: -moz-transform .3s, opacity .3s; 
	transition: transform .3s, opacity .3s;
}
.super-circle-small:nth-child(3){
	-webkit-transition: -webkit-transform .5s, opacity .5s;
	-moz-transition: -moz-transform .5s, opacity .5s; 
	transition: transform .5s, opacity .5s;
}
.super-circle-small:nth-child(4), div.address1{
	-webkit-transition: -webkit-transform .7s, opacity .7s;
	-moz-transition: -moz-transform .7s, opacity .7s; 
	transition: transform .7s, opacity .7s;
}
.super-circle-small:nth-child(5){
	-webkit-transition: -webkit-transform .9s, opacity .9s;
	-moz-transition: -moz-transform .9s, opacity .9s; 
	transition: transform .9s, opacity .9s;
}
.super-circle-small:nth-child(6){
	-webkit-transition: -webkit-transform 1.1s, opacity 1.1s;
	-moz-transition: -moz-transform 1.1s, opacity 1.1s; 
	transition: transform 1.1s, opacity 1.1s;
}
.super-circle-small:nth-child(7), div.address2{
	-webkit-transition: -webkit-transform 1.3s, opacity 1.3s;
	-moz-transition: -moz-transform 1.3s, opacity 1.3s; 
	transition: transform 1.3s, opacity 1.3s;
}
.super-circle-small:nth-child(8) {
	-webkit-transition: -webkit-transform 1.5s, opacity 1.5s;
	-moz-transition: -moz-transform 1.5s, opacity 1.5s; 
	transition: transform 1.5s, opacity 1.5s;
}
.super-circle-small:nth-child(9){
	-webkit-transition: -webkit-transform 1.7s, opacity 1.7s;
	-moz-transition: -moz-transform 1.7s, opacity 1.7s; 
	transition: transform 1.7s, opacity 1.7s;
}
.super-circle-small:nth-child(10), div.address3{
	-webkit-transition: -webkit-transform 1.9s, opacity 1.9s;
	-moz-transition: -moz-transform 1.9s, opacity 1.9s; 
	transition: transform 1.9s, opacity 1.9s;
}
.super-puper-mega-h{
	-webkit-transition: -webkit-transform .9s, opacity .9s;
	-moz-transition: -moz-transform .9s, opacity .9s; 
	transition: transform .9s, opacity .9s;
}
.intro_h h1{
	-webkit-transition: -webkit-transform .1s, opacity .1s;
	-moz-transition: -moz-transform .1s, opacity .1s; 
	transition: transform 3.8s, opacity 3.8s;
}

/** DIAGONALS **/
#intro {
	margin-bottom: -20px;
}
#services{
	margin-top: -22px;
	margin-bottom: -20px;
}
#get{
	margin-top: -20px;
	margin-bottom: -20px;
	z-index: -1;
}
#loan{
	margin-top: -22px;
	margin-bottom: -21px;
}
#map{
	margin-top: -20px;
	z-index: -1;
}
.diagonal1{
	width: 100%;
	height: 47px;
	transform: rotate(1deg);
	-ms-transform:rotate(1deg); /* IE 9 */
	-webkit-transform:rotate(1deg); /* Safari and Chrome */
	background-color: white;
	background-image: url("../img/bg_bright.png");
}
.diagonal2{
	width: 100%;
	height: 47px;
	transform: rotate(-1deg);
	-ms-transform:rotate(-1deg); /* IE 9 */
	-webkit-transform:rotate(-1deg); /* Safari and Chrome */
	background-color: white;
	background-image: url("../img/bg_bright.png");
	background-position: bottom;
}


.super-circle-content{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	top: 0;
	text-align: center;
	transition-property: opacity, top;
	transition-duration: .5s;
}
.super-circle-small:hover .super-circle-content{
	top: -40px;
	opacity: 1;
}

.super-circle-content{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0;
	top: 0;
	text-align: center;
	transition-property: opacity, top;
	transition-duration: .5s;
}
.super-circle-small:hover .super-circle-content{
	top: -40px;
	opacity: 1;
}