@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Conv_DINPro-Regular';
	src: url('../fonts/regular/DINPro-Regular.eot');
	src: local('☺'), url('../fonts/regular/DINPro-Regular.woff') format('woff'), url('../fonts/regular/DINPro-Regular.ttf') format('truetype'), url('../fonts/regular/DINPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_DINPro-Bold';
	src: url('../fonts/bold/DINPro-Bold.eot');
	src: local('☺'), url('../fonts/bold/DINPro-Bold.woff') format('woff'), url('../fonts/bold/DINPro-Bold.ttf') format('truetype'), url('../fonts/bold/DINPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_DINPro-Light';
	src: url('../fonts/light/DINPro-Light.eot');
	src: local('☺'), url('../fonts/light/DINPro-Light.woff') format('woff'), url('../fonts/light/DINPro-Light.ttf') format('truetype'), url('../fonts/light/DINPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_DINPro-Medium';
	src: url('../fonts/medium/DINPro-Medium.eot');
	src: local('☺'), url('../fonts/medium/DINPro-Medium.woff') format('woff'), url('../fonts/medium/DINPro-Medium.ttf') format('truetype'), url('../fonts/medium/DINPro-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{width:100%; height:100%; margin:0; padding:0; font-family: 'Conv_DINPro-Regular'; font-size:20px; line-height:25px; background:url(../img/top.jpg) no-repeat top center;}
html{height:100%;}
img{border:none; outline:none;}
input{outline:none;}
td{vertical-align:top;}
.clear{clear:both; height:1px;}
.inner{width:980px; margin:0 auto;}
a{outline:none; text-decoration:underline;}
a:hover{text-decoration:none;}

/*top*/
#top{ height:606px; padding-bottom:30px;}
.head-top-left{ background:url(../img/head-left.png) no-repeat left top; width:268px; min-height:60px; padding:0 10px; float:left; margin:16px 0 0 0;}
.head-top-left .title{font-family: 'Conv_DINPro-Light'; font-size:40px; line-height:36px; color:#fff; text-shadow:1px 1px #ccc; text-transform:uppercase;}
.head-top-left .title span{ display:block; font-family: 'Conv_DINPro-Bold'; color:#d44f68;}
.head-top-left .slogan{ font-size:15px; color:#6f6f6f; font-family: 'Conv_DINPro-Medium'; line-height:17px; text-shadow:1px 1px #f9f9f9; padding-top:11px;}
.head-top-right{ background:url(../img/head-right.png) no-repeat right top; padding:10px 17px; width:250px; float:right; text-align:right; min-height:83px; margin-top:16px;}
.head-top-right .tel{ font-size:35px; color:#fff; text-shadow:1px 1px #ccc; font-family: 'Conv_DINPro-Light';}
.head-top-right .tel span{font-family: 'Conv_DINPro-Bold';}
.head-top-right .button{ cursor:pointer; border:none; background:none; display:block; font-family: 'Conv_DINPro-Regular'; text-transform:uppercase; color:#fff; font-size:16px; float:right; margin-right:-6px; margin-top:13px; text-shadow:1px 1px #ccc;}
.head-top-right .button span{}
.head-top-right .button:hover{color:#b9e676;}
.head-middle{background:url(../img/head-middle.png) no-repeat; width:570px; height:53px; float:right; margin-top:-35px; text-align:center; font-family: 'Conv_DINPro-Light'; font-size:30px; color:#fff; text-transform:uppercase; line-height:50px;}

/*main*/
#main{}
.banners{ padding-bottom:40px;}
.banners table{width:100%;}
.banners table td{width:33% !important;}
#main h2{background:url(../img/h2-bg.jpg) no-repeat; width:400px; height:52px; display:block; margin:0 auto 20px; background:url(../img/h2-bg.jpg) no-repeat; text-align:center; padding:0; font-family: 'Conv_DINPro-Regular'; font-size:40px; font-weight:normal !important; color:#fff; text-transform:uppercase; line-height:52px;}
#main h3{display:block; margin:0 0 27px 0; padding:3px 0 0 0; text-transform:uppercase; text-align:center; font-size:30px; color:#585958;}
.numbers{ float:right; margin-right:65px;}
.numbers ul{ margin:0; padding:0;}
.numbers ul li{ display:block; background:url(../img/numbers.jpg) no-repeat; padding:7px 0 8px 60px; font-size:20px; color:#000; letter-spacing:1px; list-style:none;}
.numbers ul li.num1{ background-position:0 0}
.numbers ul li.num2{ background-position:0 -40px;}
.numbers ul li.num3{background-position:0 -80px;}
.numbers ul li.num4{background-position:0 -120px;}
.numbers ul li.num5{background-position:0 -160px;}
.numbers ul li.num6{background-position:0 -200px;}
.numbers ul li.num7{background-position:0 -240px;}
.numbers ul li.num8{background-position:0 -280px;}
.us{float:left; background:url(../img/mid-left.png) no-repeat; width:491px; height:173px; margin-top:47px; text-align:center; padding-top:45px; font-size:82px; font-family: 'Conv_DINPro-Medium'; text-transform:uppercase; color:#fff; text-indent:-60px; line-height:60px;}
.us span{display:block; font-family: 'Conv_DINPro-Light'; margin-top:37px;}

.form{background:url(../img/form1-bg.png) no-repeat left; width:980px; height:149px; margin-top:30px;}
.form .title{font-size:22px; color:#fff;  font-family: 'Conv_DINPro-Medium';  text-shadow:1px 1px #ccc; padding-top:30px; margin-left:105px; text-transform:uppercase;}
.form .inputbox{background:url(../img/form-input.jpg) no-repeat; width:205px; height:25px; padding:10px 20px; border:none; color:#dadada; font-size:20px; letter-spacing:1px; font-family: 'Conv_DINPro-Regular'; margin-right:16px; display:block; float:left;}
.form .button{background: url(../img/form-button.png) no-repeat; width:275px; height:49px; border:none; cursor:pointer; text-indent:-9999px; font-size:0; display:block; float:left; margin-top:1px; }
.form .button span{text-indent:-9999px;  font-size:0; }
.form .button:hover{opacity:0.8;}
.form .call-form{padding-top:18px; margin-left:150px;}

/*preim*/
.preim{background:url(../img/preim-top.png) no-repeat top center; min-height:200px; height:auto; margin-bottom:2px;}
.preim-minus-title{ float:left; width:422px; text-align:center; font-size:25px; color:#fff; text-transform:uppercase; margin:32px 0 0 45px; line-height:29px;}
.preim-plus-title{ float:right; width:420px; font-family: 'Conv_DINPro-Bold'; text-align:center; text-transform:uppercase; color:#fff; font-size:45px; margin:47px 45px 0 0;}
.minus{ float:left; width:488px; margin-top:66px; }
.minus ul{ margin:0; padding:0;}
.minus ul li{ list-style:none; display:block; font-family: 'Conv_DINPro-Medium'; font-size:18px; background:url(../img/minus.jpg) no-repeat left; padding:6px 0 6px 50px; width:336px; line-height:20px; margin-bottom:35px;}

.plus{float:right; width:488px; margin-top:66px;}
.plus ul{ margin:0; padding:0;}
.plus ul li{ list-style:none; display:block; font-family: 'Conv_DINPro-Medium'; font-size:18px; background:url(../img/plus.jpg) no-repeat left; padding:6px 0 7px 50px; width:396px; line-height:20px; margin-bottom:35px;}

/*catalog*/
.line{ margin-top:3px;}
.line table{width:100%;}
.line td{padding-bottom:40px !important;}
.line3{width:860px; margin-left:auto; margin-right:auto;}
.line3 .tovar .tovar-foto{margin-right:20px;}
.line .button:hover{text-decoration:underline;}
.line3 table td{width:222px !important; padding:0 20px;}
.line4 table td{width:25% !important;}
.line .tovar{height:277px;}
.line .tovar .tovar-foto{ height:180px; text-align:right;}
.line .tovar .tovar-foto img{}
.line .tovar .foto-center{text-align:center !important; height:200px !important;}
.line .tovar .tovar-bottom-3items{ background:url(../img/tovar-bottom-3items.png) no-repeat; width:222px; height:97px; position:relative; z-index:9;}
.line .tovar .tovar-bottom-3items .price{font-family: 'Conv_DINPro-Medium'; color:#d44f68; font-size:20px; padding:4px 0 0 8px;}
.line .tovar .tovar-bottom-3items .title{ font-size:20px; width:218px; text-align:center; text-transform:uppercase; color:#fff; font-family: 'Conv_DINPro-Medium'; padding-top:11px;}
.line .tovar .tovar-bottom-3items .button{font-family: 'Conv_DINPro-Regular'; font-size:16px; color:#fff; border:none; background:none; cursor:pointer; text-transform:lowercase; display:block; margin-top:2px; margin-left:17px;}
.line .tovar .tovar-bottom-2items{background: url(../img/tovar-bottom-2items.png) no-repeat; width:226px; height:59px; position:relative; z-index:9;}
.line .tovar .tovar-bottom-2items .title{font-size:15px; line-height:17px; padding-left:12px; width:188px; text-align:left; text-transform:uppercase; color:#fff; font-family: 'Conv_DINPro-Medium'; padding-top:11px; margin-bottom:7px;}
.line .tovar .tovar-bottom-2items .big-title{padding-top:1px !important; margin-bottom:0 !important;}
.line .tovar .tovar-bottom-2items .button{font-family: 'Conv_DINPro-Regular'; font-size:16px; color:#fff; border:none; background:none; cursor:pointer; text-transform:lowercase; display:block; margin-top:-1px; margin-left:17px;}
.small-title .title{font-size:15px !important;}
.small-title .tovar-foto{margin-bottom:-20px;}
#form2{margin-top:-22px !important;}
#form3{margin-bottom:40px !important;}
.tabl .tovar-foto{text-align:center !important; height:160px !important;}
.tabl .title{text-align:left !important; padding-left:12px;}

/*otzyvy*/
.otzyvy{ margin-top:20px;}
.otzyvy h2{background:url(../img/otzyv-h2-bg.jpg) no-repeat !important; width:512px !important; font-size:30px !important;}
.otzyvy table{width:100%;}
.otzyvy table td{padding-bottom:28px;}
.otzyvy td.foto{ width:182px;}
.otzyvy td.text{}
.foto-otz{background:url(../img/otzyv-bg-foto.jpg) no-repeat right top; width:182px; height:124px; text-align:center; padding-top:6px;}
.foto-otz p{display:block; margin:0; padding:0; font-size:20px; color:#2e302f; letter-spacing:1px;}
.foto-otz img{margin-bottom:12px;}
.text-otz{width:255px; text-align:justify; padding:10px 15px 15px 15px; background:#f54c6b; font-size:16px; line-height:18px; color:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; box-shadow:2px 2px #ccc; position:relative;  behavior: url(PIE.htc);}

/*shema*/
.shema{ margin-top:35px;}
.shema h2{font-size:30px !important;}
.shema table{width:100%; padding-top:13px;}
.shema td{width:20% !important;}
.shema td p{display:block; margin:0; padding:0; text-align:center; font-size:16px; font-family: 'Conv_DINPro-Medium'; width:180px; line-height:18px;}

/*footer*/
#footer{background:url(../img/foot.jpg) repeat-x; height:210px; margin-top:10px;}
#footer .inner{padding-top:24px;}
.razr{font-size:14px !important; text-transform:uppercase; position:absolute; margin-left:-70px; color:#000; margin-top:10px;}
.razr img{margin-top:2px; float:right; display:block;}
.copy{text-align:center; color:#2e302f; font-size:18px; padding-top:5px;}

#form4{margin-top:-1px !important;}
/*hacks*/
 @media all and (-webkit-min-device-pixel-ratio:0) {
	 .line .tovar .tovar-bottom-2items .button{margin-top:1px !important;}
	 .line .tovar .tovar-bottom-3items .button{margin-top:4px !important;}
	 .color-menu{margin-top:2px !important;}
 }
 
 /*modals*/
 .g-hidden { display: none; }
.g-line { zoom: 1; }
.g-line:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* modal */
.b-modal { position: relative; width: 980px; padding-top:5px;padding-bottom:10px; background: #fff; border: 1px solid #bbb; -moz-border-radius: 10px;  -webkit-border-radius: 10px;  -khtml-border-radius: 10px;  border-radius: 10px; behavior: url(PIE.htc); }
.b-modal_close { position: absolute; right: 12px; top: 6px; font-weight: bold; color: #999; cursor: pointer; }
.b-modal_close:hover { color: #000; }



.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

.modal-item{ padding-top:16px;}
.modal-item .title22{font-family: 'Conv_DINPro-Medium'; color:#000; font-size:30px; text-align:center; text-transform:uppercase;}
.modal-item .title22 span{display:block; text-transform:none; font-family: 'Conv_DINPro-Regular'; font-size:20px; padding-top:16px;}
.modal-left{ width:330px; float:left;}
.modal-left .price{background:url(../img/modals/stoly/price-bg.jpg) no-repeat; width:324px; height:96px; text-align:center; text-indent:-50px;}
.modal-left .price b{ display:block; font-size:40px; color:#333; font-weight:normal !important; font-family: 'Conv_DINPro-Bold'; padding-top:19px;}
.modal-left .price b span{font-family: 'Conv_DINPro-Regular'; }
.modal-left .price p{display:block; margin:0 0 0 -10px; padding:16px 0 0 0; text-align:center; color:#fff; text-transform:uppercase; font-size:20px; font-family: 'Conv_DINPro-Regular'; }
.modal-left .text{font-size:20px; margin-left:15px; margin-top:20px;}
.modal-left .text p{margin:0; padding:0; display:block;}
.modal-left b{display:block; height:25px;}
.modal-right{float:right;}
.modal-middle{position:absolute; margin-left:357px; margin-top:95px;}

.color-menu{ width:500px; margin-left:90px; margin-top:-90px; margin-bottom:-20px; position:relative;}
.color-menu h4{ display:block; text-align:center; }
.color-menu ul{ margin:0; padding:0;}
.color-menu ul li{ display:block; float:left; list-style:none;}
.color-menu ul li a{ display:block; float:left; text-align:center; width:100px; text-decoration:none;}
.color-menu img{ display:block; text-decoration:none; width:51px; margin:0 auto;}
.color-menu span.image-title{ display:block; font-size:14px; color:#000; text-transform:lowercase; text-decoration:none;}
#modal-item-5 .modal-middle{ margin:370px 0 0 690px !important;}
#modal-item-5 .modal-right{ margin-right:220px !important; margin-bottom:20px !important;}
#modal-item-6 .modal-right{margin-right:62px;}

.torg-price p{ font-size:40px !important; padding-top:34px !important}

.vertical-color-menu {width:100px; float:right; margin-right:100px; margin-left:100px;}
.vertical-color-menu h4{ display:block; text-align:center; }
.vertical-color-menu ul{ margin:0; padding:0;}
.vertical-color-menu ul li{ display:block;  list-style:none;}
.vertical-color-menu ul li a{  float:left; text-align:center; width:100px; text-decoration:none;}
.vertical-color-menu img{ display:block; text-decoration:none; width:51px; margin:0 auto;}
.vertical-color-menu span.image-title{ display:block; font-size:14px; color:#000; text-transform:lowercase; text-decoration:none;}
.right22{margin-top:50px !important;}
#modal-item-8 .modal-right, #modal-item-11 .modal-right{ margin-top:30px !important;}
#modal-item-8 .vertical-color-menu, #modal-item-11 .vertical-color-menu{margin-left:70px !important;}
#modal-item-9 .modal-right{margin-right:40px !important;}
#modal-item-21 .modal-right{margin-right:170px !important;}
#modal-item-23 .modal-right{margin-right:70px !important;}
#modal-item-24 .modal-right{margin-right:70px !important;}