/* target IE7 and IE6 */
*:first-child+html pre {
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto; 
	}
* html pre {
	overflow: visible;
	overflow-x: auto;
	width: 480px;
	}


span.note, span.note a {
	color: #aaa;
	}

span.note a:hover {
	color: #4f4f4f;
	}

#options {
	border: 1px solid #aaa;
	width: 100%;
	margin: 0 0 10px 1px;
	}

#options td, #options th {
	padding: 5px 7px;
	font-size: 1.1em;
	border: 1px solid #aaa;
	}

#options th {
	font-weight: bold;
	background: #efefef;
	}

#action {
	background: #E5EDF7;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	_height: 1%;
	overflow: auto;
	padding: 40px 0 25px;
	margin: 40px 0 40px;
	}

#action p {
	text-align: center;
	padding: 0 70px;
	}

#action p.note, #action p.note a {
	color: #7592b5;
	}

#action p.note a:hover {
	color: #2D6CBE;
	}

#download {
	padding: 0 0 10px;
	margin: 0 0 1.6em;
	line-height: 40px;
	}

#download a, a.submit {
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: -1px;
	padding: 10px 17px;
	color: #fff;
	text-decoration: none;
	background: #2D6CBE url(http://imgur.com/uwhV4.png) repeat-x 0 -25px;
	_background-image: none;
	text-shadow: -1px -1px #153f75;
	border: 2px solid #1e5398;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
	}

a.submit {
	background-position: 0 -36px;
	font-size: 1.1em;
	letter-spacing: 0;
	padding: 5px 12px;
	}
#download a:hover, a.submit:hover {
	background-color: #1e5398;
	border-color: #153f75;
	color: #fff;
	}

#donate {
	background: #f2f7fc;
	margin: 25px 30px 0;
	padding: 15px 40px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius;
	}
	
#donate p {
	padding: 0;
	margin: 0;
	}

#donate form {
	text-align: center;
	margin: 10px 0 0;
	}


#emailform {
	background: #efefef;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	_height: 1%;
	overflow: auto;
	margin: 40px 0 0;
	padding: 0 30px 15px;
	}
#emailform label {
	display: block;
	font-weight: bold;
	}
#emailform .email_updates label {
	display: inline;
	}
.email_name, .email_address {
	width: 205px;
	float: left;
	padding: 0 30px 0 0;
	}
.email_address {
	padding-right: 0;
	}
.email_name input, .email_address input {
	border: 1px solid #aaa;
	float: left;
	font-size: 1.3em;
	padding: 5px 5px;
	width: 193px;
	}
.email_message textarea {
	border: 1px solid #aaa;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.3em;
	padding: 5px 5px;
	width: 428px;
	}

.email_submit {
	margin: 25px 0;
	}

#status.error {
	background: #ce4141;
	_height: 1%;
	overflow: auto;
	padding: 5px 15px 0;
	}
#status.error p, #status.error li {
	color: #fff;
	margin-bottom: .4em;
	}


/*-- jShowOff module styles --*/


#features1, #features2, #features3, #slidingFeatures, #labelFeatures, #basicFeatures, #thumbFeatures {
	position: relative;
	overflow: hidden;
	width: 277px;
	height: 180px;
	text-align: left;
	}
.jshowoff {
	width: 277px;
	margin: 0px;
	}
.jshowoff div {	
	width: 500px;
	height: 250px;
	}
.jshowoff div, .jshowoff img, .jshowoff {
	}
#basicFeatures, .jshowoff.basicFeatures, .jshowoff.basicFeatures img, .jshowoff.basicFeatures div {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	}
.jshowoff div p, .jshowoff div h2 {
	_background-color: #efefef;
	}
.jshowoff h2, .jshowoff p {
	font-size: 18px;
	padding: 15px 20px 0px;
	margin: 0;
	}
.jshowoff p {
	font-size: 13px;
	line-height: 15px;
	}
.eddie {
	float: right;
	padding: 15px 20px 15px 20px;
	}
.jshowoff p.jshowoff-slidelinks {	position: absolute;	bottom: 15px;right: 15px;	margin: 0;	padding: 0;
	}
.jshowoff-slidelinks a, .jshowoff-controls a {
	display: block;	margin: 5px 0 0 5px;	float: left;	outline: none; width:17px; height:15px; background:url(../images/item-gallery.png) no-repeat; overflow:hidden	}
.jshowoff-slidelinks a:hover, .jshowoff-controls a:hover {
	}
.jshowoff-slidelinks a.jshowoff-active {background:url(../images/selected-gallery.png) no-repeat; width:18px; height:17px	}
p.jshowoff-controls {
	overflow: auto; display:none
	}
.jshowoff-controls a {
	margin: 5px 5px 0 0;
	font-size: 12px;
	line-height: 15px;
	padding: 4px 8px 5px;
	}

.jshowoff-pausetext {
	color: #fff;
	}