@charset "utf-8";

@import url('../fonts/fonts.css');

.museo 			{font-family: 'museo_cyrl500';}
.din_pro_bold 	{font-family: 'DINProBold';}
.din_pro_medium {font-family: 'DINProMedium';}


/* --------------- default --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	font-size: 100%;
}
a                 { margin: 0; padding: 0; font-size: 100%; background: transparent;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
                  { display:block;}
nav ul            { list-style:none;}

sub, sup          { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup               { top: -0.5em; }
sub               { bottom: -0.25em; }
ins               { text-decoration: none;}
p, pre,
blockquote, ul, ol, dl            
				  { margin: 1em 0;}
blockquote        { margin-left: 40px; margin-right: 40px;}
ol, ul, dd        { margin-left: 40px;}
pre, code, 
kbd, samp         { font-family: monospace, sans-serif;}

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-family: 'museo_cyrl500'; text-align: center;}
h1                { font-size: 30px; margin: 0 0 20px; color:#443D3B;}
h2                { font-size: 28px; margin: .83em 0;}
h3                { font-size: 26px; margin: 1.0em 0;}
h4                { font-size: 24px; margin: 1.33em 0;}
h5                { font-size: 22px; margin: 1.5em 0;}
h6                { font-size: 21px; margin: 1.67em 0;}

body, input, select, button, textarea
				  { font-family: Arial, Helvetica, sans-serif;}
html 			  { overflow-y: scroll; height:100%; min-width:990px;}
body 			  { background: url(../images/top_bg.png) 0 0 repeat-x #fff; text-align: left; line-height: 1.2; font-size: 13px; color: #282C2B; position:relative; height:100%;}
a           	  { color: #0088cc; text-decoration: underline;}
a:hover 		  { text-decoration: none;}
img 			  { border: none;}
hr 				  { color: #aaa; background: #aaa; height: 1px; border: none;}


input, select, button, textarea { margin: 0 0 5px; font-size: 100%; color: #000; vertical-align: middle; font-family: 'OpenSansRegular';}
input[type="button"], input[type="submit"], input[type=reset], button { cursor: pointer; }
input[disabled], button[disabled] { cursor: default;}
button, input { line-height: normal; }
fieldset { border: 1px solid gray;}
legend { border: 0; padding: 0; white-space: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: none; }


input[type="text"],
textarea {
	padding: 11px 15px 9px;
	border: 1px solid #DDD; background: #fff;
	border-radius: 2px;
	font-size: 16px; color: #898989;
}
textarea {
	width: 100%; min-height: 118px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input[type="submit"],
input[type="button"] {
	padding: 9px 15px 9px;
	border: none; background: #C4D84B;
	box-shadow: 0 2px 3px rgba(144,144,144,0.5),
				0 -2px 3px rgba(144,144,144,0.5) inset;
	border-radius: 2px;
	font-size: 20px; line-height: 20px; color: #fff; text-align: center;
	text-shadow: 1px 1px 2px rgba(100,100,100,0.5);
}
input[type="submit"]:hover,
input[type="button"]:hover {
	background: #b8d21c;
}

.clear { clear: both; height: 0; overflow: hidden; font-size: 0;}
.clear_inside { height: 71px;}

.clear_self:after,
.clear_inside:after,
.content_body:after { content: '.'; display: block; clear: both; height: 0; visibility: hidden;}

.res {
	width: 980px; margin-left: auto; margin-right: auto;
}
.bbox,
.res {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}




/* --------------- /default ---------*/


/* wrapper
-------------------------------*/
.wrapper {min-height: 100%; margin: 0 auto -120px;}

/* main
-------------------------------*/

.container:after,
.wrapper:after {content: ''; display: block; clear: both;}
.wrapper:after {height: 120px;}


.header    { min-height: 94px; position: relative;}
.header .res {position: relative;}

.footer { min-height: 118px; border-top: 2px solid #F0F3F4; background: #F7F8F9; position: relative;}
.footer .res {position: relative;}

/* header
-------------------------------*/
.site_name {position: absolute; top: 30px; left: 0;}
.activity {
	position: absolute; top: 32px; left: 300px;
	width: 315px;
	font-size: 16px; color: #7D7E7E;
}

/*.museo*/.tel_top {
	position: absolute; top: 5px; right: -6px;
	width: 300px; height: 121px;
	padding: 16px 20px 0;
	background: url(../images/tel_top.png) 50% 0 no-repeat;
	text-align: center; font-size: 20px; color: #fff;
}
.tel_top .num/*.din_pro_medium*/ {
	padding-bottom: 6px; margin-bottom: 5px;
	background: url(../images/tel_top_sep.png) 50% 100% no-repeat;
	font-size: 30px;
}
.tel_top .num/*.din_pro_medium*/ .din_pro_bold {font-size: 40px;}
.tel_top .but {cursor: pointer; display: inline-block; padding-bottom: 9px; background: url(../images/order_call.png) 50% 100% no-repeat; color: #fff; text-decoration: none;}


.head_name {height: 60px; margin-bottom: 14px; background: url(../images/h1.png) 0 0 repeat-x;}
.head_name .res {color: #fff; font-size: 26px; line-height: 64px; font-family: 'museo_sans_cyrl500'; text-shadow: 2px 2px 2px #000;}


.huck1 {margin-bottom: 22px;}
.huck1 h1.name {width: 890px; margin-bottom: 15px; font-size: 20px; color: #453A37; text-align: center;}
.huck1 .img {float: left; width: 627px; height: 392px; position: relative; overflow: hidden; border-radius: 9px; box-shadow: 0 1px 3px #b6b6b6;}
.huck1 .img > img {max-width: 100%; max-height: 100%;}

.super_form {
	width: 330px; height: 392px;
	float: right;
	background: url(../images/form_bg.png);
	border-radius: 9px; box-shadow: 0 1px 3px #b6b6b6;
}

.super_form > form {padding: 12px 28px 10px;}
.super_form form > .name {margin-bottom: 14px; font-size: 24px; line-height: 1.4em; color: #fff; text-shadow: 1px 1px 2px #548faa;}
.super_form form > .name sup {color: #443D3A; font-size: 20px; text-shadow: none; position: relative;}
.super_form form > .name sup:after {display: block; content: ''; position: absolute; top: 50%; left: 0; right: 0; border-top: 1px solid #FF6043;}
.super_form form input {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.timer_wrap {
	padding: 4px 0;
	border: 2px solid #79D6EB; border-radius: 12px;
	box-shadow: 0 0 5px rgba(100,100,100,0.5);
	background: #0982A9;
	width: 314px; margin: 0 auto;
	color: #fff; text-align: center;
}
.timer_wrap .name {font-size: 12px; font-family: 'OpenSansRegular'; margin-bottom: 7px;}

.prest {}
.prest h1 {margin-bottom: 10px;}
.prest h1 .blue,
.blue {color: #02C7EB;}

.prest .p_list {margin: 0 28px; text-align: justify;}
.prest .p_list:after {display: inline-block; content: ''; width: 100%;}
.prest .p_list .item {
	margin-bottom:  20px;
	display: inline-block; zoom: 1; *display: inline; vertical-align: top;
}
.prest .p_list .item h2.name {
	font-family: 'museo_cyrl500'; font-size: 20px; margin-bottom: 5px;
}
.prest .p_list .item .item_ins {
	width: 200px; height: 200px;
	padding: 20px; line-height: 200px;
	position: relative; z-index: 0;
	border-radius:50%;
	background: #898989 url(../images/i1.jpg) 50% 50% no-repeat;
}
.prest .p_list .item .item_ins:before {
	display: block; content: ''; z-index: -1;
	position: absolute; top: 20px; left: 20px; right: 20px; bottom: 20px;
	background: rgba(255,255,255,0.9);
	border-radius: 50%;
}
.prest .p_list .item+.item .item_ins {background-image: url(../images/i2.jpg);}
.prest .p_list .item+.item+.item .item_ins {background-image: url(../images/i3.jpg);}
.prest .p_list .item+.item+.item+.item .item_ins {background-image: url(../images/i4.jpg);}
.prest .p_list .item+.item+.item+.item+.item .item_ins {background-image: url(../images/i5.jpg);}
.prest .p_list .item+.item+.item+.item+.item+.item .item_ins {background-image: url(../images/i6.jpg);}

.prest .p_list .item .item_ins span {padding: 0 2px; line-height: normal; display: inline-block; vertical-align: middle; font-family: 'museo_sans_cyrl500'; font-size: 16px; text-align: center;}

.sl_1 {position: relative; margin-bottom: 36px;}
.sl_1 h1 {margin-bottom: 20px;}
.sl_1 .sl_wrap {background: #F2F4F5; padding: 12px 0; position: relative;}
.sl_1 .sl_wrap h2 {margin-bottom: 11px; margin-top: 0; font-size: 30px;}
.sl_1 .sl_wrap .sl_in {position: relative; height: 300px; overflow: hidden; border-radius: 10px; box-shadow: 0 1px 3px rgba(100,100,100,0.5), 0 -2px 3px rgba(100,100,100,0.5) inset;}
.sl_1 .sl_wrap .sl_in .slides_rast {width: 1350px; margin-left: -185px;}

.sl_tb {width: 11px; height: 10px; position: absolute; top: 0; left: 0; background: url(../images/sl_suka.png) 100% 100% no-repeat;}
.sl_tb.tr {background-position: 0 100%; left: auto; right: 0;}
.sl_tb.br {background-position: 0 0; left: auto; right: -1px; top: auto; bottom: -4px;}
.sl_tb.bl {background-position: 100% 0; right: auto; left: -1px; top: auto; bottom: -4px;}



.h_name {
	height: 76px; background: url(../images/name_w.png); line-height: 76px;
	margin-bottom: 22px;
}

.why_we {}
.why_we .w_list {text-align: justify; text-justify: newspaper; font-size: 18px; color: #292C2B; font-family: 'museo_sans_cyrl500';}
.why_we .w_list:after {display: inline-block; content: ''; width: 100%;}
.why_we .w_list .item {display: inline-block; zoom: 1; *display: inline; vertical-align: top; text-align: left; width: 190px; height: 225px; margin-bottom: 16px;}
.why_we .w_list .item:before {display: block; content: ''; width: 126px; height: 126px; background: url(../images/why_we.png) 0 0 no-repeat; margin-bottom: 19px;}
.why_we .w_list .item+.item:before {background-position: -214px 0;}
.why_we .w_list .item+.item+.item:before {background-position: -427px 0;}
.why_we .w_list .item+.item+.item+.item:before {background-position: -640px 0;}
.why_we .w_list .item+.item+.item+.item+.item:before {background-position: -854px 0;}
.why_we .w_list .item+.item+.item+.item+.item+.item:before {background-position: 0 -239px;}
.why_we .w_list .item+.item+.item+.item+.item+.item+.item:before {background-position: -214px -239px;}
.why_we .w_list .item+.item+.item+.item+.item+.item+.item+.item:before {background-position: -427px -239px;}
.why_we .w_list .item+.item+.item+.item+.item+.item+.item+.item+.item:before {background-position: -640px -239px;}
.why_we .w_list .item+.item+.item+.item+.item+.item+.item+.item+.item+.item:before {background-position: -854px -239px;}

.vs_form {
	position: relative; padding: 19px 0 25px;
	background: #02C7EB;
	border-radius: 10px 10px 0 10px;
}
.vs_form .after {
	display: block; position: absolute; top: 100%; margin-top: -2px; right: 0;
	background: #02C7EB; width: 355px; height: 62px;
	border-radius: 0 0 10px;
}

.vs_form .after:after {
	content: '';
	display: block; position: absolute; top: 0; right: 100%;
	background: #02C7EB; width: 42px; height: 62px;
	background: url(../images/op_f.png) 0 0 no-repeat;
}
.vs_form .name {margin-bottom: 10px; font-family: 'museo_cyrl500'; font-size: 30px; color: #fff; text-shadow: 1px 1px 2px #258495; text-align: center;}
.vs_form .name.note {font-family: 'museo_sans_cyrl500'; font-size: 20px; margin-top: -5px;}

.vs_form form {position: relative; margin: 0 75px; text-align: justify; text-justify: newspaper;}
.vs_form form:after {display: inline-block; content: ''; width: 100%;}
.vs_form input[type="text"] {display: inline-block; width: 32.5%;}
.vs_form input[type="submit"] {position: absolute; top: 100%; right: 4px; width: 32.5%;}

.gr_bim {
	background: #F1F4F4; margin-top: -87px; padding-top: 102px; padding-bottom: 10px; margin-bottom: 15px;
	font-family: 'museo_sans_cyrl500';
}
.gr_bim h1 {color: #443D3A; font-size: 50px; text-align: left; margin: 0;}

.gr_bim.scheme {background: url(../images/man.jpg) 50% 184px no-repeat;}
.uh {text-align: right; height: 385px;}

.we_are_good {width: 580px; float: left;}
.we_are_good ul {margin: 0; padding: 0; list-style: none;}
.we_are_good ul li {font-size: 30px; color: #443D3A; min-height: 67px; line-height: 67px;}
.we_are_good ul li .mark {width: 48px; height: 48px; margin-right: 20px; display: inline-block; vertical-align: middle; background: url(../images/ya.png);}
.we_are_good ul li .txt {display: inline-block; vertical-align: middle; line-height: normal;}

.they_are_bad {float: right; width: 360px; padding-top: 66px;}
.they_are_bad h2 {margin-top: 0; font-size: 20px; color: #FF6043; margin-bottom: 15px; text-align: left;}

.they_are_bad ul {margin: 0; padding: 0; list-style: none;}
.they_are_bad ul li {margin-bottom: 10px; font-size: 16px; color: #443D3A;}
.they_are_bad ul li .mark {width: 28px; height: 28px; margin-right: 10px; display: inline-block; vertical-align: middle; background: url(../images/no.png);}
.they_are_bad ul li .txt {display: inline-block; vertical-align: middle; line-height: normal;}


.reviews {}
.reviews .rev_list {font-size: 0;}
.reviews .rev_list .item {font-size: 20px; width: 50%; padding: 85px 0 20px; display: inline-block; vertical-align: top;}
.reviews .rev_list .item .txt {margin: 0 24px 0 22px; padding: 1px 20px 16px; min-height: 230px; background: url(../images/stray.png); color: #fff; font-size: 20px; font-family: 'museo_sans_cyrl500'; text-shadow: 1px 1px 2px #258495; border-radius: 9px; box-shadow: 0 2px 3px rgba(100,100,100,0.5);}
.reviews .rev_list .item .txt .imeguy {width: 146px; height: 146px; margin-bottom: 5px; margin-top: -86px; margin-left: -46px; border-radius: 50%; overflow: hidden; line-height: 146px; text-align: center;}
.reviews .rev_list .item .txt .imeguy img {max-width: 100%; display: inline-block; vertical-align: middle; border-radius: 146px;}
.reviews .rev_list .item .txt .name {margin-top: 25px; font-family: 'museo_cyrl500';}

.certs {}
.certs h1 {margin-bottom: 25px;}
.certs_list {
	text-align: center;
}
.certs_list .item {
	display: inline-block; vertical-align: top; margin: 0 5px;
	height: 103px; width: 145px; background: url(../images/cert_fr.png) 0 0 no-repeat;
	padding: 55px 15px 20px; text-align: center; line-height: 103px;
}
.certs_list .item img {display: inline-block; vertical-align: middle;}

.sep {height: 16px; background: url(../images/sep.png); margin: 23px 0 14px;}



.acts {margin-bottom: 10px;}
.acts .txt_part {width: 443px; float: left;}
.acts .txt_part .txt {height: 224px; color: #7D7D7D; font-size: 19px; font-family: 'museo_sans_cyrl500';}
.acts.no_act .txt_part .txt {height: 300px;}
.acts .sl_part {width: 518px; height: 385px; float: right; position: relative;}

.acr {position: relative; color: #fff; font-family: 'museo_cyrl500'; text-shadow: 1px 1px 2px rgba(100,100,100,0.5)}
.act_name {display: inline-block; height: 69px; width: 141px; padding: 9px 30px 0 17px; font-size: 30px; background: url(../images/srub.png) 0 0 no-repeat;}
.act_price {position: relative; padding: 24px 0 24px 10px; font-size: 29px; border-radius: 0 10px 10px; background: #02C7EB; box-shadow: 0 2px 3px rgba(100,100,100,0.5);}
.act_price.less {font-size: 26px;}
.no_act .act_price {border-radius: 10px;}
.act_price .old_price {position: relative;}
.act_price .old_price:after {display: block; content: ''; position: absolute; top: 50%; margin-top: -1px; left: 0; right: 0; height: 2px; background: #FE5F45;}
.order {cursor: pointer; display: block; width: 225px; height: 53px; margin-top: -10px; margin-left: -1px; background: url(../images/ord_but.png) 0 0 no-repeat;}

.acr .timer_wr {position: absolute; right: 0; top: -15px;}
.acr .timer_wr .name {margin-bottom: 3px; color: #585858; text-shadow: none; font-size: 12px; font-family: 'OpenSansRegular'; padding-left: 13px;}


.sl_part .sl_tb {width: 5px; height: 5px; position: absolute; top: 0; left: 0; background: url(../images/corn.png) 100% 100% no-repeat;}
.sl_part .sl_tb.tr {background-position: 0 100%; left: auto; right: 0;}
.sl_part .sl_tb.br {background-position: 0 0; left: auto; right: -1px; top: auto; bottom: 0;}
.sl_part .sl_tb.bl {background-position: 100% 0; right: auto; left: -1px; top: auto; bottom: 0;}

.sl_part .bx-controls-direction {
	width: 103px; height: 58px; background: url(../images/arrs_bg.png) 0 0 no-repeat;
	position: absolute; right: -10px; bottom: 14px;
}
.sl_part .bx-controls-direction a {width: 50px !important; height: 55px !important; position: absolute; left: 0; top: 0 !important; margin: 0 !important; background: url(../images/sl_arrows.png) 0 0 no-repeat;}
.sl_part .bx-controls-direction a.bx-next {left: auto; right: 0; background-position: 100% 0;}
.sl_part .bx-controls-direction a:hover {background-position: 0 -58px;}
.sl_part .bx-controls-direction a.bx-next:hover {background-position: 100% -58px;}
.sl_part .bx-pager {display: none;}
.sl_part .bx-wrapper img {max-height: 100%; min-height: auto;}

/* footer
-------------------------------*/


/*.museo*/.bot_cont {
	position: absolute; top: -17px; right: -6px;
	width: 300px; height: 98px;
	padding: 35px 20px 0;
	background: url(../images/bot_cont.png) 50% 0 no-repeat;
	text-align: center; font-size: 20px; color: #fff;
}
.bot_cont .num/*.din_pro_medium*/ {
	padding-bottom: 6px; margin-bottom: 5px;
	background: url(../images/tel_top_sep.png) 50% 100% no-repeat;
	font-size: 30px;
}
.bot_cont .num/*.din_pro_medium*/ .din_pro_bold {font-size: 40px;}
.bot_cont .but {cursor: pointer; display: inline-block; padding-bottom: 9px; background: url(../images/order_call.png) 50% 100% no-repeat; color: #fff; text-decoration: none;}

.footer .activity {text-align: left;}

.copy {position: absolute; bottom: 0; left: 0; right: 0; height: 28px; background: url(../images/copy.png) 0 0 repeat-x; line-height: 28px; z-index: 0;}
.copy .res {line-height: 0;}



.popup_bg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); visibility: hidden; z-index: 99;}
.popup.super_form {visibility: hidden;}
.popup_bg.active,
.popup.active {visibility: visible;}


.popup {visibility: hidden; z-index: 99; position: fixed; left: 50%; top: 50%; margin: -135px 0 0 -140px; height: auto; min-height: 240px;}
.popup.super_form form > .name {font-size: 30px; line-height: 32px;}
.popup .name span {display: block; font-size: 22px;}





#callback-container {
    position: fixed;
    width: 100%;
    min-height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}
#callback-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0; top: 0;
    background: #000;
    opacity: 0.5;
    cursor: pointer;
}
.callback-window {
    background: #f1f7e2;
    border-radius: 4px;
    box-shadow: inset 0 0 2px 0 #fff;
    position: absolute; top: 50%; left: 50%;
    width: 240px;
    padding: 20px 10px 30px;
    margin: -125px 0 0 -130px;
    display: none;
}

.callback-window .callback-title {
    color: #f1c40f;
    font-size: 30px;
    margin: 0 0 20px 0;
    text-align: center;
}
.callback-window .callback-2 {
    position: relative;
}

.callback-2 .inputtext {
    display: block;
    font-size: 15px;
    font-style: italic;
    font-family: georgia;
    width: 207px;
    color: #808181;
    background: none;
    border: 0;
    padding: 2px 8px;
    border-bottom: 1px solid #d3d6ca;
    margin: 0 0 9px 8px;
}
.callback-2 textarea {
  resize: none;
  width: 100%; height: 100px;

    font-size: 15px;
    font-style: italic;
    font-family: georgia;
    width: 209px;
    color: #808181;
    background: none;
    border: 0;
    padding: 2px 8px;
    border: 1px solid #d3d6ca;
    margin: 0 0 9px 8px;}


.callback-2 .btn {
    margin: 5px 0 0 8px;
}

.callback-window.thanks .callback-title {margin-bottom: 0;}






/* tables
-------------------------------*/
table.table0 { border-collapse: collapse;  border-spacing: 0;}
table.table0 td { padding: 5px; border: none;}

table.table1 { border-collapse: collapse;  border-spacing: 0; width:100%;}
table.table1 tr:hover { background: #eee;}
table.table1 td { padding: 5px 5px 5px 10px; border: 1px solid #e6e6e6;}

table.table2 { border-collapse: collapse;  border-spacing: 0;}
table.table2 tr:hover { background: #e9e9e9;}
table.table2 td { padding: 5px; border: 1px solid #91949a;}
table.table2 th { padding: 8px 5px; border: 1px solid #fff; background-color: #888; color: #fff; text-align: left;}

table.gallery { border-spacing: 10px; border-collapse: separate;}
table.gallery td { background-color: #f0f0f0; text-align: center; padding: 15px;}