#countdown_dashboard {
	height: 110px;
    width: 520px; /* Ширина слоя в пикселах */
    margin: 0 auto; /* Выравнивание по центру */
}

.dash {
	width: 110px;
	height: 114px;
	background: transparent url('dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 55pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}