html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #f6f6f6;
	font-family: Arial;
	font-size: 14px;
	color: #1e1e1e;
}

a {
	text-decoration: none;
	color: #4c7f04;
}

a:hover {
	text-decoration: none;
}

a img {
	border: 0px;
}

.clr {
	clear: both;
}

.main-width {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.footer {
	padding: 60px 0px 0px 0px;
	height: 300px;
	background: #ffffff url(footer.jpg) top center no-repeat;
}

.footer .main-width {
	height: 300px;
}

.footer-menu {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background: url(footer-menu.png) 0px 0px repeat;
	border-radius: 10px;
}

.footer-menu ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 70px;
	line-height: 70px;
}

.footer-menu ul li {
	display: inline;
	padding: 0px 40px 0px 40px;
	text-shadow: 1px 1px 3px #aeaeae;
}

.footer-menu ul li a:link,
.footer-menu ul li a:visited {
	text-decoration: none;
	color: #2e302f;
}

.footer-menu ul li a:hover {
	color: #d87180;
}

.copyright {
	position: absolute;
	left: 0px;
	bottom: 10px;
	z-index: 1;
	color: #c4c9cd;
	font-weight: bold;
}

.copyright a {
	color: #c4c9cd;
}

h2 {
	display: block;
	text-align: center;
	color: #2e302f;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}

h3 {
	display: block;
	text-align: center;
	color: #2e302f;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-size: 21px;
	text-transform: uppercase;
}

.info-table h3 {
	padding: 0px 40px 15px 40px;
}

.tl {
	padding: 0px 30px 0px 30px;
}

.title-line {
	background: url(title-line.png) left center repeat-x;
	text-align: center;
}

.title-lin2 {
	text-align: center;
}

.title-line h2 {
	display: inline;
	background: #f6f6f6;
	padding: 0px 40px;
}

.doc-table {
	padding: 35px 0px 0px 0px;
}

.doc-table td {
	text-align: center;
}

.otz-item {
	float: left;
	width: 235px;
}

.otz-item td {
	padding: 0px 5px 0px 0px;
}

.otz-text {
	background: url(otz-text.png) 0px 0px no-repeat;
	padding: 3px 0px 0px 23px;
}

.otz-block {
	padding: 35px 0px 25px 0px;
}

.otz {
	padding: 45px 0px 0px 0px;
}

.header {
	background: url(header.jpg) top center no-repeat;
	height: 654px;
}

.header .logo {
	position: absolute;
	left: 0px;
	top: 11px;
	z-index: 1;
	display: block;
	width: 144px;
	height: 99px;
	background: url(logo.png) top center no-repeat;
}

.head-button {
	position: absolute;
	left: 300px;
	top: 30px;
	z-index: 1;
	display: block;
	width: 200px;
	height: 50px;
	padding: 16px 0px 0px 0px;
	background: url(head-button.png) top center no-repeat;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 3px #688d2f;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

.zakaz-zvonok {
	display: block;
	width: 233px;
	height: 30px;
	padding: 7px 0px 0px 0px;
	background: url(zakaz-zvonok.png) top center no-repeat;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 3px #688d2f;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	float: right;
	margin: 0px 3px 0px 0px;
}

.head-info {
	float: right;
	padding: 0px 30px 0px 0px;
}

.hi-a {
	color: #ffffff;
	text-align: right;
	text-shadow: 1px 1px 1px #7d2035;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 0px 0px 0px;
}

.hi-b {
	color: #ffffff;
	text-align: right;
	text-shadow: 1px 1px 1px #7d2035;
	font-size: 32px;
	padding: 2px 3px 5px 0px;
}

.head-zag {
	text-align: center;
	padding: 146px 0px 0px 0px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #b8263d;
	font-size: 26px;
}

.head-zag b {
	display: block;
}

.content-info .main-width {
	height: 340px;
	background: url(content-info.jpg) right bottom no-repeat;
}

.ii-b {
	background: url(o2.png) left center no-repeat;
	padding: 0px 0px 0px 187px;
	margin: 22px 0px 0px 0px;
	color: #2e302f;
	font-weight: bold;
}

.ii-a {
	height: 77px;
	line-height: 77px;
	background: url(o1.png) left center no-repeat;
	font-size: 17px;
}

.o1 {
	float: left;
	width: 72px;
	height: 77px;
	line-height: 77px;
	text-align: center;
	font-size: 20px;
	margin: 0px 5px 0px 0px;
}

.ornament {
	background: url(orn.jpg) left top repeat-x;
	text-align: center;
	color: #ffffff;
	font-size: 33px;
	text-shadow: 1px 1px 3px #3c8493;
	font-weight: bold;
	line-height: 45px;
}

.ornament .main-width {
	background: url(ornament.jpg) left top no-repeat;
	height: 190px;
	padding: 14px 0px 0px 0px;
}

.video-block {
	background: url(video.jpg) top center no-repeat;
}

.video-block .main-width {
	height: 648px;
}

.youtube-block {
	width: 640px;
	margin: 0 auto;
}

.vid-link {
	width: 640px;
	margin: 0 auto;
	padding: 34px 0px;
}

.vid-a {
	float: left;
	width: 139px;
	height: 84px;
	background: url(vid-a.png) 0px 0px no-repeat;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 2px #4a9e92;
	font-weight: bold;
	padding: 55px 0px 0px 0px;
	margin: 0px 28px 0px 0px;
}

.vid-b {
	float: left;
	width: 139px;
	height: 84px;
	background: url(vid-b.png) 0px 0px no-repeat;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 2px #b53137;
	font-weight: bold;
	padding: 55px 0px 0px 0px;
	margin: 0px 28px 0px 0px;
}

.vid-c {
	float: left;
	width: 139px;
	height: 84px;
	background: url(vid-c.png) 0px 0px no-repeat;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 2px #c38b2c;
	font-weight: bold;
	padding: 55px 0px 0px 0px;
	margin: 0px 28px 0px 0px;
}

.vid-d {
	float: left;
	width: 139px;
	height: 84px;
	background: url(vid-d.png) 0px 0px no-repeat;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 1px 2px #579986;
	font-weight: bold;
	padding: 55px 0px 0px 0px;
}

.content-block {
	padding: 35px 0px 50px 0px;
}

.step-work {
	padding: 40px 0px 20px 0px;
	color: #2e302f;
	font-size: 14px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.info-table {
	font-size: 15px;
	color: #2e302f;
	padding: 25px 0px 0px 0px;
}

.info-table .tr-a td {
	background: #ffffff;
}

.info-table .tr-b td {
	background: #e9f4f6;
}

.info-table td {
	padding: 8px 0px;
}

.info-table  .td-a {
	width: 60px;
	text-align: center;
}

.mail-katalog {
	height: 300px;
	background: url(mail-katalog.jpg) left center repeat-x;
}

.kat-a {
	float: left;
	width: 524px;
	padding: 0px 40px 0px 50px;
}

.kat-a span {
	display: block;
	margin: 0px;
	padding: 30px 0px 20px 0px;
	color: #ffffff;
	font-size: 31px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #977717;
	text-align: center;
}

.kat-b {
	float: left;
	width: 220px;
	padding: 10px 0px 0px 0px;
}

.kat-b .inp-text {
	text-align: center;
	background: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	color: #898989;
	border-left: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	box-shadow: -1px -1px 1px #e4e4e4;
	border-radius: 5px;
	height: 28px;
	width: 186px;
	padding: 0px 5px 0px 5px;
	margin: 18px 0px 0px 0px;
}

.kat-b .inp-submit {
	display: block;
	width: 202px;
	height: 32px;
	padding: 0px 0px 0px 0px;
	background: url(inp-submit.png) top center no-repeat;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 3px #688d2f;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 25px 0px 0px 0px;
	border: 0px;
	cursor: pointer;
}

.time-block {
	float: right;
	background: url(time-bg.png) 0px 0px no-repeat;
	width: 368px;
	height: 402px;
}

.tb-a {
	text-align: center;
	padding: 25px 0px 15px 0px;
	color: #2f302f;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.tb-a span {
	color: #dc3b80;
}

.timer {
	margin: 0px auto;
	width: 286px;
	height: 71px;
	background: url(timer.png) 0px 0px no-repeat;
	padding: 16px 0px 0px 8px;
}

.xtime {
	float: left;
	color: #ffffff;
	width: 68px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-weight: bold;
	font-size: 37px;
	text-shadow: 1px 1px 2px #867114;
}

.kypon {
	width: 200px;
	margin: 0 auto;
	position: relative;
}

.kypon .inp-text {
	text-align: center;
	background: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	color: #898989;
	border-left: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	box-shadow: -1px -1px 1px #e4e4e4;
	border-radius: 5px;
	height: 28px;
	width: 190px;
	padding: 0px 5px 0px 5px;
	margin: 5px 0px 0px 0px;
}

.kypon .inp-submit {
	display: block;
	width: 202px;
	height: 32px;
	padding: 0px 0px 0px 0px;
	background: url(inp-submit.png) top center no-repeat;
	text-align: center;
	font-weight: bold;
	color: #485818;
	text-shadow: 1px 1px 3px #a3b766;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 15px 0px 0px 0px;
	border: 0px;
	cursor: pointer;
}

.contact-content {
	margin: 0 auto;
	background: #ffffff;
	padding: 20px 40px;
	width: 500px;
	border-radius: 10px;
	color: #7b7b7b;
	font-weight: bold;
	font-size: 16px;
}

.red {
	color: #ff0000;
}

.contact-content .intext{
	background: #ffffff;
	border: 1px solid #cecece;
	padding: 0px 10px;
	color: #9e9e9e;
	height: 28px;
}

.contact-content .textarea {
	background: #ffffff;
	border: 1px solid #cecece;
	padding: 5px;
	color: #9e9e9e;
	resize: none;
	height: 58px;
	font-family: Arial;
	font-size: 12px;
}

.form-item {
	padding: 5px 0px;
}

.fi-left {
	float: left;
	padding: 0px 20px 0px 0px;
	line-height: 28px;
}

.fi-left2 {
	float: left;
	line-height: 28px;
}

.contact-button {
	display: block;
	width: 233px;
	height: 30px;
	padding: 0px 0px 0px 0px;
	background: url(zakaz-zvonok.png) top center no-repeat;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 3px #688d2f;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 5px auto 0px auto;
	border: 0px;
	cursor: pointer;
}















.txt { 
display: inline-block; 
color: #676767;
width: 420px; 
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 5px 9px;
font-size: 1.2em;
line-height: 1.4em;
}

.txtarea { 
display: block; 
resize: none;
color: #676767;
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
width: 500px; 
height: 150px;
border: 1px dotted #ccc;
padding: 5px 9px; 
font-size: 1.2em;
line-height: 1.4em;
}

.txt:focus, .txtarea:focus { border-style: solid; border-color: #bababa; color: #444; }

input.error, textarea.error { border-color: #973d3d; border-style: solid; background: #f0bebe; color: #a35959; }
input.error:focus, textarea.error:focus { border-color: #973d3d; color: #a35959; }

#send { 
color: #dee5f0;
display: block;
cursor: pointer;
padding: 5px 11px;
font-size: 1.2em;
border: solid 1px #224983;
border-radius: 5px;
background: #1e4c99; 
background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d)); 
background: -moz-linear-gradient(top, #2f52b7, #0e3a7d); 
background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
background: linear-gradient(top, #2f52b7, #0e3a7d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d'); 
}
#send:hover {
background: #183d80; 
background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b)); 
background: -moz-linear-gradient(top,  #284f9d, #0c2b6b); 
background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
background: -o-linear-gradient(top, #284f9d, #0c2b6b);
background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
background: linear-gradient(top, #284f9d, #0c2b6b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}
#send:active {
color: #8c9dc0; 
background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7)); 
background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
background: -o-linear-gradient(top, #0e387d, #2f55b7);
background: -ms-linear-gradient(top, #0e387d, #2f55b7);
background: linear-gradient(top, #0e387d, #2f55b7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}

.kat-b {
position: relative;
}

.kat-b fieldset {
border: 0px;
}
#loadBar, 
#emailSuccess,
#loadBar2, 
#emailSuccess2 {
	position: absolute;
	left: 10px;
	top: 0px;
	z-index: 9000;
	background: #ffffff;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	width: 180px;
	border: 1px solid #6d8d86;
}

.kypon fieldset {
border: 0px;
}