@font-face {
    font-family: 'PragmaticaLight';
    src: url('prg45-webfont.eot');
    src: url('prg45-webfont.eot?#iefix') format('embedded-opentype'),
         url('prg45-webfont.woff') format('woff'),
         url('prg45-webfont.ttf') format('truetype'),
         url('prg45-webfont.svg#Pragmatica') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PragmaticaRegular';
    src: url('prg55-webfont.eot');
    src: url('prg55-webfont.eot?#iefix') format('embedded-opentype'),
         url('prg55-webfont.woff') format('woff'),
         url('prg55-webfont.ttf') format('truetype'),
         url('prg55-webfont.svg#PragmaticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PragmaticaBold';
    src: url('prg75-webfont.eot');
    src: url('prg75-webfont.eot?#iefix') format('embedded-opentype'),
         url('prg75-webfont.woff') format('woff'),
         url('prg75-webfont.ttf') format('truetype'),
         url('prg75-webfont.svg#Pragmatica') format('svg');
    font-weight: normal;
    font-style: normal;
}