html,body {margin: 0px; padding: 0px;}
body {background: url(bg.jpg); font-family: PragmaticaRegular, Arial, Tahoma; font-size: 14px;}

a img {border: none;}

input::-webkit-input-placeholder {color: #FFFFFF;}
input:-moz-placeholder {color: #FFFFFF;}

.header{height: 96px; background: #2f2320;}
.header .w960 {height: 96px; background: url(logo.png) left center no-repeat;}
.header .contacts {float: right; color: #91827e; text-align: right; margin-top: 14px;}
.header .contacts div{color: #fff; text-align: right; font-size: 24px; padding-bottom: 3px; font-family: PragmaticaLight;}
.header .contacts a{color: #fff;}
.header .star {
	float: right; 
	width: 132px; 
	height: 43px; 
	margin-top: 22px; 
	background: url(star.png); 
	margin-right: 42px;
	color: #906e1c;
	text-align: center;
	padding-top: 32px;
	padding-right: 3px;
	line-height: 130%;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.48);
	-moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.48);
	-webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.48);
	font-family: PragmaticaLight;
}
.header .star div{font-size: 24px; font-family: PragmaticaBold;}

#form1 {
	float: right; 
	height: 21px; 
	background: url(form1-bg.png) repeat-x;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	padding: 3px 8px 0px 8px;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.menu {height: 45px; position: absolute; top: 95px; left: 0px; width: 100%; z-index: 10;} 
.menu .w1260 {height: 45px; background: #f0f0f0;}
.menu ul{margin: 15px 0px 0px 0px; padding: 0px; float: left; list-style: none; text-transform: uppercase;}
.menu ul li{float: left; margin-right: 20px;}
.menu ul li a{color: #9d9494;}
.fixed {position: fixed; position: fixed; top: 0px; z-index: 10;}


.slider {height: 605px; position: relative; z-index: 1; background: #fff;}
.slider h1 {font-weight: normal; font-family: PragmaticaLight; color: #7e3517; font-size: 29px; text-align: center; padding: 70px 0px 0px 0px; margin: 0px;}
.slider h2 {font-family: PragmaticaBold; color: #df8434; font-size: 16px; text-align: center; padding: 10px 0px 0px 0px; margin: 0px; line-height: 120%;}
.slider .w960 {position: relative; z-index: 9;}
.slider .block {position: absolute; width: 345px; padding: 35px 0px 0px 35px; background: url(akcia-bg.png); height: 187px; top: 310px; left: 110px;}
.slider .block:after {content: ""; background: url(akcia-right.png); width: 36px; height: 222px; position: absolute; top: 0px; right: -36px;}

/*.slider .block h3{font-size: 16px; font-family: PragmaticaBold; margin: 0px; padding: 0px;}
.slider .block p{font-size: 16px; margin: 13px 0px 0px 0px; padding: 0px;}
.slider .block a{color: #114797;}
.slider .k{padding-top: 20px; height: 202px;}
*/
.slider .block h4{font-size: 18px; font-family: PragmaticaBold; margin: 0px; padding: 0px; color: #000; line-height: 100%;}
.slider .block h3{font-size: 23px; font-family: PragmaticaBold; margin: 0px; padding: 10px 0px; color: #df7110; line-height: 100%;}
.slider .block p{font-size: 16px; margin: 0px; padding: 0px;}
.slider .block .time-title {font-size: 13px; color: #a29a95; padding: 15px 0px 10px 0px;}
.slider .block .clock-digit {width: 52px; height: 64px; float: left; background: url(clock.png); margin-right: 5px; text-align: center;}
.slider .block .clock-digit div {font-size: 30px; color: #000; padding-top: 10px; line-height: 100%;}
.slider .block .clock-digit span {font-size: 13px; color: #a69d97;}

.slider .form input::-webkit-input-placeholder {color: #b1b1b1;}
.slider .form input:-moz-placeholder {color: #b1b1b1;}
.slider .form {width: 330px; height: 301px; position: absolute; right: 70px; top: 220px; background: url(form-bg-2.png); z-index: 900; padding: 5px;}
.slider .form  .bg {width: 238px; height: 274px; background: url(form-bg-1.png); border: 1px solid #fff; padding: 25px 45px 0px 45px; text-align: center;}
.slider .form  h3{font-size: 16px; font-family: PragmaticaBold; margin: 0px; padding: 0px; text-align: center; color: #2f2320;}
.slider .form p{font-size: 14px; color: #100f0f; text-align: center; margin: 0px; padding: 10px 0px 15px 0px;}

.slider .form input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C7C1B2;
    border-radius: 5px;
    color: #B1B1B1;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 6px 0;
    text-align: center;
    width: 220px;
}
.slider .form input.placeholder{color: #b1b1b1;}
.slider .form .form-comment {position: absolute; color: #fff; text-align: center; width: 340px; bottom: -60px; left: 0px;}
#form2 {
	position: absolute; 
	bottom: -15px; 
	left: 50%;
	margin-left: -70px;
	background: url(slider-form-button-bg.png) repeat-x; 
	width: 140px; 
	padding-top: 8px;
	height: 32px;
	border: 1px solid #fff;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	text-align: center;
	color: #2f2320;
	font-size: 18px;
	cursor: pointer;
}


.problems {height: 863px; background: url(problems-bg.png) repeat-x; padding-top: 50px; position: relative;}
.problems h2{font-family: PragmaticaLight; font-size: 36px; font-weight: normal; color: #df8434; text-align: center; font-weight: 100%; margin: 10px 0px 50px 0px;}
.problems .item {float: left; padding: 0px 75px 0px 120px; background-position: left 5px; background-repeat: no-repeat; width: 280px; height: 230px;}
.problems .item h3{font-size: 18px; font-family: PragmaticaBold; color: #fff; margin: 0px; padding: 0px;}
.problems .item p{font-size: 16px; color: #bdb2af; margin-top: 10px;}
.problems  .i1{background-image: url(p_item1.png);}
.problems  .i2{background-image: url(p_item2.png);}
.problems  .i3{background-image: url(p_item3.png);}
.problems  .i4{background-image: url(p_item4.png);}
.problems  .i5{background-image: url(p_item5.png);}
.problems  .i6{background-image: url(p_item6.png);}


.clients {padding-top: 90px; background: url(problems-bottom.png) center top no-repeat;}
.clients h2{font-family: PragmaticaLight; font-size: 36px; font-weight: normal; color: #cc6411; text-align: center; font-weight: 100%; margin: 0px 0px 35px 0px;}
.clients .item {float: left; width: 220px; padding: 25px 20px 0px 20px; height: 350px; background: #ece9e4; margin: 0px 0px 35px 40px;}
.clients .item.first {margin-left: 50px;}
.clients .item.i1 {background: url(c_item-bg.png) repeat-x;}
.clients .item.i2 {background: url(c_item-bg.png) repeat-x;}
.clients .item.i3 {background: url(c_item-bg.png) repeat-x;}
.clients .item h3{font-size: 16px; font-family: PragmaticaBold; color: #2f2320; margin: 0px; padding: 0px; text-align: center; line-height: 130%; height: 180px; background-position: center bottom; background-repeat: no-repeat;}
.clients .item p{color: #635335; text-align: center;}
.clients .item.i1 h3{background-image: url(c_item1.png);}
.clients .item.i2 h3{background-image: url(c_item2.png);}
.clients .item.i3 h3{background-image: url(c_item3.png);}
.clients .item.i4 h3{background-image: url(c_item4.png);}
.clients .item.i5 h3{background-image: url(c_item5.png);}
.clients .item.i6 h3{background-image: url(c_item6.png);}
.clients .item.i7 h3{background-image: url(c_item7.png);}
.clients .item.i8 h3{background-image: url(c_item8.png);}
.clients .item.i9 h3{background-image: url(c_item9.png);}


.video {clear: both; height: 575px; position: relative; background: url(video.png) center bottom no-repeat;}
.video .title {text-align: center; font-family: PragmaticaLight; font-size: 36px; font-weight: normal; color: #cc6411;}
.video .title span{color: #040404;}
.video .content {width: 340px; float: right; margin-top: 100px;}
.video h2{font-family: PragmaticaLight; font-size: 36px; font-weight: normal; color: #000; margin: 0px; padding: 0px;}
.video p{color: #757579; font-size: 16px; line-height: 137%;}
.video .youtube {float: left; margin: 84px 0px 0px 10px;}

.form1 {height: 335px; background: url(form1.jpg) center bottom no-repeat;}
.form1 .form {float: right; width: 260px; text-align: center; padding: 30px 110px 0px 0px;}
.form1 .form p{font-size: 16px; color: #100f0f; line-height: 130%;}
.form1 .form input {
	background: #000; 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	font-size: 18px; 
	color: #c7aea0; 
	text-align: center; 
	width: 220px;
	border: none;
	padding: 8px 0px;
	margin-bottom: 15px;
}
.form1 .form input.placeholder{color: #c7aea0;}
#form3 {
	background: url(form3-bg.png) repeat-x; 
	float: left;
	width: 140px; 
	margin: 10px 0px 0px 60px;
	height: 36px;
	padding-top: 13px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	text-align: center;
	color: #2f2320;
	font-size: 18px;
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.38);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.38);
}
.form1 .content {float: left; width: 379px; padding: 65px 0px 0px 70px;}
/*
.form1 .content h2{color: #f7d145; font-size: 22px; font-family: PragmaticaLight; font-weight: normal; margin: 0px; padding: 0px;}
.form1 .content p{font-size: 18px; color: #d4c1be;}
.form1 .content p a{color: #fff;}
*/
.form1 .content h4{font-size: 18px; font-family: PragmaticaBold; margin: 0px; padding: 0px; color: #fff; line-height: 100%;}
.form1 .content h3{font-size: 24px; font-family: PragmaticaBold; margin: 0px; padding: 10px 0px; color: #fce364; line-height: 100%;}
.form1 .content p{font-size: 16px; margin: 0px; padding: 0px; color: #fff;}
.form1 .content .time-title {font-size: 13px; color: #a29a95; padding: 15px 0px 10px 0px;}
.form1 .content .clock-digit {width: 52px; height: 64px; float: left; background: url(clock.png); margin-right: 5px; text-align: center;}
.form1 .content .clock-digit div {font-size: 30px; color: #000; padding-top: 10px; line-height: 100%;}
.form1 .content .clock-digit span {font-size: 13px; color: #a69d97;}

.services {background: url(services-bg.jpg); padding-bottom: 65px;}
.services .w960{background: url(form1-bottom.png) center top no-repeat; padding-top: 90px;}
.services h2{text-align: center; margin: 0px; padding: 0px 0px 35px 0px; color: #cc6411; font-size: 36px; font-family: PragmaticaLight; font-weight: normal;}
.services .item {float: left; width: 194px; margin: 0px 10px 45px 10px; background: #fff; padding: 140px 13px 0px 13px; height: 215px; position: relative; background-position: center top; background-repeat: no-repeat;}
.services .item  h3{font-size: 16px; font-family: PragmaticaBold; color: #000; margin: 0px; padding: 0px; text-align: center; line-height: 130%;}
.services .item  p{color: #7d7973; text-align: center; margin: 0px; padding-top: 10px;}
.services .item  div{background: #c3b9ab; position: absolute; bottom: 0px; height: 37px; padding-top: 13px; text-align: center; color: #fff; width: 220px; left: 0px; font-size: 16px;}
.services .item  div span{
	display: block;
	font-size: 14px;
	color: #000;
	background: url(s_item-bg.png) repeat-x; 
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.38);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.38);
	padding-top: 5px; 
	height: 23px;
	width: 100px;
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -50px;
	cursor: pointer;
}
.services .i1{background-image: url(s_item1.jpg);}
.services .i2{background-image: url(s_item2.jpg);}
.services .i3{background-image: url(s_item3.jpg);}
.services .i4{background-image: url(s_item4.jpg);}
.services .i5{background-image: url(s_item5.jpg); margin-left: 130px; height: 235px;}
.services .i5  div, .services .i6  div, .services .i7  div {height: 49px;}
.services .i6{background-image: url(s_item6.jpg); height: 235px;}
.services .i7{background-image: url(s_item7.jpg); height: 235px;}
.services .block{clear: both; border: 2px solid #dcd4c7; border-top: none; padding: 0px 60px 45px 60px; margin: 0px 8px 50px 8px;}
.services .block h3{color: #cc6411;font-size: 24px; font-family: PragmaticaBold; margin: 0px; padding: 0px; text-align: center; font-weight: normal;}
.services .block p{font-size: 18px; color: #000; padding: 30px 0px 0px 0px; margin: 0px;}
.services .block p strong {font-family: PragmaticaBold; font-weight: normal;}
.services .block .button {
	float: right; 
	background: url(services-button.png) repeat-x; 
	height: 40px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.38);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.38);
	font-size: 18px;
	color: #000;
	padding: 16px 20px 0px 20px;
	margin: 45px 0px 0px 50px;
}
.services h4{clear: both; text-align: center; color: #c16012; font-size: 24px; font-weight: normal; padding: 15px 0px 40px 0px; margin: 0px;}
.services a.download {float: right; color: #23507f; font-size: 18px; height: 80px; margin-left: 40px; padding: 10px 0px 0px 100px; background: url(pdf.png) left top no-repeat; line-height: 133%;}
.services p.download {font-size: 18px; color: #000; padding: 5px 0px 0px 10px; margin: 0px;}


.portfolio {background: url(services-bottom-bg.png) center top no-repeat; padding: 75px 0px 0px 0px;}
.portfolio h2{text-align: center; margin: 0px; padding: 0px 0px 35px 0px; color: #cc6411; font-size: 36px; font-family: PragmaticaLight; font-weight: normal;}
.portfolio .item {height: 125px; padding: 390px 0px 0px 0px; background-position: center top; background-repeat: no-repeat; background-color: #fff; position: relative;}
.portfolio .item .w960 {padding-left: 10px; width: 950px;}
.portfolio .name{position: absolute; bottom: 125px; padding: 14px 28px; background: #fbde56; font-size: 24px; font-family: PragmaticaLight; font-weight: normal; color: #000;}
.portfolio .place {width: 210px; background: url(icon-place.png) left 0px no-repeat; padding-left: 30px; float: left; margin-top: 30px; font-size: 18px; color: #918d88;}
.portfolio .time {width: 215px; background: url(icon-time.png) left 1px no-repeat; padding-left: 25px; float: left; margin-top: 30px; font-size: 18px; color: #918d88;}
.portfolio .square {width: 215px; background: url(icon-square.png) left 4px no-repeat; padding-left: 25px; float: left; margin-top: 30px; font-size: 18px; color: #918d88;}
.portfolio strong{font-family: PragmaticaBold; font-weight: normal;}
.portfolio sup {font-size: 10px;}
.portfolio .button {
	float: left; 
	background: url(portfolio-button.png) repeat-x; 
	height: 24px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.38);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.38);
	font-size: 16px;
	color: #000;
	padding: 6px 20px 0px 20px;
	margin-top: 30px;
}
.portfolio .i1 {background-image: url(portfolio1.jpg);}
.portfolio .i2 {background-image: url(portfolio2.jpg);}
.portfolio .i3 {background-image: url(portfolio3.jpg);}
.portfolio .i4 {background-image: url(portfolio4.jpg);}
.portfolio .i5 {background-image: url(portfolio5.jpg);}
.portfolio .item .content {display: none;}

.comments {padding: 50px 0px 75px 0px; height: 900px;}
.comments h2{text-align: center; margin: 0px; padding: 0px 0px 10px 0px; color: #cc6411; font-size: 36px; font-family: PragmaticaLight; font-weight: normal;}
.comments p.t {padding: 6px 40px 0px 210px; height: 74px; background: url(comments.png) 128px 0px no-repeat; font-size: 16px; color: #444444; line-height: 137%;}
.comments .item {width: 280px; height: 340px; background: #fff; float: left; margin: 19px 9px; border: 1px solid #d6d6d6;}
.comments .item div {height: 60px; padding: 30px 0px 0px 75px; background: url(comment-photo.jpg) 20px 30px no-repeat; font-size: 16px; color: #afafaf;}
.comments .item div strong {font-family: PragmaticaBold; font-weight: normal; color: #000;}
.comments .item p {padding: 0px 25px 0px 30px; color: #444444; line-height: 135%;}
.comments .f1 {margin-left: 34px;}
.comments .f2 {margin-left: 185px;}


.form2 {height: 335px; background: url(form2.jpg) center bottom no-repeat; clear: both;}
.form2 .form {float: right; width: 260px; text-align: center; padding: 30px 110px 0px 0px;}
.form2 .form p{font-size: 16px; color: #100f0f; line-height: 130%;}
.form2 .form input {
	background: #000; 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	font-size: 18px; 
	color: #c7aea0; 
	text-align: center; 
	width: 220px;
	border: none;
	padding: 8px 0px;
	margin-bottom: 15px;
}
.form2 .form input.placeholder{color: #c7aea0;}
#form4 {
	background: url(form3-bg.png) repeat-x; 
	float: left;
	width: 140px; 
	margin: 10px 0px 0px 60px;
	height: 36px;
	padding-top: 13px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	text-align: center;
	color: #2f2320;
	font-size: 18px;
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.38);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.38);
}
.form2 .content {float: left; width: 379px; padding: 65px 0px 0px 70px;}
/*.form2 .content h2{color: #f7d145; font-size: 22px; font-family: PragmaticaLight; font-weight: normal; margin: 0px; padding: 0px;}
.form2 .content p{font-size: 18px; color: #d4c1be;}
.form2 .content p a{color: #fff;}
*/
.form2 .content h4{font-size: 18px; font-family: PragmaticaBold; margin: 0px; padding: 0px; color: #fff; line-height: 100%;}
.form2 .content h3{font-size: 24px; font-family: PragmaticaBold; margin: 0px; padding: 10px 0px; color: #fce364; line-height: 100%;}
.form2 .content p{font-size: 16px; margin: 0px; padding: 0px; color: #fff;}
.form2 .content .time-title {font-size: 13px; color: #a29a95; padding: 15px 0px 10px 0px;}
.form2 .content .clock-digit {width: 52px; height: 64px; float: left; background: url(clock.png); margin-right: 5px; text-align: center;}
.form2 .content .clock-digit div {font-size: 30px; color: #000; padding-top: 10px; line-height: 100%;}
.form2 .content .clock-digit span {font-size: 13px; color: #a69d97;}

.how {background: url(how-bg.jpg); padding-bottom: 25px;}
.how .w960{background: url(form2-bottom.png) center top no-repeat; padding-top: 90px;}
.how h2{text-align: center; margin: 0px; padding: 0px 0px 0px 0px; color: #cc6411; font-size: 36px; font-family: PragmaticaLight; font-weight: normal;}
.how .item {
	float: left; 
	margin: 0px 25px; 
	font-size: 16px; 
	width: 260px; 
	height: 120px; 
	padding-top: 170px; 
	background-position: center 40px; 
	background-repeat: no-repeat; 
	text-align: center; 
	color: #2f2320; 
	font-family: PragmaticaBold; 
	font-weight: normal;
	position: relative;
}
.how .i1{background-image: url(h_item1.png); margin-left: 40px;}
.how .i1:after {display: block; width: 77px; height: 25px; background: url(arrow1.png); position: absolute; left: 250px; top: 80px; content: "";}
.how .i2{background-image: url(h_item2.png);}
.how .i2:after {display: block; width: 77px; height: 25px; background: url(arrow1.png); position: absolute; left: 250px; top: 80px; content: "";}
.how .i3{background-image: url(h_item3.png);}
.how h3{clear: both; background: #fbde56; text-align: center; font-size: 24px; font-family: PragmaticaLight; font-weight: normal; padding: 10px 0px; margin: 0px auto 60px auto; width: 750px;}
.how .step {
	width: 200px; 
	height: 72px; 
	float: left; 
	background: #fff; 
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	margin: 0px 20px 40px 20px;
	text-align: center;
	color: #000;
	font-size: 16px;
	padding-top: 33px;
	position: relative;
}
.how .s1:after, .how .s2:after, .how .s3:after {position: absolute; width: 34px; height: 25px; background: url(arrow2.png) 0px 0px; left: 203px; top: 39px; content: "";}
.how .s4:after {position: absolute; width: 25px; height: 34px; background: url(arrow2.png) 0px -50px; left: 88px; top: 108px; content: "";}
.how .s5:after, .how .s6:after, .how .s7:after {position: absolute; width: 34px; height: 25px; background: url(arrow2.png) 0px -25px; left: 203px; top: 39px; content: "";}
.how .s4, .how .s8 {margin-right: 0px !important;}



.team {background: #fff; padding: 70px 0px 25px 0px;}
.team h2{text-align: center; margin: 0px; padding: 0px 0px 20px 0px; color: #cc6411; font-size: 36px; font-family: PragmaticaLight; font-weight: normal;}
.team .item {width: 220px; text-align: center; float: left; margin: 10px;}
.team .item .image {border: 1px solid #d1d1d1; background: #fff;}
.team .item .image img {margin: 4px 0px; vertical-align: middle;}
.team .item .title {background: #f0f0f0; height: 55px; color: #737373; padding-top: 15px;}
.team .item .title strong {font-family: PragmaticaBold; font-weight: normal; color: #000; font-size: 16px;}
.team .l {margin-right: 0px;}

.team .line2-1 {
margin: 0 0 0 250px;
}

.team .line2-2 {
margin: 0 0px 0 20px;
}

.team .photo {height: 443px; clear: both; background: url(team.jpg) 45px 40px no-repeat; position: relative;}
.team .photo h3 {margin: 40px 0px 0px 670px; padding: 0px 0px 20px 0px; color: #c56213; font-size: 24px; font-family: PragmaticaLight; font-weight: normal; float: left;}
.team .photo ul {float: left; clear: both; font-size: 18px; line-height: 150%; margin: 0px 0px 0px 660px; list-style: none; padding: 0px;}
.team .photo li {background: url(bullet1.jpg) 20px center no-repeat; padding-left: 30px;}
.team .photo div {background: #f0f0f0; text-align: center; font-size: 16px; font-family: PragmaticaLight; font-weight: normal; position: absolute; width: 200px; padding: 10px 0px; bottom: 5px; left: 250px;}



.who {height: 338px; background: #2f2320 url(who.png) left top no-repeat; margin-top: 30px;}
.who h2{float: left; color: #fff; font-size: 36px; font-family: PragmaticaLight; font-weight: normal; margin: 95px 0px 0px 10px; }
.who ul {margin: 0px; padding: 0px; font-size: 18px; color: #a4877f; float: right; list-style: none;}
.who .ul1 {width: 160px; margin: 60px 0px 0px 30px;}
.who .ul2 {width: 275px; margin-top: 60px;}
.who .ul1 li, .who .ul2 li{padding-bottom: 12px; background: url(bullet2.png) 0px 9px no-repeat; padding-left: 12px;}


.ready {height: 445px; background: url(ready.png);}
.ready .w960 {background: url(who-bottom.png) center top no-repeat; padding-top: 80px;}
.ready  h2{text-align: center; margin: 0px; padding: 0px 0px 20px 0px; color: #bc4221; font-size: 36px; font-family: PragmaticaLight; font-weight: normal;}
.ready .item {width: 275px; float: left; margin: 0px 0px 0px 25px;}
.ready .item  div{font-family: PragmaticaBold; font-weight: normal; color: #fff; font-size: 72px; float: left; margin-right: 5px;}
.ready .item  p{font-size: 16px; color: #000;}
.ready .i4 {margin-left: 180px;}


.map {height: 458px; background: url(map.jpg) center top no-repeat; position: relative;}
.map  h2{background: url(map-title-bg.png); text-align: center; margin: 0px; padding: 20px 0px; color: #2f2320; font-size: 36px; font-family: PragmaticaLight; font-weight: normal;}
.map div{
	height: 87px; 
	width: 254px; 
	border: 3px solid #f8ce22; 
	background: #fff; font-size: 16px; 
	color: #000; 
	text-align: center; 
	padding-top: 20px; 
	line-height: 140%;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -130px;
}
.map div:after {content: ""; background: url(map-marker.png); width: 58px; height: 32px; position: absolute; left: 50%; margin-left: -29px; bottom: -32px;}


.form3 {height: 335px; background: url(form3.jpg) center bottom no-repeat; border-top: 2px solid #fff; border-bottom: 2px solid #fff; }
.form3 .form {float: right; width: 260px; text-align: center; padding: 30px 110px 0px 0px;}
.form3 .form p{font-size: 16px; color: #100f0f; line-height: 130%;}
.form3 .form input {
	background: #000; 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	font-size: 18px; 
	color: #c7aea0; 
	text-align: center; 
	width: 220px;
	border: none;
	padding: 8px 0px;
	margin-bottom: 15px;
}
.form3 .form input.placeholder{color: #c7aea0;}
#form5 {
	background: url(form3-bg.png) repeat-x; 
	float: left;
	width: 140px; 
	margin: 10px 0px 0px 60px;
	height: 36px;
	padding-top: 13px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	text-align: center;
	color: #2f2320;
	font-size: 18px;
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.38);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.38);
}
.form3 .content {float: left; width: 379px; padding: 65px 0px 0px 70px;}
/*.form3 .content h2{color: #f7d145; font-size: 22px; font-family: PragmaticaLight; font-weight: normal; margin: 0px; padding: 0px;}
.form3 .content p{font-size: 18px; color: #d4c1be;}
.form3 .content p a{color: #fff;}
*/
.form3 .content h4{font-size: 18px; font-family: PragmaticaBold; margin: 0px; padding: 0px; color: #fff; line-height: 100%;}
.form3 .content h3{font-size: 24px; font-family: PragmaticaBold; margin: 0px; padding: 10px 0px; color: #fce364; line-height: 100%;}
.form3 .content p{font-size: 16px; margin: 0px; padding: 0px; color: #fff;}
.form3 .content .time-title {font-size: 13px; color: #a29a95; padding: 15px 0px 10px 0px;}
.form3 .content .clock-digit {width: 52px; height: 64px; float: left; background: url(clock.png); margin-right: 5px; text-align: center;}
.form3 .content .clock-digit div {font-size: 30px; color: #000; padding-top: 10px; line-height: 100%;}
.form3 .content .clock-digit span {font-size: 13px; color: #a69d97;}


.footer{height: 152px; background: #2f2320; margin-bottom: 50px;}
.footer .w960 {height: 152px; background: url(logo.png) left 40px no-repeat;}
.footer .contacts {float: right; color: #91827e; text-align: right; margin-top: 34px;}
.footer .contacts div{color: #fff; text-align: right; font-size: 24px; padding-bottom: 3px; font-family: PragmaticaLight;}
.footer .contacts a{color: #fff;}
.footer .winmedia {float: right; width: 85px; margin: 40px 40px 0px 0px; color: #fff;}
.footer .winmedia  a{color: #f8ce22;}
.footer .copy {float: left; margin: 40px 0px 0px 250px; width: 280px; color: #938682;}
.footer .copy div{color: #fff; padding-bottom: 10px;}


.w1260 {min-width: 960px; max-width: 1260px; margin: 0px auto; position: relative;}
.w960 {width: 960px; margin: 0px auto;}
.clear {clear: both;}



.ds {width:100%; height:100%; position:fixed; top:0px; left:0px; text-align:center; background:url(ds.png); z-index: 150;}
.hidden {display: none;}
#call-form .popup{width: 390px; height: 260px; position: absolute; left: 50%; top: 50%; margin: -135px 0px 0px -200px; background: url(popup-bg.jpg); padding: 5px;}
#call-form .border{width: 390px; height: 260px; border: 1px solid #e5a51b; text-align: center;}
#call-form .close {position: absolute; right: 3px; top: -23px; background: url(popup-close.png) left center no-repeat; padding-left: 15px; color: #ec592b; text-decoration: underline; cursor: pointer;}
#call-form  h2{color: #2f2320; font-family: PragmaticaBold; font-weight: normal; font-size: 18px; padding: 39px 50px 27px 50px; margin: 0px;}
#call-form input {
	background: #e2a129; 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	font-size: 16px; 
	color: #fff; 
	text-align: center; 
	width: 260px;
	border: none;
	padding: 12px 0px;
	margin-bottom: 15px;
}
#call-form input.placeholder{color: #fff;}
#call-form .comment {position: absolute; color: #b29a95; text-align: center; width: 200px; bottom: -97px; left: 50%; margin-left: -100px;}
#call-form .button {
	position: absolute; 
	bottom: -25px; 
	background: url(slider-form-button-bg.png) repeat-x; 
	width: 160px; 
	left: 50%;
	margin-left: -80px;
	padding-top: 11px;
	height: 38px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	text-align: center;
	color: #2f2320;
	font-size: 20px;
	cursor: pointer;
}


#service-form .popup{width: 390px; height: 370px; position: absolute; left: 50%; top: 50%; margin: -185px 0px 0px -200px; background: url(popup-bg.jpg); padding: 5px;}
#service-form .border{width: 390px; height: 370px; border: 1px solid #e5a51b; text-align: center;}
#service-form .close {position: absolute; right: 3px; top: -23px; background: url(popup-close.png) left center no-repeat; padding-left: 15px; color: #ec592b; text-decoration: underline; cursor: pointer;}
#service-form  h2{color: #2f2320; font-family: PragmaticaBold; font-weight: normal; font-size: 18px; padding: 25px 30px 17px 30px; margin: 0px;}
#service-form p{font-size: 18px; color: #6c441d; padding: 0px 30px 35px 30px; margin: 0px;}
#service-form input {
	background: #e2a129; 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	font-size: 16px; 
	color: #fff; 
	text-align: center; 
	width: 260px;
	border: none;
	padding: 12px 0px;
	margin-bottom: 15px;
}
#service-form input.placeholder{color: #fff;}
#service-form .comment {position: absolute; color: #b29a95; text-align: center; width: 200px; bottom: -97px; left: 50%; margin-left: -100px;}
#service-form .button {
	position: absolute; 
	bottom: -25px; 
	background: url(slider-form-button-bg.png) repeat-x; 
	width: 160px; 
	left: 50%;
	margin-left: -80px;
	padding-top: 11px;
	height: 38px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	text-align: center;
	color: #2f2320;
	font-size: 20px;
	cursor: pointer;
}


#portfolio-popup .popup{width: 860px; height: 540px; position: absolute; left: 50%; top: 50%; margin: -290px 0px 0px -450px; background: #fff; padding: 20px;}
#portfolio-popup .content{width: 860px; height: 540px;}
#portfolio-popup .thumbs {float: right; width: 100px;}
#portfolio-popup .thumbs img {vertical-align: middle; margin-bottom: 4px; cursor: pointer;}
#portfolio-popup .main {float: left; width: 740px; height: 535px; background-position: left top; background-repeat: no-repeat;}
#portfolio-popup .close {position: absolute; right: 3px; top: -23px; background: url(popup-close.png) left center no-repeat; padding-left: 15px; color: #ec592b; text-decoration: underline; cursor: pointer;}
#portfolio-popup  h2{position: absolute; left: 3px; top: -30px; color: #fff; font-family: PragmaticaLight; font-weight: normal; font-size: 24px; padding: 0px; margin: 0px;}


#visualization-popup .popup{width: 840px; height: 550px; position: absolute; left: 50%; top: 50%; margin: -285px 0px 0px -425px; background: #fff; padding: 10px;}
#visualization-popup .content{width: 840px; height: 550px; background-position: left top; background-repeat: no-repeat;}
#visualization-popup .close {position: absolute; right: 3px; top: -23px; background: url(popup-close.png) left center no-repeat; padding-left: 15px; color: #ec592b; text-decoration: underline; cursor: pointer;}
#visualization-popup .left{width: 34px; height: 70px; background: url(slider-left.png); cursor: pointer; position: absolute; left: 10px; top: 282px;}
#visualization-popup .right{width: 34px; height: 70px; background: url(slider-right.png); cursor: pointer; position: absolute; right: 10px; top: 282px;}
#visualization-popup  span{position: absolute; left: 50%; bottom: 10px; width: 430px; color: #000; font-family: PragmaticaLight; font-weight: normal; font-size: 24px; padding: 13px 0px 0px 0px; margin: 0px 0px 0px -215px; height: 47px; background: #fbde56;}


#plans-popup .popup{width: 860px; height: 450px; position: absolute; left: 50%; top: 50%; margin: -275px 0px 0px -480px; background: #fff; padding: 50px;}
#plans-popup .content{width: 860px; height: 450px; background-position: left top; background-repeat: no-repeat;}
#plans-popup .close {position: absolute; right: 3px; top: -23px; background: url(popup-close.png) left center no-repeat; padding-left: 15px; color: #ec592b; text-decoration: underline; cursor: pointer;}
#plans-popup .left{width: 34px; height: 70px; background: url(slider-left.png); cursor: pointer; position: absolute; left: 0px; top: 230px;}
#plans-popup .right{width: 34px; height: 70px; background: url(slider-right.png); cursor: pointer; position: absolute; right: 0px; top: 230px;}
#plans-popup  h2{position: absolute; left: 3px; top: -35px; color: #fff; font-family: PragmaticaLight; font-weight: normal; font-size: 24px; padding: 0px; margin: 0px;}

#plans-popup .item1 {width: 860px; height: 450px; background: url(plan1.jpg) 80px 0px no-repeat;}
#plans-popup .item1 div{float: left; padding-top: 290px; text-align: left;}
#plans-popup .item1 .col1{width: 240px; padding-left: 70px;}
#plans-popup .item1 .col2{width: 240px; padding-right: 50px;}
#plans-popup .item1 .col3{width: 240px;}
#plans-popup .item1 h3{font-family: PragmaticaBold; font-weight: normal; font-size: 16px; margin: 0px; padding: 0px;}
#plans-popup .item1 p{font-size: 16px; margin: 0px; padding: 0px;}

#plans-popup .item2 {width: 860px; height: 450px; background: url(plan2.jpg) 30px 30px no-repeat; display: none;}
#plans-popup .item2 div{float: left; padding-top: 250px; text-align: left;}
#plans-popup .item2 .col1{width: 240px; padding-left: 70px;}
#plans-popup .item2 .col2{width: 240px; padding-right: 50px;}
#plans-popup .item2 .col3{width: 240px;}
#plans-popup .item2 h3{font-family: PragmaticaBold; font-weight: normal; font-size: 16px; margin: 0px; padding: 0px;}
#plans-popup .item2 p{font-size: 16px; margin: 0px; padding: 0px;}

#plans-popup .item3 {width: 860px; height: 470px; background: url(plan3.jpg) 20px 0px no-repeat; display: none; margin-top: -20px;}
#plans-popup .item3 div{float: left; padding-top: 330px; text-align: left;}
#plans-popup .item3 .col1{width: 270px; padding-left: 30px; padding-right: 20px;}
#plans-popup .item3 .col2{width: 240px; padding-right: 50px;}
#plans-popup .item3 .col3{width: 240px;}
#plans-popup .item3 h3{font-family: PragmaticaBold; font-weight: normal; font-size: 16px; margin: 0px; padding: 0px;}
#plans-popup .item3 p{font-size: 16px; margin: 0px; padding: 0px;}



#ok-popup .popup{width: 390px; height: 260px; position: absolute; left: 50%; top: 50%; margin: -135px 0px 0px -200px; background: url(popup-bg.jpg); padding: 5px;}
#ok-popup .border{width: 390px; height: 260px; border: 1px solid #e5a51b; text-align: center;}
#ok-popup  .close {position: absolute; right: 3px; top: -23px; background: url(popup-close.png) left center no-repeat; padding-left: 15px; color: #ec592b; text-decoration: underline; cursor: pointer;}
#ok-popup  h2 {color: #2f2320; font-family: PragmaticaBold; font-weight: normal; font-size: 24px; padding: 60px 50px 27px 50px; margin: 0px;}
#ok-popup  p {color: #2f2320; font-family: PragmaticaBold; font-weight: normal; font-size: 18px; padding: 20px 50px 27px 50px; margin: 0px;}

.form-title {display: none;}