/*
Template Name: Modern Business
File: Featured Slider CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

.slider-block {
	float: left;
	width: 558px;
	height: 380px;
	background: url(slider.jpg) top center no-repeat;
	margin: 5px 0px 0px 0px;
}

#featured_slide{
	display:block;
	position:relative;
	margin:0px;
	width: 540px;
	height: 357px;
	padding:5px 9px 0px 9px;
	overflow:hidden;
	border-radius: 5px;
	border-radius: 5px;
	}

#featured_slide a{
	text-decoration:none;
	border:none;
	outline:none;
	}

/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
.nivoSlider{
	position:relative;
	}

.nivoSlider img{
	position:absolute;
	top:0;
	left:0;
	border-radius: 5px;
	}

/* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:none;
	z-index:60;
	}

/* The slices in the Slider */

.nivo-slice{
	display:block;
	position:absolute;
	height:100%;
	z-index:50;
	border-radius: 5px;
	}
	
/* Caption styles */

.nivo-caption{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	color:#FFFFFF;
	background:#000000;
	opacity:0.8; /* Overridden by captionOpacity setting */
	z-index:89;
	}

.nivo-caption p{
	padding:5px;
	margin:0;
	}

/* ----------------Custom Settings-------------------*/

#slider{
	position:relative;
	background:url("../images/loading.gif") no-repeat 50% 50% #666666;
	border-radius: 5px;
	}

#slider img{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width: 540px;
	height: 357px;
	border-radius: 5px;
}

/* Number Nav Under Image - Uses Background Images And Hides The Text Numbers */

.nivo-controlNav{
	display:block;
	position:absolute;
	bottom:-20px;
	width:100%;
	color:#999999;
	background-color:#FFFFFF;
	text-align:center;
	}

.nivo-controlNav a{
	display:inline-block;
	width:10px;
	height:10px;
	margin-right:5px;
	color:#999999;
	background:url("../images/bullets.gif") no-repeat #FFFFFF;
	text-indent:-9999px;
	cursor:pointer;
	z-index:99;
	}

.nivo-controlNav a.active{background-position:-10px 0;}

/* Previous Next Navigation */

.nivo-directionNav a{
	position:absolute;
	top:155px;
	display:block;
	width:71px;
	height:49px;
	background:url("arrows.png") no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	z-index:999;
	}

a.nivo-prevNav{left:-9px;}
a.nivo-nextNav{background-position:-71px 0; right:-9px;}