.box-modal {
	position: relative;
	width: 400px;
	padding: 16px;
	background: url(../img/benefits_bg.png)repeat;
	color: #3c3c3c;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 6px; 
	text-align: center;
}
.box-modal h3 {
font: 28px "PFHandbookPro-Regular_0", sans-serif;
color: #fff;
margin-bottom: 15px;}
.box-modal p {
font: 14px "PFHandbookPro-Regular_0", sans-serif;
color: #fff;
margin-bottom: 15px;}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }