@import url('reset.css');


 @font-face {
    font-family: calibrib; /* имя шрифта для CSS правил */
    src: local("calibrib",sans-serif), /* проверяем наличие шрифта в ОС пользователя */
         url(../path-to/calibrib.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
  .clear {
  	clear: both;
  }

  .head {
  	width: 100%;
  	height: 456px;
  	background: url(../index_files/logo.png)no-repeat center;
  }
  .im_head {
  	width: 1000px;
  	margin: 0 auto; padding: 0 0 0 5px;
  }
  .im_head h2 {
  	font: 30px "calibrib",sans-serif;
  	color: #fff;
  	float: left;
  	width: 745px;
  	padding: 20px 0 0 0;
  }
  .im_head h2 span {
  	color: #ffff00;
  }

  .right {
  	width: 224px;
  	height: 59px;
  	float: right;
  	background: url(../index_files/form1.png)no-repeat;
  	padding: 80px 0 0 0;

  }
   .right a {
   	width: 215px;
   	height: 56px;
   	display: block;
   	margin: 0 auto; padding: 0 0 0 5px;
   }
   .img1 {
   	float: left;
   	margin: -20px 0 0 270px;
   }
   .form1 {
width: 365px;
height: 260px;
background: #fff100;
float: right;
border-radius: 20px;
   }
   .form1 input {
   	width: 225px;
   	height: 36px;
   	background: url(../index_files/input.jpg)no-repeat;
   	border: none;
   	margin: 0 0 17px 55px;
   	padding: 0 0 0 15px;
   	font: 17px Arial;
   }
   .form1 a {
   	width: 255px;
   	height: 51px;
   	display: block;
   	background: url(../index_files/sub2.png)no-repeat;
   	margin: 0 0 0 48px;
   }

.accion {
	display: none;
	width: 100%;
	height: 107px;
	background: url(../index_files/fon2.jpg)no-repeat;
	margin-top: -30px;
}
.im_accion {
	width: 700px;
	margin: 0 auto; padding: 0 0 0 5px;
}
.im_accion img {
	float: left;
	margin: -65px 0 0 60px;
}
.im_accion a {
	width: 116px;
	height: 33px;
	display: block;
	background: url(../index_files/sub3.png)no-repeat;
	float: right;
	margin:-47px 60px 0 0;
}

.egu {
	margin: 0 auto; padding: 0 0 0 2px;
	width: 1004px;
	margin-top: -50px;
}
.egu img {
	margin: 15px 0 0 0;
	position: relative;
	z-index: 1;
}
.egu a {
	width: 307px;
	height: 55px;
	display: block;
	background: url(../index_files/sub4.png)no-repeat;
	margin: -43px auto 0;
	position: relative;
	z-index: 100;
	border: none;
}


.form2 {
	width: 1000px;
	height: 216px;
	margin: 60px auto 0;
	padding: 70px 0 0 0;
	background: url(../index_files/form3.png)no-repeat top center;
}
.im_form2 {
	width: 280px;
	float: right;
	margin: 0 193px 0 0;
}
.im_form2 input {
	width: 256px;
	height: 31px;
	background: url(../index_files/input2.png)no-repeat;
	margin: 0 auto 15px;
	padding: 0 0 0 15px;
	border: none;
}
.im_form2 a {
	width: 155px;
	height: 44px;
	display: block;
	background: url(../index_files/sub5.png)no-repeat;
	margin: 0 0 0 5px;
}

.rac {
	width: 1000px;
	margin: 52px auto 0;
	background: url(../index_files/racu1.png)no-repeat left center;
}
.im_rac {
	width: 560px;
	margin: 0 auto; padding: 0 0 0 5px;
	font: 27px Arial;
	text-align: center;
}
.im_rac h2 {
	font: 36px Arial;
}

.Commission {
	width: 997px;
	margin: 22px auto 0;
}
.rac1 {
	width: 1000px;
	margin: 52px auto 0;
	background: url(../index_files/racu2.png)no-repeat left center;
}
.im_rac1 {
	width: 295px;
	margin: 0 auto; padding: 0 0 0 5px;
	font: 27px Arial;
	text-align: center;
}
.im_rac1 h2 {
	font: 36px Arial;
}
.reasons {
	width: 904px;
	margin: 60px auto 0;
}
.im_rac2 {
	width: 310px;
	margin: 0 auto; padding: 0 0 0 5px;
	font: 27px Arial;
	text-align: center;
}
.im_rac2 h2 {
	font: 36px Arial;
}

.company {
	width: 1005px;
	margin: 30px auto 0;
	padding: 0 0 0 10px;
}

.form3 {
	width: 1026px;
	height: 143px;
	margin: 0 auto;
	background: url(../index_files/form4.jpg)no-repeat 10px;
	padding: 145px 0 0 0;
}
.im_form3 {
	width: 274px;
	margin: 0 0 0 140px;

}
.im_form3 input {
	width: 253px;
	height: 30px;
	margin: 0 auto 9px;
	background: url(../index_files/input3.png)no-repeat;
	border: none;
	padding: 0 0 0 15px;
}
.im_form3 a {
	width: 155px;
	height: 38px;
	display: block;
	background: url(../index_files/sub6.png)no-repeat;
	margin: 5px auto 0;
}

.rac2 {
	width: 956px;
	margin: 52px auto 0;
	background: url(../index_files/racu3.png)no-repeat left center;
}
.im_rac3 {
	width: 494px;
	margin: 0 auto; padding: 0 0 0 5px;
	font: 27px Arial;
	text-align: center;
}
.im_rac3 h2 {
	font: 36px Arial;
}


.Reviews {
	padding: 0 0 0 5px;
	width: 1000px;
	margin: 45px auto 0;
}

.left {
	width: 460px;
	float: left;
}
.left img {
	padding: 0 17px 0 0;
	margin: 0 0 13px 0;
}
.left tr td.text p {
	font: bold 17px Arial;
}
.left tr td.text span {
	font: 13px Arial;
	color: #686868;
}
.left tr td {
	font: 14px Arial;
}

.right1 {
	width: 460px;
	float: right;
}
.right1 img {
	padding: 0 17px 0 0;
	margin: 0 0 13px 0;
}
.right1 tr td.text p {
	font: bold 17px Arial;
}
.right1 tr td.text span {
	font: 13px Arial;
	color: #686868;
}
.right1 tr td {
	font: 14px Arial;
}
.left, .right1 {
	margin-bottom: 72px;
}


.rac4 {
	width: 956px;
	margin: 32px auto 0;
	background: url(../index_files/racu4.png)no-repeat left center;
}
.im_rac4 {
	width: 295px;
	margin: 0 auto; padding: 0 0 0 5px;
	font: 27px Arial;
	text-align: center;
}
.im_rac4 h2 {
	font: 36px Arial;
}


.working {
	width: 1003px;
	margin: 40px auto 75px;
}

.partners {
	width: 1094px;
	margin: 32px auto 70px;
}


.footer {
	width: 100%;
	height: 323px;
	background: url(../index_files/footer.jpg)no-repeat  50% 0%;
	padding: 20px 0 0 0;
}

.im_footer {
	width: 575px;
	margin: 0 auto; padding: 0 0 0 5px;
}
.im_footer input {
	width: 256px;
	height: 31px;
	background: url(../index_files/input4.png)no-repeat;
	margin: 0 0px 0 12px;
	padding: 0 0 0 15px;
	border: none;
}
.im_footer a {
	width: 214px;
	height: 41px;
	display: block;
	margin: 20px auto 0;
	background: url(../index_files/sub7.png)no-repeat;
}

.p1 {
	width: 400px;
	font: 22px "calibrib",sans-serif;
	text-align: right;
	float: left;
	margin: 25px 0 0 0;
}
.im_accion_right {
	width: 400px;
	float: right;
}
.im_accion_right .img1 {
	float: none;
	margin: 10px 0 0 0;
}
.p2 {
	font: 14px "calibrib",sans-serif;
	width: 400px;
	float: left;
	margin: 25px 0 0 0;
}
.im_accion_right a {
	margin: 10px 20px 0 10px;
}
.Commission table {
	width: 998px;
	margin: 0 auto 18px;
	text-align: center;
	border-collapse:separate;
    border-spacing: 5px 0px;

}
.Commission table.tabl1 {
	width: 497px;
}
.Commission table tr td {	
	width: 497px;
 
}
.Commission table tr td h2 {
	font: bold 18px Arial;
	padding: 0 0 15px 0;
	width: 330px;
	margin: 0 auto; padding: 0 0 0 5px;
}
.Commission table tr td.tt {
	padding: 17px 30px;
	background: #FCFCFC;
		border-top:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
	text-align: left;
}
 .company img {
 		position: relative;
 		z-index: 1;
 }
  .company .ta1 {
 
  }
  .taa {
  	width: 1000px;
  	position: relative;
  	z-index: 100;
  }

.ta1 {
	width: 164px;
	float: left;
 	margin: 0 0 0 15px;
	text-align: center;
	font: 15px Arial;
	line-height: 25px;
}
.ta1 p span {
	font: bold 15px Arial;
}
.ta2 {
 margin-left: 35px;
}
.ta3 {
 margin-left: 50px;
}
.ta4 {
 margin-left: 35px;
}
.ta5 {
 margin-left: 35px;
}


.text1 {
	width: 530px;
	margin: 0 auto; padding: 0 0 0 5px;
	height: 160px;
	text-align: center;
}
.text1 h3 {
	font: 28px "calibrib",sans-serif;
	width: 530px;
}
.text1 h4 {
	font: 22px "calibrib",sans-serif;
	color: #fff;
	padding: 15px 0 0 0;
}
#textbox_jbeeb_89, #textbox_jbeeb_174, #textbox_jbeeb_259, #textbox_jbeeb_344 {
display: none;
}
  
   a:active {
position: relative;
top: 2px;}

.footer-bottom{
margin: 0 auto; padding: 0 0 0 5px;
width: 1000px;
font-size:10px;
margin-top:30px;

}
.copy{
width: 500px;
float:left;

}
.rezviz{
width: 500px;
float:right;
}
.politica,
#politica{
background:#fff;
text-align:left;
}

.politica h2{
font-size:1.5em;
margin-bottom:10px;}

.politica p{
padding:5px;}

@media only screen and (max-width: 1280px) {


.form2,
.form3,
.partners,
.partners img,
.egu{
	width: 1000px;
}

.footer_wrapper{
width: 578px;
margin:0 auto;
padding: 0 0 0 0px;
}

.head{width:1024px; margin: 0 auto;}
.footer{width:1024px; margin: 0 auto;}
  
}

