@charset "utf-8";
/* CSS Document */
body {
	background: #eeeeee;
	font-family: Tahoma, Arial, Geneva, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #6F6F6F;
	line-height: 1.5em;
}
.clear {
	clear:both;
}
.beta {
	padding-bottom: 0px;
}
/*1.typography and default*/
/*---------------------------------------------------------------------------*/
h1, h2, h3, h4 {
	color: #000000;
	line-height: 1.3em;
}
h1 {
	font-size: 22px;
	padding: 0 0 15px 0;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	font-weight:normal;
}
h2 {
	font-size: 18px;
	padding: 15px 0 15px 0;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	font-weight:normal;
}
h3 {
	font-size: 14px;
	padding: 15px 0 15px 0;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	font-weight:normal;
}
a {
	color: #a9541e;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
p {
	padding-bottom: 20px;
}
.highlight {
	margin-top: 15px;
}
li.none {
	list-style: none !important;
}
.code li {
	list-style: none !important;
}
#header_wrapper {
	width: 100%;
	background: #28252e;
	padding: 20px 0px;
}
#header {
	width: 960px;
	margin: 0 auto;
	color: #fff;
}
.logo {
	float: left;
}
#header p {
	float: right;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	font-size: 18px;
	padding-top: 30px;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	padding-top: 40px;
}
#info_text {
	width: 610px;
	font-size: 16px;
	padding:0;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	line-height: 1.6em;
	float: left;
}
#info {
	width: 308px;
	float: left;
	padding: 20px;
	background: #FFF;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#info table td {
	padding-right: 5px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	line-height: 2.2em;
	font-size: 0.85em;
}
.content {
	background: #ffffff;
	width: 858px;
	float: left;
	padding: 50px;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 40px 0px;
}
.content ul li {
	list-style: square inside;
	line-height: 1.8em;
}
.content ul li li {
	list-style: disc inside;
	line-height: 1.8em;
	padding-left: 50px;
}
