@font-face {
    font-family:'MyriadProRegular';
    src: url('fonts/myriadpro-regular.eot');
    src: url('fonts/myriadpro-regular.eot') format('embedded-opentype'),
        url('fonts/myriadpro-regular.woff') format('woff'),
        url('fonts/myriadpro-regular.ttf') format('truetype'),
        url('fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family:'ComfortaaRegular';
    src: url('fonts/comfortaa-regular.eot');
    src: url('fonts/comfortaa-regular.eot') format('embedded-opentype'),
        url('fonts/comfortaa-regular.woff') format('woff'),
        url('fonts/comfortaa-regular.ttf') format('truetype'),
        url('fonts/comfortaa-regular.svg#ComfortaaRegular') format('svg');
}
@font-face {
    font-family:'ComfortaaLight';
    src: url('fonts/comfortaa-light.eot');
    src: url('fonts/comfortaa-light.eot') format('embedded-opentype'),
        url('fonts/comfortaa-light.woff') format('woff'),
        url('fonts/comfortaa-light.ttf') format('truetype'),
        url('fonts/comfortaa-light.svg#ComfortaaLight') format('svg');
}
@font-face {
    font-family:'ComfortaaBold';
    src: url('fonts/comfortaa-bold.eot');
    src: url('fonts/comfortaa-bold.eot') format('embedded-opentype'),
        url('fonts/comfortaa-bold.woff') format('woff'),
        url('fonts/comfortaa-bold.ttf') format('truetype'),
        url('fonts/comfortaa-bold.svg#ComfortaaBold') format('svg');
}
body{background:#fff url(img/body.png) no-repeat center top;color:#565555;font-family:'MyriadProRegular';font-size:25px;}
p{line-height:16px;margin-bottom:16px;}
p em{font-weight:bold;font-style:normal;}
a:link, a:active{}
a:hover, a:visited{text-decoration:none;}
h2{color:#fff;font-size:22px;line-height:24px;margin-bottom:24px;}

.wrap{width:1200px;padding:0 30px 0 70px;margin:0 auto;}

/* header */
#header{background:url(img/header.png) repeat-x left bottom;}
#header .wrap{width:1142px;padding:122px 0 0 158px;}
#header h2{color:#2690b3;font-family:'ComfortaaBold';font-size:40px;line-height:40px;margin-bottom:30px;}
#header .info{color:#2690b3;font-family:'ComfortaaRegular';font-size:28px;line-height:34px;padding-top:6px;margin-bottom:21px;margin-left:10px;float:left;}
#header .contact{margin-right:16px;float:right;}
#header .contact .phone{color:#fa67e7;font-family:'ComfortaaRegular';font-size:33px;line-height:34px;text-align:right;margin-bottom:4px;}
#header .contact .call{background:url(img/a.call.png) no-repeat 0 0;color:#010101;font-family:'Arial',sans-serif;font-size:23px;line-height:42px;padding-left:50px;margin-bottom:10px;display:block;}

/* header-bottom */
#header-bottom{background:url(img/header-bottom.png) repeat;padding:6px 0 7px 0;}
#header-bottom img{margin-left:-44px;float:left;}
#header-bottom .contact-form{background:url(img/header-bottom-form.png) no-repeat;width:565px;height:325px;padding:37px 0 0 23px;margin-top:114px;margin-right:-9px;float:right;}

/* contact-form */
.contact-form{font-family:Arial,sans-serif;}
.contact-form h2{
	color:#fff;
	font-size:30px;
	line-height:30px;
	margin-bottom:32px;
	text-align: center;
}
.contact-form p{margin:0 0 3px 0;overflow:hidden;}
.contact-form p span{color:#000;font-size:30px;line-height:34px;text-align:right;width:183px;margin-right:7px;float:left;}
.contact-form input, .test_form input{background:url(img/form-input.gif) no-repeat;font-family:Arial,sans-serif;line-height:29px;text-shadow:0 1px #242c2e;width:173px;height:29px;padding:0 10px;border:none;}
.contact-form p.btn{padding-top:13px;margin-bottom:22px;}
.contact-form input.btn, .test_form input.btn{background:url(img/form-input.btn.png) no-repeat;color:#fff;font-size:30px;line-height:56px;text-align:center;width:198px;height:56px;padding:0 0 2px 0;margin-left:188px;cursor:pointer;}
.contact-form input.btn:hover, .test_form input.btn:hover {background:url(img/form-input.btnH.png) no-repeat 0 0;}
.contact-form .bottom-info{color:#5b5959;font-size:20px;line-height:24px;margin:0 0 0 100px;}

/* content */ 
.content{padding-top:27px;}
.content.bg{background:url(img/bg.png) repeat-x left top;padding-top:47px;}
.content .contact-form{background:url(img/content-form.png) no-repeat;width:590px;height:431px;padding:63px 0 0 20px;margin-left:305px;}
.content .contact-form h2{margin-bottom:35px;}
.content .contact-form p span{width:195px;}
.content .contact-form p.btn{padding-top:8px;margin-bottom:17px;}
.content .contact-form input.btn{background:url(img/content-form-input.btn.png) no-repeat;margin-left:200px;}
.content .contact-form .bottom-info{margin:0 0 0 136px;}

/* blocks-info */
.blocks-info{list-style-type:none;margin-bottom:-10px;overflow:hidden;}
.blocks-info li{width:350px;margin-right:46px;float:left;}
.blocks-info li h3{color:#19313b;font-family:'MyriadProRegular';font-size:30px;line-height:37px;text-align:center;margin-bottom:22px;padding-top:6px;}
.blocks-info li img{margin:0 auto;display:block;}

/* problems-block */
.problems-block{}
.problems-block h2{color:#4ea1be;font-family:Arial,sans-serif;font-size:56px;line-height:67px;text-align:center;margin:0 50px 15px 50px;}
.problems-block > p{color:#565555;font-family:'MyriadProRegular';font-size:25px;line-height:31px;width:860px;margin:0 0 12px 175px;}
.problems-block img{margin-left:187px;margin-bottom:-4px;}
.problems-block .problems{list-style-type:none;width:900px;margin-left:75px;margin-bottom:74px;}
.problems-block .problems li{padding-left:97px;margin-bottom:26px;}
.problems-block .problems .it1{background:url(img/problems-it1.png) no-repeat 0 0;}
.problems-block .problems .it2{background:url(img/problems-it2.png) no-repeat 0 0;}
.problems-block .problems .it3{background:url(img/problems-it3.png) no-repeat 0 0;}
.problems-block .problems .it4{background:url(img/problems-it4.png) no-repeat 0 0;}
.problems-block .problems li h3{background:url(img/problems-h3.png) repeat-x left bottom;color:#4ea1be;font-family:Arial,sans-serif;font-size:30px;line-height:52px;margin-bottom:4px;padding-top:6px;}
.problems-block .problems li p{color:#565555;font-size:25px;line-height:31px;margin-bottom:0;}

/* advantage-block */
.advantage-block{background:url(img/advantage-block.png) no-repeat center top;font-family:'MyriadProRegular';height:1006px;padding-top:52px;margin-bottom:45px;margin-top:-24px;overflow:hidden;}
.advantage-block h1{color:#fefefe;font-size:64px;line-height:64px;margin-bottom:14px;}
.advantage-block .info{color:#fff;font-size:25px;line-height:25px;text-decoration:underline;margin-bottom:0;margin-left:103px;margin-bottom:15px;}
.advantage-block .advantages{list-style-type:none;width:900px;margin-left:6px;}
.advantage-block .advantages li{min-height:70px;padding-left:97px;}
.advantage-block .advantages .it1{background:url(img/advantages-it1.png) no-repeat 0 0;}
.advantage-block .advantages .it2{background:url(img/advantages-it2.png) no-repeat 0 0;}
.advantage-block .advantages .it3{background:url(img/advantages-it3.png) no-repeat 0 0;}
.advantage-block .advantages .it4{background:url(img/advantages-it4.png) no-repeat 0 0;}
.advantage-block .advantages .it5{background:url(img/advantages-it5.png) no-repeat 0 0;}
.advantage-block .advantages .it6{background:url(img/advantages-it6.png) no-repeat 0 0;}
.advantage-block .advantages li h3{background:url(img/advantages-h3.png) repeat-x left bottom;color:#0b465d;font-family:Arial,sans-serif;font-size:30px;line-height:52px;margin-bottom:4px;padding-top:6px;}
.advantage-block .advantages li p{color:#565555;font-size:25px;line-height:31px;margin-bottom:0;}

/* footer */
#footer{background:#e0f8ff url(img/footer.png) no-repeat center top;padding-top:114px;margin-top:24px;}
#footer h2{color:#2690b3;font-family:'ComfortaaBold';font-size:40px;margin-bottom:25px;}
#footer .contact{margin-right:39px;float:right;}
#footer .contact .phone{color:#fa67e7;font-family:'ComfortaaRegular';font-size:30px;line-height:34px;margin-bottom:4px;margin-left:50px;}
#footer .contact .call{background:url(img/a.call.png) no-repeat 0 0;color:#010101;font-family:'Arial',sans-serif;font-size:23px;line-height:42px;padding-left:50px;margin-bottom:10px;margin-right:100px;display:block;position:relative;}

/* element styles */
.clear{clear:both;width:1px;height:1px;overflow:hidden;}
.c1{background:url(img/c1.png) no-repeat;width:81px;height:36px;display:block;position:absolute;top:-3px;left:-93px;}
.c2{background:url(img/c2.png) no-repeat;width:80px;height:42px;display:block;position:absolute;top:6px;right:-93px;}

/*popup*/
.popUp {display: none; background: #a1cbd8; width: 397px; padding: 25px 32px 30px 34px; font-family: Arial, Helvetica, sans-serif; position: fixed; top: 50%; left: 50%; margin: -200px 0 0 -212px; z-index: 5001; border: 3px solid #e1dcdc; border-radius:10px 10px 10px 10px; -moz-border-radius:10px 10px 10px 10px; -webkit-border-radius:10px 10px 10px 10px}
#test_popup1 {margin-top: -150px;}
.popUp .close {background: url(../img/popup_close.png) no-repeat 0 0; display: block; width: 32px; height: 29px; position: absolute; right: 0px; top: 0px}
#overlay {background: url(../img/overlay.png) repeat 0 0;height: 100%;left: 0;position: fixed;top: 0;width: 100%; z-index: 5000;display: none;}

.test_form {}
.test_form h5 {color: #fff; font-size: 31px; text-shadow: 1px 0px #69848d; padding-bottom: 10px;}
.test_form p.result {font-size: 20px; color: #5b5959; padding-bottom: 10px;}
.test_form label {font-size: 25px; color: #000; text-align: right; display: block; margin-bottom: 11px; padding-top: 3px;}
.test_form input[type=text] {width: 181px; height: 17px; padding: 5px; font-size: 12px; color: #000; margin-left: 7px; position: relative; top: -3px; background: #fff; border: 1px solid #afabab;  }
.test_form textarea {min-width: 181px; max-width: 181px; min-height: 78px; padding: 5px; font-size: 12px; color: #000; margin-left: 7px; position: relative; top: -3px; display: block; float: right; border: 1px solid #afabab; resize:none; }
.test_form input.btn {margin-left: 104px; margin-top: 15px;}
	/*end popup*/
