.box-modal {
	position: relative;
	width: 460px;
	padding: 16px;
	background-color: #fff;
	color: #3c3c3c;
	font: 14px/18px 'PT Sans', sans-serif;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 6px; 
	text-align: center;
}
.box-modal h3 {
font: 28px 	'PT Sans Narrow',sans-serif;
color: #333;
margin: 0px;}
.box-modal p {
font: 14px 'PT Sans Narrow',sans-serif;
color: #333;
margin-bottom: 15px;}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }