
body,html {
	margin:0;
	padding:0;
	background:#FFFFFF;
	font-family:'PT Sans',sans-serif;
	font-style:normal;
	color:#000000;
}

button:hover, a:hover {

background-color: #B60000 !important;
}

img {
	border:0;
}

table {
	border:none;
}

table td,tr{
	border:none;
}

table th{
	font-weight:bold;		
}

#form input{
	width:270px;
	height:39px;
	padding-left:12px;
	font-size:14px;
	font-style:italic;
	color:#999999;
	margin:5px 0px;
	outline:none;
}

#form1 {
	position:relative;
	
}
#info{

	width: 100%;
	height: 540px;
}

div.form_name {
	position:relative;
	top:8px;
	font-size:23px;
	font-family:'PT Sans Narrow',sans-serif;
	float:left;
	
}

.form2_box {
	width:905px; 
	margin:0 auto;
}

#form1 input,#form2 input{
	width:235px;
	height:29px;
	padding-left:12px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#333333;
	border:none;
	background:url(../index_files/input_act.jpg) no-repeat;
	margin:5px 0px;
	outline:none;
}

#form3 input.text{
	width:267px;
	height:39px;
	padding-left:12px;
	font-size:14px;
	color:#333333;
	border:none;
	background:url(../index_files/input_foot.jpg) no-repeat;
	margin:5px 0px;
	outline:none;
}
#form3 {
	position:relative;
	left:-15px;
	margin-top:-30px;
}
#form3 .desc{

margin-top: 30px;
text-align: center;

}

#form3 fieldset{
	width:900px;
}
#form3 label{
	width:275px;	
}

#form3 label.radio_b{
	font-size:14px;
	width:160px;
	text-align:left;
}
.form-modal label, .form-raz label{
width: 275px;
}
.form-modal fieldset,.form-raz fieldset{
border:none
}
.form-modal input,.form-raz input{
width: 267px;
height: 39px;
padding-left: 12px;
font-size: 14px;
color: #333333;
border: none;
background: url(../index_files/input_foot.jpg) no-repeat;
margin: 5px 0px;
outline: none;
}
.form_zakaz_raz{
	width: 100%;
	text-align: center;
	margin-top: 75px;
	float: left;
}

#info .form_zakaz_raz{

	margin-top: 0;
	width: 460px;
	text-align: center;
	padding-top: 15px;
	border: 1px solid #eeeeee;
	background: #F8F8F8;
	border-radius: 5px;
	behavior: (border-radius.htc);
	margin: 40px auto;
	float:none;
}

.form_zakaz_raz h3{
margin:0;
}

#form a.btn-prim,
.form-modal a.btn,
.form-raz a.btn{
	display:inline-block;
	width: 277px;
	height:35px;
	line-height:35px;
	font-size:18px;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	background-color: #C40000;
	border: 1px solid #470000;
	border-radius: 5px;
	top: 5px;
	position: relative;
	font-weight: bold;
}
.form-modal .btns,.form-raz .btns{
height: 45px;
}

#form1 a.btn-prim,#form2 a.btn-prim{
	display:inline-block;
	width:102px;
	height:29px;
	line-height:29px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	position:relative;
	background-color: #C40000;
	border: 1px solid #470000;
	border-radius: 5px;
}

#form3 a.btn-prim{
	display:inline-block;
	width:271px;
	height:37px;
	line-height:37px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	position:relative;
	top:20px;
	left:291px;
	background-color: #C40000;
	border: 1px solid #470000;
	border-radius: 5px;
}

#form2 label {
	width:250px;
}

div.block_content {
	width:1000px;
	margin:0 auto;
	background:rgba(255,255,255,0.3);
	height:100% !important;
	margin-top: 20px;
}

div#head{
	width:100%;
	height: 350px;
	background:url(../index_files/bg_head.png) repeat-x bottom;
}

div.top_head {
	padding-top:28px;
	height:73px;
	background:url(../index_files/head.png) no-repeat right;
}

div.logo {
	width:285px;
	height:45px;
	background:url(../index_files/logo.png) no-repeat;
	float:left;
}

div.callback_block {
	position:relative;
	top:-15px;
	width: 300px;
	float:right;
}

div.office {
float: left;
padding: 10px 100px;
font-size: 20px;
}

div.tel {
	height:29px;
	line-height:29px;
	font-size: 28px;
	font-family:'PT Sans Narrow',sans-serif;
	color:#333333;
	width:164px;
	padding-left:36px;
	float:right;
	background:url(../index_files/icon_phone.png) no-repeat left;
}

div.adress {
	font-size:12px;
	margin:5px 0px;
	float:right;
}

div.call_button {
	width:124px;
	float:right;
}

button.callback {
	width:124px;
	height:27px;
	line-height:23px;
	font-family:'PT Sans Narrow',sans-serif;
	font-size:16px;
	color:#ffffff;
	cursor:pointer;
	text-align:center;
	background-color: #C40000;
	border: 1px solid #470000;
	border-radius: 5px;
}

button.zakaz {
	width:104px;
	height:31px;
	line-height:29px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	cursor:pointer;
	text-align:center;
	background-color: #C40000;
	border: 1px solid #470000;
	border-radius: 5px;
}

div.title {
	clear:both;
	font-size:32px;
	font-family:'PT Sans Narrow',sans-serif;
	text-align:center;
	margin-bottom: 12px;
}
div.title2 {
	clear:both;
	font-size:20px;
	font-family:'PT Sans Narrow',sans-serif;
	text-align:center;
	margin-bottom:25px;
}

div.discript{
width: 205px;
padding: 0px 5px 0px 35px;
font-size: 20px;
background: url(../index_files/ok.png) no-repeat 2% 27%;
float: left;
text-shadow: 0px 1px 0px #dfdfdf;
margin-top: -24px;
}

div.discript span{
font-size: 50px;
text-shadow: 1px 1px 0px #A3A3A3;

}


div#dopusk .block_content{
	width:1123px;
	margin:0 auto;
	background:url(../index_files/main.jpg) no-repeat;		
}

div#action .block_content {
	width:1123px;
	margin:0 auto;
	height:275px;
	padding-top:15px;
	background:url(../index_files/action.jpg) no-repeat top left;				
}

div#dopusk .content, div#action .content{
	width:1000px;
	margin:0 auto;
	height:100% !important;		
}

div#dopusk{
	width:100%;
	height:453px;
}

div.top_form {
	float:right;
	position:relative;
	top:70px;
	width:340px;
	height:350px;
	background: #F0F0F0;
}

div.top_form  .desc{
color: #000;
margin-top: 14px;
font-size: 12px;
text-align: center;
}


div.top_form p {
	color:#000;
	text-align:center;
	margin:0;
}

div.top_form p.title {
	font-style: bold;
	font-size: 36px;
	font-family: 'PT Sans Narrow',sans-serif;
	margin-top: 20px;
}

div.top_form p.old_price {
	font-size:15px;
	color:red;
	font-weight:bold;
	text-decoration:line-through;
}

div.top_form p.green {
	color: #EE0000;
	font-size:18px;
	font-weight:bold;
}

div#action{
	width:100%;
	height: 348px;		
}

div#action .info{
	width:826px;
	margin:0 auto;			
}

div#action .info .item{
	font-family:'PT Sans Narrow',sans-serif;
	font-size:20px;
	color:#333333;
	height:70px;
	padding-right:25px;
	float:left;			
}

div#action .info .item1 {
	width:426px;	
}


div#action .info .item2 {
	width:350px;	
	float:right;
}

div.act_green {
	width: 100px;
	height: 21px;
	line-height: 21px;
	padding-left: 28px;
	font-size: 18px;
	color: #E40000;
	background: url(../index_files/ok2.png) no-repeat left top;
}

div.iepnga{
width: 300px;
float: right;
}

div#action .info .item2 .act_green {
	width:260px;
	float:left;
}

div#action .info .item1 .act_green {
	
	float:right;
}

div.timer_block {
	width: 600px;
	height:65px;
	margin:0 auto;
	position:relative;
	top: -10px
}

div.timer_text {
	display:inline-block;
	width: 170px;
	font-size: 19px;
	text-align:right;
	position:relative;
	
}

div.timer {
	display:inline-block;
	position: relative;
	top: -62px;
	left: 15px;
}

div.form_act {
width: 100%;
height: 75px;
position: relative;
top: -103px;
background: #000000;
color: #ffffff;
}

div#services{
	width:100%;
	height: 735px;
	padding-top:60px;
}

.service tr.fb{
	background:#fbfbfb;	
}

.service td{
	border-right:1px solid #e6e6e6;	
}

.service td.top_title{
	height: 78px;
	background: url(../index_files/title.jpg) no-repeat;
	font-family: 'PT Sans Narrow',sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0px -1px 0px #333;
	padding: 0 15px;
	line-height: 22px;
}

.service td.price{
	width:273px;
	height:60px;
	font-family:'PT Sans Narrow',sans-serif;
	font-size:19px;
	color:#000000;
	text-align:center;
}

.service td.price span{

	font-size:14px;
	color: #727272;
	font-family: 'PT Sans',sans-serif;

}

.price_time {
margin-top:30px;
text-align:center;
float: left;

}

.service td.price_b{
	width:273px;
	height:60px;
	font-family:'PT Sans Narrow',sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#000000;
	text-align:center;
}

.service td.first{
	width:180px;
	font-size:14px;
	border-right:1px solid #f0f0f0;
	text-align:center;
}

.service td.info, .service td.btn{
	width:131px;
	height:50px;
	padding:0px 12px;
	font-size:14px;
	color:#727272;
	border-right:1px solid #e5e5e5;
	text-align:left;
}

.service td.center{

	text-align:center;
	
}

.service td.btn{
	text-align:center;
	border-bottom:1px solid #e6e6e6;
	border-radius:0px 0px 5px 5px;
	behavior:(border-radius.htc);
	height:100px;
}

div#firma{
	width:100%;
	height:800px;
	background:#ffffff;
	margin-top:30px;
}

div#firma .block_content{
	border:1px solid #eeeeee;
	background:#ffffff;
	border-radius:5px;
	behavior:(border-radius.htc);
	padding:10px 10px 0px 10px;
	width:980px;
}

div.info_about{
	padding-left:110px;
	background:url(../index_files/power.png) no-repeat top left;
}

div.info_about_client {
	padding-left:110px;
	margin-bottom:60px;
	height:85px;
}

div.info_about p, div.info_about_client p{
	margin:10px 0px;
}

div.info_about p.green, div.info_about_client p.green{
	color:#6ea900;
	font-size:25px;
	font-weight:bold;
}

div.info_about p.tender, div.info_about_client p.tender{
	font-size: 24px;
	color:#333333;
}

div.info_about p.text, div.info_about_client p.text{
	font-size:18px;
	color:#333333;
}

div.firm_info {
	width:230px;
	height:320px;
	margin-right:15px;
	float:left;
}

div.firm_info .img{
	height:190px;	
	margin-bottom:10px;
}

div.firm_info .img1{
	background:url(../index_files/firm/1.jpg) no-repeat center;
}

div.firm_info .img2{
	background:url(../index_files/firm/2.jpg) no-repeat center;
}

div.firm_info .img3{
	background:url(../index_files/firm/3.jpg) no-repeat center;
}

div.firm_info .img4{
	background:url(../index_files/firm/4.jpg) no-repeat center;
}

div.firm_info .title {
	font-size:20px;
	font-family:'PT Sans Narrow',sans-serif;
	margin-bottom:0px;
}

div.firm_info .text {
	width:155px;
	font-size:18px;
	color:#6ea900;
	margin:0 auto;
}

div.firm_info .text p{
	width:185px;
	font-size:14px;
	color:#333333;
	margin:5px 0px;
}

div.firm_info .price {
	width:185px;
	margin:0 auto;
	font-size:41px;
	font-family:'PT Sans Narrow',sans-serif;
	text-align:center;
	color:#333333;
	background: url(../index_files/firm/shadow.jpg) no-repeat left 90%;
}

div.firm_button {
	width:401px;
	margin:0 auto;
	position:relative;
	top:80px;
}

div.firm_button button{
	width:401px;
	height:41px;
	line-height:41px;
	background-color: #6ea900;
	border: 1px solid #548000;
	border-radius: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#ffffff;
	cursor:pointer;
	text-align:center;
}

div#problems{
	margin-top:20px;
	width:100%;
	padding-top:30px;
	background:#ffffff;
}

div.problem {
	width:460px;
	padding:12px;
	background:#fbfbfb;
	border:1px solid #ebebeb;
	margin:0px 14px 14px 0px;
	float:left;
}

div.problem .text{
	width:396px;
	font-size:14px;
	float:right;
}

div.problem .text p{
	margin:0;
}

div.problem .text p.title{
	font-size:20px;
	font-weight:bold;
	font-family:'PT Sans Narrow',sans-serif;
	margin:-5px 0px 10px 0px;
		
}

div.problem .img{
	width:64px;
	height:50px;
	float:left;
}

div.problem .img1{
	background:url(../index_files/problems/1.jpg) no-repeat left top;
}

div.problem .img2{
	background:url(../index_files/problems/2.jpg) no-repeat left top;
}

div.problem .img3{
	background:url(../index_files/problems/3.jpg) no-repeat left top;
}

div.problem .img4{
	background:url(../index_files/problems/4.jpg) no-repeat left top;
}

div.problem .img5{
	background:url(../index_files/problems/5.jpg) no-repeat left top;
}

div.problem .img6{
	background:url(../index_files/problems/6.jpg) no-repeat left top;
}

div#clients{
	width:100%;
	background:#ffffff;
}

div.title_green {
	height:100px;
	line-height:100px;
	color:#6ea900;
	font-family:'PT Sans Narrow',sans-serif;
	font-size:38px;
	border-bottom:1px solid #eeeeee;
	text-align:center;
}

.cl1 {
	background:url(../index_files/clients/1.jpg) no-repeat left top;
}

.cl2 {
	background:url(../index_files/clients/2.jpg) no-repeat left top;
}

.cl3 {
	background:url(../index_files/clients/3.jpg) no-repeat left top;
}

.cl4 {
	background:url(../index_files/clients/4.jpg) no-repeat left top;
}

.cl5 {
	background:url(../index_files/clients/5.jpg) no-repeat left top;
}

.cl6 {
	background:url(../index_files/clients/6.jpg) no-repeat left top;
}

div#podrobno{
	margin-top:20px;
	width:100%;
	height: 75px;
	background:#ffffff;
}

div#podrobno .block_content{
	background:#000000;
	color:#ffffff;
}

div#brands{
	margin-top:20px;
	width:100%;
	height:179px;
	background:#ffffff;
}

div#brands .block_content{
	font-family:'PT Sans Narrow',sans-serif;
	font-size:40px;
	padding-top:40px;
	height:139px;
	background:url(../index_files/brands.jpg) no-repeat top right;
	border-bottom:1px solid #eeeeee;
}

div#docs{
	margin-top:60px;
	width:100%;
	background:#ffffff;
}

div.doc{
	width:287px;
	height:480px;
	margin-left:40px;
	float:left;	
}

div.doc1 {
	
}

div.doc2 {
	
}

div.doc3 {
	
}

div.doc .text{
	text-align:center;
	font-size:22px;
	position:relative;
	top: 20px;
}

div#thanks{
	margin-top:80px;
	width:100%;
	background:#ffffff;
}

div#thanks .block_content{
	width:1058px;
	padding-left:65px;
}

div.thank {
	width:510px;
	height:215px;	
	float:left;
	margin:0px 15px 20px 0px;
}

div.thank .img{
	width:155px;
	height:175px;
	float:left;
}



div.thank .text{
	width:355px;
	height:175px;
	font-size:14px;
	float:right;
}

div.thank .text .name{
	font-size:24px;
	font-family:'PT Sans Narrow',sans-serif;
}

div.thank .text .position{
	margin-bottom:8px;
}

div.thank .text .info{
	width:295px;
	height:73px;
	padding:25px 20px 20px 10px;
	background:url(../index_files/thanks/bg.jpg) no-repeat;
	margin-bottom:8px;
}

div.thank .text button{
	width:97px;
	height:24px;
	line-height:24px;
	background-color: #C40000;
	border: 1px solid #470000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	border:none;
	cursor:pointer;
	text-align:center;
	border-radius: 5px;
}

div#wywe{
	margin-top:60px;
	width:100%;
	background:#ffffff;
}

div#work{
	margin-top:20px;
	width:100%;
	height:310px;
	background:#ffffff;
}

div#work table{
	width:100%;
	text-align:center;
}

div#work table td{
	padding: 0 10px;
	font-size: 0.9em;
	vertical-align:text-top;
}

div#work table td.image{
	width:100%;
}



div#contacts{
	margin-top:20px;
	width:100%;
	background:#ffffff;
}

div.address {
	width:270px;
	float:left;
}

div.map {
	width:730px;
	height:300px;
	float:right;
}

div.address p{
	margin:25px 0px;
	font-size:16px;
}

div.address p.name{
	color:#6ea900;
	margin-bottom:10px;
}

div.address p.title{
	margin-top:0px;
	font-size:40px;
	font-family:'PT Sans Narrow',sans-serif;
}

div#footer{
	margin-top:20px;
	width:100%;
	height:235px;
	background:#f0f0f0;
}

div#footer div.title{
	text-align:left;
	font-size:24px;
	font-family:'PT Sans Narrow',sans-serif;
}

div#footer .block_content{
	padding-left:150px;
	width: 930px;
	padding-top:20px;
	height:185px !important;
	background:url(../index_files/foot.jpg) no-repeat left top;
	
}


div.clear {
	clear:both;
}

/*TIMER*/
.time{

}

.time *{vertical-align: top;}

.time ins,
.time .clock{
	position: relative;
	top: 10px;
	width: 40px;
	height: 55px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: transparent url(../index_files/sprites.png) no-repeat -260px -154px;
}

.time .clock{margin-right: 7px;}

.time ins{width: 10px;}

.time ins{background-position: -300px -154px;}

.time .etitle{
	position: absolute;
	width: 110px;
	text-align: center;
	left: 50%;
	margin-left: -47px;
	top: 55px;
	line-height: 30px;
}

.etitle-1{font-size: 1.6em;}

.etitle-2{
	font-size: 1.37em;
	padding-top: .1em;
}

.etitle-3{
	font-size: 1.12em;
	padding-top: .2em;
}

.etitle-4{
	font-size: .87em;
	padding-top: .3em;
}

.c-block{
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 18px 0 3px;
	padding: 4px 0 40px 3px;
	position: relative;
	background: transparent url(../index_files/sprites.png) no-repeat -260px 0;
}

.c-block:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 31px;
	background: transparent url(../index_files/sprites.png) no-repeat 100% -77px;
	height: 77px;
}

.bl-inner{
	position: relative;
	margin-right: -10px;
	height: 48px;
	background: transparent url(../index_files/sprites.png) no-repeat -5px -48px;
}

.bl-inner span{
	display: none;
	font-size: 46px;
	color: #fff;
	line-height: 46px;
	margin-left: 2px;
}

.bl-inner:before{
	content: '';
	position: absolute;
	left: 100%;
	top: 0;
	width: 3px;
	background: transparent url(../index_files/sprites.png) no-repeat -122px -48px;
	height: 48px;
}

.c-block-1{width: 20px;}
.c-block-2{width: 45px;}
.c-block-3{width: 70px;}


@media only screen and (max-width: 1280px) {
div#dopusk .block_content {
width: 1000px;}


div#action .block_content {
width: 1000px;
}
div#thanks .block_content {
width: 1000px;
padding:0;}

div#footer .block_content {
width: 1000px;
padding-left:0;
background:none;}

div.thank .text {
width: 335px;}

div.thank {
width: 490px;
margin: 0px 10px 30px 0px;}

div.top_form {
right: 50px;}



}


