/* ######## Blue Skin Styles #########  */ 


.main-section { background:url("../../img/main-bg.png") no-repeat; background-size:100% 600px; } 


.main-section .main-left a.button-hover, .cta a.button-hover { background-color:#3b95ca; color:#ffffff; box-shadow:0 3px 0 rgba(0,0,0,0.10), 0 0px 2px rgba(255,255,255,0.1) inset, 0 0px 3px rgba(0,0,0,0.10);  }

.vjs-default-skin .vjs-big-play-button { background-color: rgba(59, 149, 202, 0.8)!important; }


#navimenu li.signup-nav a.button-hovera { color:#3b95ca; }

.menu-nav li.signup-nav { background-color:#3b95ca; border:3px solid #3b95ca; }


.title-div { background-color:#3b95ca; }
.diva-icon { background-color:#3b95ca; color:#ffffff; }
.diva-hover { color:#3b95ca; }

.featu-icon { background-color:#3b95ca; }

#navi2 a.activeSlide span { background-color:#3b95ca; }

.slide1 .slide-txt p.subtitle, .howto p.subtitle  { color:#3b95ca; }

#navi3 a { color:#3b95ca; }
#navi3 a:hover { background-color:#3b95ca; border:1px solid #3b95ca; }

.testimonials { background:url("../../img/main-bg.png") no-repeat; background-size:100% 730px; }

.testi-img  { border:8px solid rgba(0,0,0,0.1); }

.testi-job { color:rgba(255,255,255,0.8); }

.testi-company { color:#000000; background-color:#f5f7f9; }
.company-hover { color:#ffffff; background-color:#3b95ca; }
#navi4 a { background-color:rgba(0,0,0,0.1); color:#ffffff; border:1px solid rgba(0,0,0,0.1); }
#navi4 a:hover { color:#3b95ca; }


div.b { background-color:#3b95ca; }

.testio-txt p.custo-comp { color:#3b95ca; }

.howto .how-txt ul li span { color:#3b95ca; }

.price-sub2 { background-color:#3b95ca;  }

.price2 { background-color:#3b95ca;   }

.arrow-divi2 {   background-color:#3b95ca; }

.cta {  background-color:#3b95ca; }

.wrap input[type=submit]  {   background-color:#3b95ca!important;  }