html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	background: url(../images/backgrounds/body_bg.jpg) 10% 100% repeat-y;
	            
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 1000px;
    z-index: 4;
}
.clear {
	clear:both;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 242px;
}
.logo {
	background: url(../images/logo.png) no-repeat;
	float: left;
    height: 83px;
    margin: 20px 0 0;
    text-decoration: none;
    width: 270px;
}

.logo h1 {
	color: #FDFFE5;
    font-family: PFDinTextCondPro-Regular;
    font-size: 12pt;
    font-weight: 400;
    padding: 65px 0 0 1px;
    text-shadow: 0 0 1px #FDFFE5;
	text-indent:-9999px;
}


.logof {
	background: url(../images/backgrounds/flags.png) no-repeat;
	float: left;
    height: 83px;
    margin: 50px 90px 0;
    text-decoration: none;
    width: 250px;
}

.logof h1 {
	color: #FDFFE5;
    font-family: PFDinTextCondPro-Regular;
    font-size: 12pt;
    font-weight: 400;
    padding: 65px 0 0 1px;
    text-shadow: 0 0 1px #FDFFE5;
	text-indent:-9999px;
}


.head .orderCall {
	float: right;
	margin: 15px 0 0 0;
}

.head .orderCall span,
.head .orderCall a {
	color: #FDFFE5;
    font-family: PFDinTextCondPro-Regular;
    font-size: 24pt;
    line-height: 0.5;
    margin: 0;
    font-weight: 400;
    padding: 0 9px 0 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #8E8E8F;
}
.head .orderCall b {
	color: #FFFFFF;
    display: block;
    line-height: 20pt;
    margin: 0 0 -10px;
    text-align: center;
}
.head .orderCall a.callBackLink {
	display: block;
	background: url(../images/backgrounds/order_call_btn.png) no-repeat;
	text-indent: -9999px;
	padding: 18px 0 0 0;
	width: 225px;
	line-height:20px;
	margin: 13px auto 0;
}
.head .orderCall a.callBackLink:hover {
	opacity:0.9;
}
/*.head .orderCall a.callBackLink:active {
	margin-top:23px;
	margin-left:4px;
}*/

.head p {
    color: #FDFFE5;
    font-family: PFDinTextCondPro-Regular;
    font-size: 25pt;
    font-weight: 400;
    line-height: 20pt;
    margin: 22px 0 0 0;
    text-align: center;
}
.head span {
    color: #FDFFE5;
    display: block;
    font-family: PFDinTextCondPro-Regular;
    font-size: 15pt;
    line-height: 18pt;
    margin: 2px 0 0;
    text-align: center;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 77px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 340px 0 0;
}
#middle form {
	border: 1px solid #525259;
	margin: 24px 0 0;
	padding:0 0 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.cbbTitle {
    color: #FDFFE5;
    font-family: PFDinTextCondPro-Regular;
    font-size: 13pt;
    line-height: 12pt;
    padding: 27px 23px 21px;
    text-transform: uppercase;
}
.cbbTitle span {
    color: #FDFFE5;
    display: block;
    font-family: PFDinTextCondPro-Regular;
    font-size: 25pt;
    margin: 0 0 -18px;
    text-transform: uppercase;
    white-space: nowrap;
}
.cbbLine {
	margin: 0 auto 14px;
    position: relative;
    width: 260px;
}
.cbbLine input {
	background:#f7f9fb;
	box-shadow: 0 1px 2px #C6C7C9 inset;
	border: none;
    color: #777777;
    display: block;
    font-family: Verdana;
    font-size: 10pt;
    height: 36px;
    margin: 0;
    padding: 0 0 0 13px;
    width: 247px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.cbbLine .placeholder {
	margin:9px 0 0 13px;
    color: #777777;
    font-family: Verdana;
    font-size: 10pt;
}
.cbbSubmit {
	margin: 0 auto;
    padding: 5px 0 0;
    width: 260px;
}
.cbbSubmit input {
	background: url(../images/backgrounds/form_btn.png) no-repeat;
	border: none;
	display: block;
    height: 52px;
    margin: 0 auto;
    padding: 0;
    text-indent: -9999px;
    width: 260px;
}

.cbbSubmit input:hover {
	cursor: pointer;
	opacity:0.9;
}

#middle form .textBox {
	color: #333;
    display: block;
    font-family: Verdana;
    font-size: 7pt;
    line-height: 10pt;
    margin: 10px auto 0;
    text-align: center;
    width: 260px;
}

#middle .champion {
    float: left;
    margin: 51px 69px 0 1px;
}
#middle .champion h2 {
    color: #FDFFE5;
    font-family: PFDinTextCondPro-Regular;
    font-size: 24pt;
    font-weight: normal;
    line-height: 0.9;
    padding: 0 0 8px;
	height:40px;
}
#middle .champion h2 span {
    color: #FDFFE5;
    font-family: PFDinTextCondPro-Regular;
    font-size: 15pt;
    line-height: 12pt;
}
#middle .champion span {
    color: #FDFFE5;
    display: block;
    font-family: PFDinTextCondPro-Regular;
    font-size: 10.5pt;
}
#middle .champion p {
    color: #FDFFE5;
    font-family: PFDinTextCondPro-Italic;
    font-size: 12pt;
    line-height: 1.5;
    margin: -16px -41px 0 0px;
    padding: 17px 0 0;
    position: relative;
	font-style:italic;
    white-space: nowrap;
}







/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
    margin-bottom: 47px;
    margin-left: -318px;
    margin-right: -3px;
    position: relative;
    width: 310px;
}


/* Footer
-----------------------------------------------------------------------------*/
.mainLogos2 {
    bottom: 15px;
    left: -35px;
    position: absolute;
    width: 1000px;
    z-index: 2;
}
.mainLogos {
    bottom: 77px;
    left: 298px;
    position: absolute;
    width: 391px;
    z-index: 2;
}

/* Design for a width of 420px for Mobile (Landscape) */
@media only screen and (min-width: 601px) and (max-width: 767px){

}
#footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 77px;
	position: relative;
	padding-top:21px;
}
.footer:before {
	content: "";
	background: url(../images/icons/footer_line_top.png) no-repeat;
	width: 968px;
	height: 18px;
	display: block;
	position: absolute;
	top: 21px;
}

.footer ul {
	clear: both;
    height: 60px;
    margin: 0;
    overflow: hidden;
    padding: 11px 0 0;
}

.footer ul li {
	float: left;
	width: 200px;
	margin: 0 -20px 0 145px;
	position: relative;
}

.footer ul li:after {
	content: "";
	background: url(../images/icons/li_line.png) no-repeat;
	width: 7px;
	height: 97px;
	position: absolute;
	display: block;
	right: -59px;
	top: -18px;
}

.footer ul li:first-child:after {
	content: "";
	background: url(../images/icons/li_line.png) no-repeat;
	width: 7px;
	height: 97px;
	position: absolute;
	display: block;
	right: -84px;
	top: -18px;
}

.footer ul li:last-child:after {
	content: "";
	background: none;
}

.footer ul li:first-child {
	margin: 0 20px 0 44px;
}

.footer ul li:first-child span {
	top: 22px;
}

.footer ul li p {
	font-family: PFDinTextCondPro-Regular;
	color: #fff;
	font-size: 40pt;
	float: left;
	padding: 13px 0 0 0;
}

.footer ul li span {
	font-family: PFDinTextCondPro-Regular;
	font-size: 15pt;
	color: #fff;
	display: block;
	white-space: nowrap;
	line-height: 1;
	position: relative;
	top: 12px;
	left: 12px;
}

.creator {
	color: #FFFFFF;
    display: block;
    font-size: 8pt;
    left: 50%;
    margin-left: -93px;
    position: absolute;
    top: 100px;
    white-space: nowrap;
    width: 185px;
}
.creator a {
	color:#fff;
}
/* ----------------------------------------------------------------------------------- */

.wrOverlay {
	background:rgba(67, 68, 62, 0.7);
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:111;
	cursor:pointer;
	display:none;
}


.okSendBox,
.callBackBox_PopUp {
    background: #fff;
    border: 2px solid #FDFFE5;
    border-radius: 5px;
    display: none;
    left: 50%;
    margin: 0 0 0 -170px;
    padding: 20px 0;
    position: absolute;
    width: 340px;
    z-index: 113;
}
.okSendBox .title {
    color: #000000;
    display: block;
    font-family: PFDinTextCondPro-Regular;
    font-size: 23pt;
    padding: 19px 27px 0;
    text-transform: uppercase;
}
.okSendBox p {
    color: #333333;
    font-size: 11pt;
    line-height: 14pt;
    margin: 0;
    padding: 29px 27px 9px;
    white-space: nowrap;
}

.closePopUpLink {
	position:absolute;
	right:-13px;
	top:-15px;
	cursor:pointer;
}


.callBackBox_PopUp {
}
.callBackBox_PopUp .cbbTitle {
    color: #000000;
    font-size: 12pt;
    padding: 13px 40px 8px;
    text-align: left;
    text-transform: none;
}
.callBackBox_PopUp .cbbTitle span {
    color: #000000;
    margin: 0 0 20px;
}
.callBackBox_PopUp .cbbSubmit input {
	background: url(../images/backgrounds/form_red_btn.png) no-repeat;
}


/*(mdpi) Android*/
@media only screen and (min-device-width : 480px) and (max-device-width : 800px) {

}
