@font-face {
    font-family: 'Cuprum';
    src: url('../fonts/cuprum-webfont.eot');
    src: url('../fonts/cuprum-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum-webfont.woff') format('woff'),
         url('../fonts/cuprum-webfont.ttf') format('truetype'),
         url('../fonts/cuprum-webfont.svg#cuprumffuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}  
body{margin:0;background:url(../img/header-bg2.jpg) 0 0 repeat-x;min-width:980px;}
ul, li{list-style:none;padding:0;margin:0;}
.contayner{width:980px;margin:0 auto;}
.clearfix{clear:both;}
.header{background:url(../img/header-bg.jpg) 50% 100% no-repeat;height:405px;}
.logo{height:28px;width:254px;float:left;margin:15px 0 0 75px;}
.head-text{height:47px;width:447px;float:right;margin:7px 120px 0 0;background:url(../img/head-text.png) 0 0 no-repeat;}
.head-line{height:60px;}
.head-img{height:186px;width:204px;float:left;margin:6px 0 0 10.2%;background:url(../img/prod.png) 0 0 no-repeat;}
.head-slogan{height:105px;width:515px;margin:26px 50px 0 0;float:right;background:url(../img/slogan.png) 0 0 no-repeat;}
.head-button-wrap{float:right;margin:20px 260px 0 0;}
.head-but{display:block;height:69px;width:316px;background:url(../img/head-but.png) 0 0 no-repeat;margin-top: -89px;margin-left: 160px;z-index:3;}
.head-but:hover{background-position:0 100%;}
.head-slogan2{height:82px;width:357px;float:left;margin:17px 0 0 2.2%;background:url(../img/slogan2.png) 0 0 no-repeat;}
.block1{background:url(../img/block1-bg.jpg) 50% 0 no-repeat;}
.video-wrap{height:230px;width:347px;float:left;margin:-43px 0 0 22px;}
.block1-list{width:340px;float:left;margin:72px 0 0 161px;}
.block1-list li{font:bold italic 18px/18px 'Tahoma';padding:0 0 4px 0;color:#ea522d;}

.block1-main{margin:10px 0 0;background:url(../img/block1-main.jpg) 92% 0 no-repeat;}
.block1-text{width:600px;margin:0 0 0 20px;}
.block1-text p{font:16px/20px 'Tahoma';margin:15px 0;}
.block1-text h2{font:31px/31px 'Tahoma';margin:62px 0 0;}
.block1-text .bolder{font-weight:bold;}
.block1-text .colored{color:#d39701;}
.main-video{width:280px;height:186px;margin:0 0 0 7px;}
.block3{height:244px;background:url(../img/block3.jpg) 50% 0 no-repeat;margin:36px 0 0;}
.block4-main{color:#032644;}
.block4-head{float:left;width:640px;margin:7px 0 0 20px;}
.block4-but-wrap{width:227px;float:right;margin:8px 70px 0 0;}
.block4-but{display:block;height:50px;width:227px;background:url(../img/block4-but.png) 0 0 no-repeat;}
.block4-but:hover{background-position:0 100%;}
.block4 .contayner{}
.block4-main h3{font:31px/28px 'Tahoma';margin:0 0 20px 0;}
.block4-main .bolder{font-weight:bold;}
.block4-num{display:inline-block;height:24px;margin:-2px 8px 0 0;width:28px;background:url(../img/block4-num.png) 0 0 no-repeat;float:left;font:bold 18px/18px arial;color:#fff;text-align:center;padding:4px 0 0;}
.block4-main p{font:16px/20px 'Tahoma';margin:;}
.block4-list{padding:5px 0 0;width:520px;float:right;}
.block4-list-wrap{padding:24px 70px 30px 0;margin:2px 0 0;background:url(../img/block4-bg.jpg) 50% 0 no-repeat;}
.block4-list li{padding:6px 0 5px 0;font:16px/20px 'Tahoma';}
.block4-list p{margin:0;}
.block4-list .bolder{color:#c30d0e;}
.block4-text-l{margin:0 0 0 26px;padding:47px 0 0 40px;font:14px/18px 'Tahoma';height:84px;width:272px;float:left;background:url(../img/block4-text-l.jpg) 0 0 no-repeat;}
.block4-text-l .colored{font-weight:bold;color:#c30d0e;}
.block4-text-r{float:left;width:520px;margin:10px 0 0 50px;}
.block5-main .block5-colored p{font:14px/18px 'Tahoma';width:530px;margin:16px 0 0 20px;}
.block5-colored .colored{font-weight:bold;color:#e04823;}

.block5{height:506px;margin:35px 0 0;background:url(../img/block5-bg.jpg) 50% 2px no-repeat;}
.block5-main{max-width:;margin:0 0 0 20px;color:#032644;}
.block5-main h3{margin:0;font:31px/31px 'Tahoma';padding:42px 0 10px;}
.block5-main .bolder{font-weight:bold;}
.block5-main p{font:16px/20px 'Tahoma';width:490px;margin:14px 0 18px;}
.block5-colored{height:146px;float:left;margin:6px 0 0 -20px;width:570px;padding:2px 0 0;background:#fff9d6;border-radius:10px;}
.block5-but{display:block;height:62px;width:289px;background:url(../img/button5.png) 0 0 no-repeat;}
.block5-but:hover{background-position:0 100%;}
.block5-but-wrap{width:290px;float:left;margin:76px 0 0 64px;}

.block6{color:#032644;height:650px;background:url(../img/block6-bg.jpg) 44.6% 110px no-repeat;}
.block6 .contayner{}
.block6 h3{font:31px/28px 'Tahoma';margin:48px 0 0 20px;}
.block6 .bolder{font-weight:bold;}
.block6-wrap .first{margin:24px 0 0 20px;font:16px/20px 'Tahoma';}
.block6-text{width:604px;height:219px;font:16px/20px 'Tahoma';margin:2px 0 0 32px;background:url(../img/block6-text.jpg) 0 0 no-repeat;}
.block6-text p{width:340px;margin:0;padding:20px 0 0 30px;}
.block6-main{float:right;width:390px;margin:8px 12.2% 0 0;}
.block6-main p{font:16px/20px 'Tahoma';margin:18px 0;}
.block6-left{width:330px;height:480px;float:left;margin:18px 0 0;background:url(../img/block6-left.jpg) 0 0 no-repeat;}
.block6-left p{margin:0;font:16px/20px 'Tahoma';color:#2a445a;padding:22px 30px 0 20px;}
.block6-left .bolder{font-weight:bold;}
.block6-right{float:right;width:390px;height:480px;margin:22px 20px 0 0;}
.block6-right p{font:16px/20px 'Tahoma';margin:16px 0 20px 0;}
.block6-attent{height:60px;margin:-4px 0 0 -26px;padding:6px 0 8px 60px;background:url(../img/attention-bg.jpg) 0 0 no-repeat;}
.block6-attent p{margin:0;font:13px/16px 'Tahoma';padding:6px 0 0;}
.block6-attent .colored{font-weight:bold;color:#dc0808;}


.attention{height:64px;width:340px;margin:-4px 0 0 -28px;background:url(../img/attention-bg.jpg) 0 0 no-repeat;font:13px/16px 'Tahoma';padding:10px 0 0 62px;}
.attention .colored{color:#dc0808;font-weight:bold;}
.block7{background:#f7d71b;height:176px;margin:3px 0 0;}
.block7-img{height:232px;width:181px;float:left;margin:-56px 0 0 6.8%;background:url(../img/block7-girl.png) 0 0 no-repeat;}
.block7-text{width:560px;float:left;margin:20px 0 0 -14px;}
.block7-slogan{height:59px;width:409px;margin:12px 0 0 202px;background:url(../img/block7-text.png) 0 0 no-repeat;}
.button2{display:block;height:45px;margin:12px 0 0 160px;width:491px;background:url(../img/block7-but.png) 0 0 no-repeat;}
.button2:hover{background-position:0 100%;}
.block7-img2{height:129px;width:139px;margin:-114px 0 0 56px;background:url(../img/prod2.png) 0 0 no-repeat;}


.block8-main{color:#032644;position:relative;}
.block8-main h4{font:31px/28px 'Tahoma';margin:0;padding:62px 0 0 20px;}
.block8-main p{font:14px/14px 'Tahoma';padding:26px 0 14px 20px;color:#2f7ed8;margin:0;}
.block8-main .bolder, .bolder{font-weight:bold;}
.label-graf{height:55px;width:75px;position:absolute;top:132px;right:78px;background:url(../img/label-graf.png) 0 0 no-repeat;z-index:999;}

.block9-main h4{font:31px/31px 'Tahoma';margin:0 0 16px 0;color:#032644;}

.block9-main{max-width:940px;margin:52px auto 0;}
.resp{margin:0 20px 6px 0;width:299px;float:left;}
.last-resp{margin:0;}
.resp-top{height:11px;background:url(../img/resp-top.jpg) 50% 0 no-repeat;}
.resp-bottom{height:13px;background:url(../img/resp-bottom.jpg) 50% 0 no-repeat;}
.resp-main{min-height:140px;padding:0 0 12px 0;background:#f2efe1 url(../img/resp-bg.jpg) 94% 100% no-repeat;}
.resp-img{float:left;width:108px;height:106px;margin:10px 0 0 20px;}
.resp-text{float:left;margin:13px 10px 0 28px;}
.resp-text p{font:italic 14px/18px Verdana;margin:0;}
.resp .author-resp{font:12px/16px 'Tahoma';margin:45px 0 0 14px;float:left;width:154px;}

.sale-block{height:120px;background:#fff8d7;margin:66px 0 0 0;}
.sale-img{float:left;height:178px;width:181px;margin:-34px 0 0 20px;background:url(../img/sale-banner.png) 0 0 no-repeat;}
.sale-text{float:left;width:660px;padding:10px 0 0 2.3%;}
.sale-text h5{font:bold 30px/30px 'Tahoma';margin:0;padding:14px 0 0;color:#730129;}
.sale-text p{font:bold 14px/18px 'Tahoma';color:#fb4500;margin:6px 0 0;}
.sale-arrow{display:block;margin:5px 0 0 2px;width:124px;height:75px;background:url(../img/sale-arrow.png) 0 0 no-repeat;}



/*--------form--------*/
.order-wrap{border-radius:10px;padding:6px 0 8px 6px;margin:32px 0 0;background:url(../img/form-bg2.jpg) 100% 0 no-repeat, url(../img/form-bg.jpg) 0 0 repeat-x;}
.order-wrap.form-c:after{display:block;clear:both;}
.order-form{padding:10px 0 0 32px;width:532px;float:left;border-radius:6px;margin:-17px -20px 0 0;background:#fff;}
p.del-info{font:14px/16px 'Tahoma';margin:14px 60px 20px 0;color:#4a4948;}
p.del-info.act{margin-bottom:24px;}
.order-form h3{font:bold 28px/28px 'Tahoma',arial, sans-serif;margin:24px 0 0 0;padding:0;color:#4a4948;letter-spacing:;}
.order-form .subscribe{font:16px/21px arial;display:block;color:#000;margin:0 0 -4px 0;}
.order-form .subscribe p{font:16px/18px 'Trebuchet MS';color:#4a4948;margin:12px 0 18px;}
.order-form  .subscribe .bolder{font-weight:bold;}
.order-form .row{margin:0 0 11px 0;}
.order-form label{font: 13px/16px arial;color: #333;display: block;padding: 0 14px 2px 40px;}
.field-style .text, .order-form select{background: none;width:420px;font-size:14px;line-height:22px;height:23px;display:block;padding:2px 10px;border:1px solid #a7a7a7;
-webkit-box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.15);-moz-box-shadow:inset 0px -2px 5px rgba(0, 0, 0, 0.15);box-shadow: inset 0px -2px 5px rgba(0, 0, 0, 0.15);border-radius:6px;text-align:left;color:#000;vertical-align:middle;}
.order-form select{font-size: 19px;width: 300px;height:28px;font:14px arial;color:#000;}
.order-form .first{margin:0;}
.order-form .btn-submit{background: url(../img/send-button.png) no-repeat;width:295px;height:62px;overflow:hidden;margin:39px 0 70px 96px;display:block;border:none;cursor: pointer;}
.order-form .btn-submit:hover{background-position:0 100%;}

/*Form errors*/
.form .text{padding:0 0 0 10px;}
.form .text, .form select{height:30px;width:500px;line-height:30px;padding:0 0 0 10px;
  font-size:16px;border:1px solid #e2e2e2; -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;background: url(../img/input-bg.png) 0 0 no-repeat;text-align:left;color:#000;overflow:hidden;}
#order .rows-text{padding-bottom:14px;background: orange;}
.rows-text p{text-align:left;font: 14px 'Trebuchet MS';color:#6c6c6c;margin:24px 0 0 76px;}
input:focus{outline:none;}
.price-line{height:1px;width:460px;margin:8px auto -4px;background:#999}
.all-price{width:480px;margin:34px 0 0 7px;background:#feeac7;border-radius:6px;}
.all-price .row{margin:0;padding:14px 0 10px;background:#feeac7;color:#000;border-radius: 6px;width:480px;text-align:center;}
.all-price label, .main-row label{display:inline;}
.price-info, .price-info input{float:left;width:32%;font:12px arial;color:#333;}
.all-price input.text, .main-row input.text{width:auto;background:none;border:none;display:inline;margin:0;text-align: center;
padding:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-radius: 0;}
.all-price input.text{width:160px;text-align:center;}
.all-price input.text{font:bold 15px/15px 'Tahoma';color:#333;}
.all-price input.text:focus, .main-row input.text:focus{-webkit-box-shadow:none;-moz-box-shadow:none; box-shadow:none;border:none;outline:none;}

.main-row{margin:0 0 0 20px;font:16px verdana;color:#333;padding:14px 0 20px 0;}
.main-row input.text{font:26px/26px verdana;text-align: left;width:240px;padding:0 0 0 20px;margin:0;height:30px;}
.order-form .main-row label {display:inline-block;padding:0;margin:9px 0 0 18px;text-align:left;float:left;font:18px/18px verdana;height:16px;}
.row label.error {font: 14px/14px Tahoma;color:#e23d4d;width:320px;display:block;margin:4px 0 0 50px;padding:4px 0 4px 24px;background: url('../img/error-sign.png') 0 2px no-repeat;}


label.error div{width: 280px;color: #fff;text-align:center;position:absolute;z-index:9999;
  font:14px arial;background: url(../images/errors-bg.png) 0 0 no-repeat;margin:-20px 0 0 300px;display:block;height:70px;padding:20px 10px 0 20px;}
.row .text.error{border:1px solid #e35f25; outline:0;-webkit-box-shadow: 0px 0px 7px rgba(227, 95, 37, 0.5);-moz-box-shadow: 0px 0px 7px rgba(227, 95, 37, 0.5);box-shadow: 0px 0px 7px rgba(227, 95, 37, 0.5);}
.row .text:focus{border:1px solid #62bef1; outline:0; -webkit-box-shadow: 0 0 7px rgba(98,190,241,0.5); -moz-box-shadow: 0 0 7px rgba(98,190,241,0.5); box-shadow: 0 0 7px rgba(98,190,241,0.5);}
.valid-sign, .empty-sign{width:32px;height:26px;background:url(../img/valid-sign-bg.png) 0 0 no-repeat;display:inline-block;float:left;color:#fff;
font:18px 'Myriad Pro';padding:6px 0 0 0;margin:-4px 8px 0 0;text-align:center;}
.empty-sign{background:none;}
.row label.error {font: 14px/14px Tahoma;color:#e23d4d;width:320px;display:block;margin:4px 0 0 50px;padding:4px 0 4px 24px;background: url('../img/error-sign.png') 0 2px no-repeat;}
.clearfix{clear:both;}
.row.error .valid-sign{background-position: 0 -67px;}
.row.error .label-holder{color:red;}
.row.valid .valid-sign{background-position: 0 -34px;}
.row.valid label{color:#000;}
.order-img{width: 270px;margin: 40px 0 28px 134px;}
.order-img{text-align:center;}
.show-scheme {font: 26px 'DINCondensedC';color:#4497c4;text-decoration:none;margin-bottom:2px;border-bottom: 2px dashed #4497c4;text-align: center;display:inline-block;}
.show-scheme:hover{text-decoration:none;}
#delivery-scheme {display: none;margin-top: 16px;}
/*-----order-end------*/
/*----dop-product----*/
.other-product{width:400px;float:right;position:relative;margin:-24px -1px 0 0;background:url(../img/form-bg2.jpg) 100% 0 no-repeat;}
.banner-label{height:126px;width:132px;background:url(../images/action-label.png) 0 0;position:absolute;right:-34px;top:-18px;}
.other-product h4{padding:4px 0;font:bold 40px/40px 'Tahoma', arial;margin:50px 0 0 12px;color:#5d0127;}
.other-product p{margin:10px 0 19px 14px;font:20px/22px 'Tahoma', arial;color:#5d0127;}
.other-product .colored{color:;font-weight:bold;}
.other-product .bolder{font-weight:bold;}
.product-list{padding:0;margin:32px 0 0;}
.product-list li{height:174px;width:346px;background:#fff;margin:8px 0 0 4px;list-style:none;padding:0 0 0 14px;border-radius:4px;-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);}
.product-list li.active{background:#ffecbb;}
.col-left{width:156px;float:left;position:relative;}
.product-img{z-index:1;position:relative;}
.product-img img{height:130px;width:130px;margin:14px 0 0 4px;}
.product-price{background: url(../img/price-bg.png) 0 0 no-repeat;height:46px;width:148px;margin:-34px 0 0 -6px;z-index:999;padding:6px 0 0;position:relative;text-align:center;}
.old-price{color:#ff003a;font:13px 'Tahoma';display:inline-block;padding:0;text-decoration:line-through;}
.price{color:#000;font:bold 14px/14px verdana;}
.col-right{float:left;width:180px;}
.product-title{font:bold 16px/16px 'Tahoma';width:180px;color:#000;padding:34px 0 0 0;height:56px;display:inline-block;vertical-align:middle;}
.show-description{display:inline-block;margin:0;font:13px/13px 'Tahoma';color:#0066cc;text-decoration:none;border-bottom:1px dashed #0066cc;}
.product-description{display:none;}
.show-description:hover{color:#ff003a;text-decoration:none;border-bottom:1px dashed #ff003a;}
.add-product{width:170px;height:42px;cursor:pointer;margin:10px 6px 0 0;background: url(../img/add-order.png) 0 0 no-repeat;}
.hidden-inp{position:relative;}
.check-wrap{height:20px;width:120px;position:relative;z-index:9999;background:red;}
.check-wrap input{background:transparent;position:relative;z-index:1;height:20px;width:120px;border:none;outline:none;}
.add-product.active{background-position:0 -49px;}
/*----lightbox-----*/
#cboxLoadedContent .product-price{margin:30px 0 0 30px;}
#cboxLoadedContent .product-title{font:bold 17px arial;margin:0;height:auto;padding:34px 0 6px;}
#cboxLoadedContent .col-left{width:196px;float:left;text-align:center;position:relative;min-height:380px;}
#cboxLoadedContent .product-description{display:block;}
#cboxLoadedContent .col-left img{margin:24px 0 0;}
#cboxLoadedContent .col-left{margin:30px 0 0 30px;}
#cboxLoadedContent li{list-style:none;}
#cboxLoadedContent .col-right{width:560px;float:left;}
#cboxLoadedContent .show-description{display:none;}
#cboxLoadedContent .add-product{display:block;height:62px;width:244px;background:url(../img/add-order2.png) 0 0 no-repeat;}
#cboxLoadedContent .add-product.active{background-position:0 -70px;}
/*----dop-product-end---*/
.footer{text-align:center;}
.cont-info{color:#000;font:12px/12px 'Tahoma';}
.rekv{font:11px/13px 'Tahoma';color:#595959;margin:12px 0 14px;}

.block3-left {
width: 510px;
height: 282px;
position: relative;
text-align: center;
left:207px;
top:-21px;
}
.block3-left .p3 span {
font-size: 23px;
color: #000;
text-decoration: line-through;
}
.block3-left .p3 span.rb {
text-decoration: none;
font-size: 16px;
}
.block3-left .p4 span {
font-size: 28px;
font-weight: 700;
color: #700D0B;
}
.block3-left .p4 span.rb {
font-size: 20px;
font-weight: 500;
color: #700D0B;
}
.block3-left .p1 {
font: bold 20px 'PT Sans', sans-serif;
margin: 12px 0 4px 0;
color: #700D0B;
}
.block3-left ul {
width: 340px;
height: 51px;
float: left;
padding-top: 25px;
position: relative;
top: -7px;
left: 84px;
}
#countdown_dashboard {
	height: 50px;
	width: 340px;	
	position: absolute; top: 78px; left: 85px;
	padding-left: 5px;
	display: block;
}
#countdown_dashboard2 {
	height: 50px;
	width: 340px;	
	position: absolute; top: 108px; left: 85px;
	padding-left: 5px;
	display: block;
}
.dash {
	text-align: center;
	height: 50px;	
	text-align: center;	
	float: left;	
	margin-right: 20px;
	position: relative;
}
.dash .digit {
	font-size: 40px;
	font-weight: bold;
	height: 45px;
	width: 20px;
	float: left;
	padding: 0 3px;
	margin-right: 7px;	
	font-family: 'Cuprum';
	color: #fff;
	position: relative;
}
.seconds_dash{
	margin-right: 0;
	position: relative; top: 0; left: -3px;
}
.block3-left .p2 {
font: 25px 'PT Sans', sans-serif;
margin-top: -4px;
clear: left;
}
.block3-left .p3 {
font: 12px 'PT Sans', sans-serif;
text-align: left;
position: relative;
top: 0px;
left: 8px;
}
.block3-left .p4 {
font: 15px 'PT Sans', sans-serif;
text-align: left;
color: #000;
position: relative;
top: -14px;
left: 2px;
}
.block3-left ul li {
float: left;
display: block;
background: url('../img/cdw.png') no-repeat;
color: #000;
height: 76px;
width: 84px;
}
.block3-left ul li span {
position: relative;
top: -25px;
left: -5px;
font: 16px 'PT Sans', sans-serif;
}