@font-face {
	font-family: 'PFDinTextCondPro-Bold';
	src: url('../fonts/PFDinTextCondPro-Bold.eot');
	src: url('../fonts/PFDinTextCondPro-Bold.eot') format('embedded-opentype'),
		 url('../fonts/PFDinTextCondPro-Bold.woff') format('woff'),
		 url('../fonts/PFDinTextCondPro-Bold.ttf') format('truetype'),
		 url('../fonts/PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'PFDinTextCondPro-BoldIt';
	src: url('../fonts/PFDinTextCondPro-BoldItal.eot');
	src: url('../fonts/PFDinTextCondPro-BoldItal.eot') format('embedded-opentype'),
		 url('../fonts/PFDinTextCondPro-BoldItal.woff') format('woff'),
		 url('../fonts/PFDinTextCondPro-BoldItal.ttf') format('truetype'),
		 url('../fonts/PFDinTextCondPro-BoldItal.svg#PFDinTextCondPro-BoldIt') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'PFDinTextCondPro-Medium';
	src: url('../fonts/PFDinTextCondPro-Medium.eot');
	src: url('../fonts/PFDinTextCondPro-Medium.eot') format('embedded-opentype'),
		 url('../fonts/PFDinTextCondPro-Medium.woff') format('woff'),
		 url('../fonts/PFDinTextCondPro-Medium.ttf') format('truetype'),
		 url('../fonts/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'PFDinTextCondPro-Italic';
	src: url('../fonts/PFDinTextCondPro-Italic.eot');
	src: url('../fonts/PFDinTextCondPro-Italic.eot') format('embedded-opentype'),
		 url('../fonts/PFDinTextCondPro-Italic.woff') format('woff'),
		 url('../fonts/PFDinTextCondPro-Italic.ttf') format('truetype'),
		 url('../fonts/PFDinTextCondPro-Italic.svg#PFDinTextCondPro-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'PFDinTextCondPro-Regular';
	src: url('../fonts/PFDinTextCondPro-Regular.eot');
	src: url('../fonts/PFDinTextCondPro-Regular.eot') format('embedded-opentype'),
		 url('../fonts/PFDinTextCondPro-Regular.woff') format('woff'),
		 url('../fonts/PFDinTextCondPro-Regular.ttf') format('truetype'),
		 url('../fonts/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}