body
{
   margin: 0;
   padding: 0;
   background-color: #FFFFFF;
   color: #000000;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-size: 16px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000080;
   background-color: #FFFFFF;
   background-image: url(images/b2.png);
   background-repeat: no-repeat;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}
#wb_Form2
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Image9
{
   border: 0px #000000 solid;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#Editbox1
{
   border: 1px #A9A9A9 none;
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: center;
   vertical-align: middle;
}
#Editbox2
{
   border: 1px #A9A9A9 none;
   background-color: transparent;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: center;
   vertical-align: middle;
}
#Button1
{
}
